.version.brussels_bombing_0401 /* version checker */
{
	color: #00000B;
	background-color: #196CC9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 380px;
}

#pu14311
{
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14311,#u14311-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14122
{
	z-index: 4;
}

#u14123
{
	z-index: 5;
}

#u14124-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14124-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14125
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14161
{
	z-index: 11;
	min-height: 181px;
}

#u14165
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14167-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14172
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14174-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14209
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14210-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14228
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14231-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14249
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14251-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14270
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14272-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14291
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14165.MuseMenuActive,#u14172.MuseMenuActive,#u14209.MuseMenuActive,#u14228.MuseMenuActive,#u14249.MuseMenuActive,#u14270.MuseMenuActive,#u14291.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14293-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14165.MuseMenuActive #u14167-4,#u14172.MuseMenuActive #u14174-4,#u14209.MuseMenuActive #u14210-4,#u14228.MuseMenuActive #u14231-4,#u14249.MuseMenuActive #u14251-4,#u14270.MuseMenuActive #u14272-4,#u14291.MuseMenuActive #u14293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14161-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14122-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u14322
{
	z-index: 54;
	position: relative;
	margin-right: -10000px;
	width: 43.16%;
}

#pu26812
{
	margin-top: 1px;
	width: 100%;
}

#u26812
{
	z-index: 105;
	height: 221px;
	background: transparent url("../../images/750x-1.jpg") no-repeat left top;
	background-size: cover;
}

#u26812-bw
{
	z-index: 105;
	height: 221px;
}

#u19827-9
{
	z-index: 106;
	min-height: 29px;
	background-color: #F5F5F5;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u19827-2,#u19827-3
{
	font-size: 15px;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u19827-7
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 7px;
	padding-left: 10px;
}

#u19827-5
{
	color: #EDA900;
	font-weight: bold;
}

#u19827-9-bw
{
	z-index: 106;
	min-height: 29px;
	margin-top: 173px;
}

#u19828-6
{
	z-index: 115;
	min-height: 25px;
	background-color: transparent;
	line-height: 8px;
	font-size: 7px;
}

#u19828-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u19828-4
{
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
}

#u19828-6-bw
{
	z-index: 115;
	min-height: 25px;
	margin-top: 4px;
}

#u19829-43
{
	z-index: 121;
	min-height: 1180px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
}

#u19829-2,#u19829-3,#u19829-5,#u19829-6,#u19829-8,#u19829-9,#u19829-11,#u19829-12,#u19829-14,#u19829-15,#u19829-17,#u19829-18,#u19829-20,#u19829-21,#u19829-23,#u19829-24,#u19829-26,#u19829-27,#u19829-29,#u19829-30,#u19829-32,#u19829-33,#u19829-35,#u19829-36,#u19829-38,#u19829-39,#u19829-41
{
	padding-right: 30px;
	padding-left: 30px;
}

#u19829-43-bw
{
	z-index: 121;
	min-height: 1180px;
	margin-top: 11px;
}

#pu27076
{
	margin-top: 7px;
	width: 100%;
}

#u27076
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 32.64%;
}

#u27077
{
	z-index: 100;
	width: 100%;
}

#u27078
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	width: 10.27%;
	left: 44.74%;
}

#u27079
{
	z-index: 102;
	width: 100%;
}

#u27080
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 56.85%;
}

#u27081
{
	z-index: 104;
	width: 100%;
}

#pu14000
{
	margin-top: 11px;
	width: 100%;
}

#u14000,#u14000-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14391
{
	z-index: 56;
	min-height: 120px;
}

#u14395
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14397-4
{
	min-height: 14px;
	position: relative;
}

#u14402
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14404-4
{
	min-height: 14px;
	position: relative;
}

#u14439
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14440-4
{
	min-height: 14px;
	position: relative;
}

#u14460
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14463-4
{
	min-height: 14px;
	position: relative;
}

#u14481
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14484-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14502
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14504-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14521
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14395.MuseMenuActive,#u14402.MuseMenuActive,#u14439.MuseMenuActive,#u14460.MuseMenuActive,#u14481.MuseMenuActive,#u14502.MuseMenuActive,#u14521.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14524-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14395.MuseMenuActive #u14397-4,#u14402.MuseMenuActive #u14404-4,#u14439.MuseMenuActive #u14440-4,#u14460.MuseMenuActive #u14463-4,#u14481.MuseMenuActive #u14484-4,#u14502.MuseMenuActive #u14504-4,#u14521.MuseMenuActive #u14524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14169,#u14206,#u14227,#u14248,#u14269,#u14290,#u14399,#u14436,#u14457,#u14478,#u14499,#u14520
{
	margin-top: 2px;
}

#menuu14391-bw
{
	z-index: 56;
	min-height: 120px;
	margin-top: 3px;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}

#u14322_img
{
	width: 100.61%;
}


