.version.index /* version checker */
{
	color: #00000C;
	background-color: #226FC1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14557,#u14557-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14559
{
	z-index: 4;
}

#u14560
{
	z-index: 5;
}

#u14612-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u14561
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14562
{
	z-index: 11;
	min-height: 181px;
}

#u14599
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14600-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14606
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14609-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14571
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14573-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14566
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14568-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14578
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14581-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14585
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14587-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14592
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u14595-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#menuu14562-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14559-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u14613
{
	z-index: 54;
	width: 164px;
	position: relative;
	margin-right: -10000px;
}

#u26186
{
	z-index: 105;
	height: 252px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../../images/nanohigh%20class%20visit%20-%205.jpg") no-repeat left top;
}

#u26186-bw
{
	z-index: 105;
	height: 252px;
}

#u25935-4
{
	z-index: 106;
	min-height: 80px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #F5F5F5;
	text-align: left;
	font-size: 24px;
}

#u25935-2
{
	padding-right: 12px;
	padding-left: 10px;
}

#u25935-4-bw
{
	z-index: 106;
	min-height: 80px;
}

#u26645-4
{
	z-index: 133;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 18px;
}

#u26645-4-bw
{
	z-index: 133;
	min-height: 32px;
	margin-top: 220px;
}

#u26581
{
	z-index: 110;
	height: 210px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../../images/cassidy-panama-papers-american-names-1200.jpg") no-repeat right center;
	background-size: cover;
}

#u26581-bw
{
	z-index: 110;
	height: 210px;
}

#u26604-4
{
	z-index: 113;
	min-height: 80px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
}

#u26604-4-bw
{
	z-index: 113;
	min-height: 80px;
}

#u26642-4
{
	z-index: 137;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 18px;
}

#u26642-4-bw
{
	z-index: 137;
	min-height: 32px;
	margin-top: 178px;
}

#pu14557,#pu26581,#pu26628
{
	width: 0.01px;
}

#u26628
{
	z-index: 141;
	height: 227px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../../images/laser%20tag%202.jpg") no-repeat left top;
	background-size: cover;
}

#u26628-bw
{
	z-index: 141;
	height: 227px;
}

#u26639-4
{
	z-index: 142;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 18px;
}

#u26639-4-bw
{
	z-index: 142;
	min-height: 32px;
	margin-top: 195px;
}

#u26649-4
{
	z-index: 146;
	min-height: 80px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	letter-spacing: 0px;
}

#u26604-2,#u26649-2
{
	font-size: 24px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	color: #F5F5F5;
}

#u26649-4-bw
{
	z-index: 146;
	min-height: 80px;
}

#pu26592
{
	width: 0.01px;
	margin-top: -2px;
}

#u26592
{
	z-index: 111;
	height: 210px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../../images/3-d-printing-drug_sham.jpg") no-repeat center center;
	background-size: cover;
}

#u26592-bw
{
	z-index: 111;
	height: 210px;
}

#u26619-4
{
	z-index: 117;
	min-height: 80px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 24px;
}

#u26619-4-bw
{
	z-index: 117;
	min-height: 80px;
}

#u26625-4
{
	z-index: 125;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 18px;
}

#u26625-4-bw
{
	z-index: 125;
	min-height: 32px;
	margin-top: 178px;
}

#u26652
{
	z-index: 112;
	height: 210px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../../images/just-out-new-guidelines-on-how-to-treat-opioid-addiction-800x560.jpg") no-repeat center center;
	background-size: cover;
}

#u26652-bw
{
	z-index: 112;
	height: 210px;
}

#u26655-4
{
	z-index: 121;
	min-height: 80px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 24px;
}

#u26655-4-bw
{
	z-index: 121;
	min-height: 80px;
}

#u26658-4
{
	z-index: 129;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #F5F5F5;
	font-size: 18px;
}

#u26645-2,#u26642-2,#u26639-2,#u26619-2,#u26625-2,#u26655-2,#u26658-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u26658-4-bw
{
	z-index: 129;
	min-height: 32px;
	margin-top: 178px;
}

#pu26186,#pu26652,#pu14558
{
	width: 0.01px;
	margin-top: 1px;
}

#u14558,#u14558-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14615
{
	z-index: 56;
	min-height: 120px;
}

#u14661
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14662-4
{
	min-height: 14px;
	position: relative;
}

#u14640
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14643-4
{
	min-height: 14px;
	position: relative;
}

#u14617
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14618-4
{
	min-height: 14px;
	position: relative;
}

#u14645
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14646-4
{
	min-height: 14px;
	position: relative;
}

#u14624
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14626-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14631
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14634-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14654
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px;
}

#u14656-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	margin-top: 2px;
}

#menuu14615-bw
{
	z-index: 56;
	min-height: 120px;
	margin-top: 3px;
}

#u27134
{
	z-index: 99;
	width: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 282px;
}

#u27135
{
	z-index: 100;
}

#u27136
{
	z-index: 101;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 317px;
}

#u27137
{
	z-index: 102;
}

#u27138
{
	z-index: 103;
	width: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 351px;
}

#u27139
{
	z-index: 104;
}

.html
{
	background-color: #323232;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}


