	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14613
	{
		width: 43.16%;
	}

	#accordionu14559
	{
		margin-top: 8px;
		width: 40%;
		left: 57.37%;
	}

	#u14561
	{
		padding-bottom: 6px;
	}

	#menuu14562
	{
		margin-top: 2px;
		width: 92.77%;
		left: 6.58%;
	}

	#u14557,#u14557-bw
	{
		min-height: 42px;
	}

	#menuu14615
	{
		width: 31.32%;
		left: 1.32%;
	}

	#pu14665
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14665
	{
		width: 109px;
	}

	#u14613_img
	{
		width: 100.61%;
	}

