	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14322
	{
		width: 43.16%;
	}

	#accordionu14122
	{
		width: 40%;
		left: 57.37%;
	}

	#menuu14161
	{
		width: 92.77%;
		left: 6.58%;
	}

	#u14228
	{
		min-height: 17px;
		padding-bottom: 7px;
	}

	#u14228.MuseMenuActive
	{
		min-height: 17px;
	}

	#u14231-4
	{
		min-height: 17px;
		top: 3px;
	}

	#u14228.MuseMenuActive #u14231-4
	{
		margin-bottom: 0px;
		min-height: 17px;
	}

	#u19504
	{
		width: 100.27%;
		margin-left: 0.14%;
	}

	#u19507-6
	{
		margin-top: 3px;
		width: 96.58%;
		margin-left: 0.79%;
	}

	#u19506-4
	{
		width: 95.27%;
		margin-left: 2.11%;
	}

	#u19509-4
	{
		width: 29.22%;
		left: 6.06%;
	}

	#u19503-4
	{
		width: 32.64%;
		left: 60.79%;
	}

	#u19508-25
	{
		width: 87.37%;
		margin-left: 6.06%;
	}

	#menuu14391
	{
		width: 31.32%;
		left: 1.32%;
	}

	#u19504_img,#u14395
	{
		width: 100%;
	}

	#u14395.MuseMenuActive,#u14402
	{
		width: 100%;
	}

	#u14402.MuseMenuActive,#u14439
	{
		width: 100%;
	}

	#u14460
	{
		min-height: 14px;
		padding-bottom: 1px;
		width: 100%;
	}

	#u14460.MuseMenuActive
	{
		min-height: 14px;
		width: 100%;
	}

	#u14463-4
	{
		min-height: 14px;
	}

	#u14460.MuseMenuActive #u14463-4
	{
		margin-bottom: 0px;
		min-height: 14px;
	}

	#u14439.MuseMenuActive,#u14481
	{
		width: 100%;
	}

	#u14481.MuseMenuActive,#u14502
	{
		width: 100%;
	}

	#u14502.MuseMenuActive,#u14521
	{
		width: 100%;
	}

	#u14521.MuseMenuActive
	{
		width: 100%;
	}

	#pu14542
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14322_img
	{
		width: 100.61%;
	}

