	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14322
	{
		width: 43.16%;
	}

	#accordionu14122
	{
		width: 40%;
		left: 57.37%;
	}

	#menuu14161
	{
		width: 92.77%;
		left: 6.58%;
	}

	#u21251-4
	{
		width: 95.27%;
		margin-left: 2.37%;
	}

	#u21253-4
	{
		width: 29.22%;
		left: 6.32%;
	}

	#u21250-4
	{
		width: 32.64%;
		left: 61.06%;
	}

	#u21252-43
	{
		width: 87.37%;
		margin-left: 6.32%;
	}

	#menuu14391
	{
		width: 31.32%;
		left: 1.32%;
	}

	#pu14542
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14322_img
	{
		width: 100.61%;
	}

