	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14322
	{
		width: 43.16%;
	}

	#accordionu14122
	{
		width: 40%;
		left: 57.37%;
	}

	#menuu14161
	{
		width: 92.77%;
		left: 6.58%;
	}

	#u24785
	{
		width: 100.27%;
		margin-left: 0.14%;
	}

	#u24785_img
	{
		width: 100%;
	}

	#u24784-4
	{
		margin-top: 3px;
		width: 96.58%;
		margin-left: 0.79%;
	}

	#u24787-5
	{
		width: 95.27%;
		margin-left: 2.11%;
	}

	#pu24788-4
	{
		margin-top: 2px;
	}

	#u24788-4
	{
		width: 29.22%;
		left: 6.06%;
	}

	#u24782-4
	{
		width: 32.64%;
		left: 60.79%;
	}

	#u24783-28
	{
		min-height: 1108px;
		width: 87.37%;
		margin-left: 6.06%;
	}

	#menuu14391
	{
		width: 31.32%;
		left: 1.32%;
	}

	#pu14542
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14322_img
	{
		width: 100.61%;
	}

