	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14613
	{
		width: 43.16%;
	}

	#accordionu14559
	{
		margin-top: 8px;
		width: 40%;
		left: 57.37%;
	}

	#u14561
	{
		padding-bottom: 6px;
	}

	#menuu14562
	{
		margin-top: 2px;
		width: 92.77%;
		left: 6.58%;
	}

	#u14599
	{
		width: 100%;
	}

	#u14599.MuseMenuActive,#u14606
	{
		width: 100%;
	}

	#u14606.MuseMenuActive,#u14571
	{
		width: 100%;
	}

	#u14566
	{
		min-height: 17px;
		padding-bottom: 7px;
		width: 100%;
	}

	#u14566.MuseMenuActive
	{
		min-height: 17px;
		width: 100%;
	}

	#u14568-4
	{
		min-height: 17px;
		top: 3px;
	}

	#u14566.MuseMenuActive #u14568-4
	{
		margin-bottom: 0px;
		min-height: 17px;
	}

	#u14571.MuseMenuActive,#u14578
	{
		width: 100%;
	}

	#u14578.MuseMenuActive,#u14585
	{
		width: 100%;
	}

	#u14585.MuseMenuActive,#u14592
	{
		width: 100%;
	}

	#u14557,#u14557-bw
	{
		min-height: 42px;
	}

	#menuu14615
	{
		width: 31.32%;
		left: 1.32%;
	}

	#u14592.MuseMenuActive,#u14661
	{
		width: 100%;
	}

	#u14661.MuseMenuActive,#u14640
	{
		width: 100%;
	}

	#u14640.MuseMenuActive,#u14617
	{
		width: 100%;
	}

	#u14645
	{
		min-height: 14px;
		padding-bottom: 1px;
		width: 100%;
	}

	#u14645.MuseMenuActive
	{
		min-height: 14px;
		width: 100%;
	}

	#u14646-4
	{
		min-height: 14px;
	}

	#u14645.MuseMenuActive #u14646-4
	{
		margin-bottom: 0px;
		min-height: 14px;
	}

	#u14617.MuseMenuActive,#u14624
	{
		width: 100%;
	}

	#u14624.MuseMenuActive,#u14631
	{
		width: 100%;
	}

	#u14631.MuseMenuActive,#u14654
	{
		width: 100%;
	}

	#u14654.MuseMenuActive
	{
		width: 100%;
	}

	#pu14665
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14665
	{
		width: 109px;
	}

	#u14613_img
	{
		width: 100.61%;
	}

