	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 570px;
		max-width: 380px;
	}

	#u21524-9-bw
	{
		z-index: 104;
		min-height: 29px;
		margin-top: 19px;
	}

	#u21523-31
	{
		min-height: 1269px;
	}

	#u21523-31-bw
	{
		z-index: 113;
		min-height: 1269px;
		margin-top: 25px;
	}

	#u27076
	{
		width: 10.53%;
		left: 32.64%;
	}

	#u27078
	{
		width: 10.27%;
		left: 44.74%;
	}

	#u27080
	{
		width: 10.53%;
		left: 56.85%;
	}


