	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14322
	{
		width: 43.16%;
	}

	#accordionu14122
	{
		width: 40%;
		left: 57.37%;
	}

	#menuu14161
	{
		width: 92.77%;
		left: 6.58%;
	}

	#u21666
	{
		width: 100.27%;
		margin-left: 0.14%;
	}

	#u21666_img
	{
		width: 100%;
	}

	#u21665-4
	{
		margin-top: 3px;
		width: 96.58%;
		margin-left: 0.79%;
	}

	#u21670-4
	{
		width: 95.27%;
		margin-left: 2.11%;
	}

	#pu21668-4
	{
		margin-top: 2px;
	}

	#u21668-4
	{
		width: 29.22%;
		left: 6.06%;
	}

	#u21671-4
	{
		width: 32.64%;
		left: 60.79%;
	}

	#u21669-134
	{
		min-height: 2155px;
		width: 87.37%;
		margin-left: 6.06%;
	}

	#menuu14391
	{
		width: 31.32%;
		left: 1.32%;
	}

	#pu14542
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14322_img
	{
		width: 100.61%;
	}

