.version.opinions /* version checker */
{
	color: #0000F6;
	background-color: #49390D;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-color: #000000;
	background-color: transparent;
	background-image: none;
	width: 100%;
	border-width: 0px;
	z-index: 1;
	min-height: 570px;
}

#page_position_content
{
	margin-bottom: -56px;
	width: 100%;
}

#u14557,#u14557-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14559
{
	z-index: 4;
}

#u14560
{
	z-index: 5;
}

#u14612-4
{
	min-height: 14px;
	padding-bottom: 10px;
	padding-left: 10px;
	z-index: 6;
	padding-top: 10px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14561
{
	padding-bottom: 6px;
	z-index: 10;
}

#menuu14562
{
	z-index: 11;
	min-height: 181px;
}

#u14599,#u14606,#u14571,#u14566,#u14578,#u14585
{
	padding-bottom: 7px;
	min-height: 17px;
	position: relative;
}

#u14600-4,#u14609-4,#u14573-4,#u14568-4,#u14581-4,#u14587-4
{
	top: 3px;
	position: relative;
	min-height: 17px;
}

#u14592
{
	padding-bottom: 8px;
	min-height: 17px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14595-4
{
	top: 4px;
	position: relative;
	min-height: 17px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14562-bw
{
	margin-top: 2px;
	z-index: 11;
	min-height: 181px;
}

#accordionu14559-bw
{
	margin-top: 8px;
	z-index: 4;
}

#u31407,#u31407-bw
{
	z-index: 103;
	height: 43px;
}

#u23276-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 38px;
	font-size: 32px;
	background-color: transparent;
	color: #002C73;
	z-index: 104;
	min-height: 43px;
}

#u23276-2
{
	padding-left: 20px;
	padding-right: 20px;
}

#u23277
{
	border-style: solid;
	z-index: 108;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 2px 0px 0px;
}

#u23287-4
{
	line-height: 18px;
	background-color: transparent;
	z-index: 121;
	min-height: 43px;
}

#u23287-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
}

#u23287-2
{
	text-align: left;
	color: #000000;
	padding-left: 30px;
	font-size: 15px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	padding-right: 30px;
}

#u23288-8
{
	line-height: 14px;
	background-color: transparent;
	z-index: 125;
	min-height: 29px;
}

#u23289-4
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	color: #7F7F7F;
	z-index: 133;
	min-height: 102px;
}

#u23278
{
	z-index: 109;
	background-color: transparent;
	border-style: solid;
	border-color: #EDA900;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u31731
{
	z-index: 277;
	height: 92px;
	background: transparent url("../../images/just-out-new-guidelines-on-how-to-treat-opioid-addiction-800x560.jpg") no-repeat center center;
	background-size: cover;
}

#u31731-bw
{
	z-index: 277;
	height: 92px;
}

#u23279
{
	border-style: solid;
	z-index: 110;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23281
{
	border-style: solid;
	z-index: 111;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23296-9
{
	text-align: right;
	line-height: 14px;
	background-color: transparent;
	z-index: 138;
	min-height: 29px;
}

#u23296-7
{
	color: #7F7F7F;
	padding-right: 30px;
	padding-left: 30px;
}

#u23294-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 151;
	min-height: 30px;
}

#u23294-4:hover
{
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
}

#u23294-2
{
	text-align: right;
	padding-right: 30px;
	color: #000000;
	padding-left: 30px;
	font-size: 14px;
}

#u23307-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 178;
	min-height: 21px;
}

#u23312-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 241;
	min-height: 48px;
}

#u23295
{
	border-style: solid;
	z-index: 137;
	position: relative;
	border-color: #002C73;
	background-color: transparent;
	height: 13px;
	border-width: 2px 0px 0px;
}

#u23291-4
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	color: #7F7F7F;
	z-index: 147;
	min-height: 39px;
}

#u23302-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	color: #7F7F7F;
	z-index: 163;
	min-height: 29px;
}

#u23302-3
{
	color: #EDA900;
}

#u23306-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 174;
	min-height: 50px;
}

#u23306-4:hover
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
}

#u23282
{
	border-style: solid;
	z-index: 112;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23304-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 170;
	min-height: 50px;
}

#u23304-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
}

#u23300-8
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 155;
	min-height: 29px;
}

#u23286
{
	border-style: solid;
	z-index: 119;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23308-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 185;
	min-height: 21px;
}

#u23313-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 245;
	min-height: 48px;
}

#u23283
{
	border-style: solid;
	z-index: 113;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23314-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 253;
	min-height: 48px;
}

#u23284
{
	border-style: solid;
	z-index: 115;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23309-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 199;
	min-height: 54px;
}

#u23315-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 261;
	min-height: 48px;
}

#u23285
{
	border-style: solid;
	z-index: 117;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23310-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 213;
	min-height: 54px;
}

#u23316-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 269;
	min-height: 48px;
}

#u23311-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 227;
	min-height: 25px;
}

#u23435
{
	border-style: solid;
	z-index: 120;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#pu23429-7
{
	margin-top: -1px;
	width: 100%;
}

#u23429-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 192;
	min-height: 21px;
}

#u23432-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 249;
	min-height: 48px;
}

#u23312-4:hover,#u23313-4:hover,#u23432-4:hover
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
}

#u23426
{
	border-style: solid;
	z-index: 114;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23423-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 257;
	min-height: 48px;
}

#pu14557,#pu23308-7,#pu23284,#pu23417
{
	width: 100%;
}

#u23417
{
	border-style: solid;
	z-index: 116;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23420-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 206;
	min-height: 54px;
}

#u23414-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 265;
	min-height: 48px;
}

#u23314-4:hover,#u23423-4:hover,#u23414-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
}

#pu23285,#pu23411
{
	margin-top: 3px;
	width: 100%;
}

#u23411
{
	border-style: solid;
	z-index: 118;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23408-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 220;
	min-height: 54px;
}

#u23405-4
{
	line-height: 17px;
	background-color: transparent;
	z-index: 273;
	min-height: 48px;
}

#u23315-4:hover,#u23316-4:hover,#u23405-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
}

#u23287-4:hover p,#u23294-4:hover p,#u23312-4:hover p,#u23306-4:hover p,#u23304-4:hover p,#u23313-4:hover p,#u23314-4:hover p,#u23315-4:hover p,#u23316-4:hover p,#u23432-4:hover p,#u23423-4:hover p,#u23414-4:hover p,#u23405-4:hover p
{
	visibility: inherit;
	color: #EDA900;
}

#u23312-2,#u23306-2,#u23304-2,#u23313-2,#u23314-2,#u23315-2,#u23316-2,#u23432-2,#u23423-2,#u23414-2,#u23405-2
{
	padding-right: 30px;
	color: #000000;
	padding-left: 30px;
	font-size: 14px;
}

#u23402-7
{
	text-align: center;
	line-height: 14px;
	background-color: transparent;
	z-index: 234;
	min-height: 54px;
}

#u23288-6,#u23289-2,#u23296-5,#u23307-5,#u23291-2,#u23302-5,#u23300-6,#u23308-5,#u23309-5,#u23310-5,#u23311-5,#u23429-5,#u23420-5,#u23408-5,#u23402-5
{
	padding-left: 30px;
	padding-right: 30px;
}

#u23288-3,#u23296-3,#u23307-3,#u23302-2,#u23300-3,#u23308-3,#u23309-3,#u23310-3,#u23311-3,#u23429-3,#u23420-3,#u23408-3,#u23402-3
{
	font-weight: bold;
	color: #EDA900;
}

#u23288,#u23288-5,#u23296,#u23307,#u23307-4,#u23300,#u23300-5,#u23308,#u23308-4,#u23309,#u23309-4,#u23310,#u23310-4,#u23311,#u23311-4,#u23429,#u23429-4,#u23420,#u23420-4,#u23408,#u23408-4,#u23402,#u23402-4
{
	color: #7F7F7F;
}

#pu14558
{
	margin-top: 1px;
	width: 100%;
}

#u14558,#u14558-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14615
{
	z-index: 54;
	min-height: 120px;
}

#u14661,#u14640,#u14617,#u14645
{
	padding-bottom: 1px;
	min-height: 14px;
	position: relative;
}

#u14662-4,#u14643-4,#u14618-4,#u14646-4
{
	position: relative;
	min-height: 14px;
}

#u14624,#u14631,#u14654
{
	padding-bottom: 2px;
	min-height: 14px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14626-4,#u14634-4,#u14656-4
{
	top: 1px;
	position: relative;
	min-height: 14px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	margin-top: 2px;
}

#menuu14615-bw
{
	margin-top: 3px;
	z-index: 54;
	min-height: 120px;
}

#u27134
{
	margin-right: -10000px;
	margin-top: 94px;
	z-index: 97;
	position: relative;
}

#u27135
{
	z-index: 98;
	width: 100%;
}

#u27136
{
	margin-right: -10000px;
	margin-top: 94px;
	z-index: 99;
	position: relative;
}

#u27137
{
	z-index: 100;
	width: 100%;
}

#u27138
{
	margin-right: -10000px;
	margin-top: 94px;
	z-index: 101;
	position: relative;
}

#u27139
{
	z-index: 102;
	width: 100%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 321px)
{
	#u23316-4:hover,#u23405-4:hover,#u23315-4:hover
	{
		margin-left: 0px;
		margin-bottom: 0px;
	}

	#u23314-4:hover,#u23287-4:hover,#u23423-4:hover,#u23304-4:hover,#u23414-4:hover
	{
		margin-left: 0px;
	}

	#u23294-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}

	#u23306-4:hover,#u23312-4:hover,#u23432-4:hover,#u23313-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
	}

	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u23276-4-bw
	{
		z-index: 104;
		min-height: 43px;
		margin-top: 28px;
	}

	#u23277-bw
	{
		z-index: 108;
		margin-top: -1px;
		margin-bottom: -1px;
		height: 21px;
	}

	#u23287-4-bw
	{
		z-index: 121;
		min-height: 43px;
	}

	#u23289-4-bw
	{
		z-index: 133;
		min-height: 102px;
		margin-top: 7px;
	}

	#u23288-8-bw
	{
		z-index: 125;
		min-height: 29px;
		margin-top: 6px;
	}

	#u23278-bw
	{
		z-index: 109;
		margin-top: 14px;
		height: 21px;
	}

	#u23294-4-bw
	{
		z-index: 151;
		min-height: 30px;
	}

	#u23296-9-bw
	{
		z-index: 138;
		min-height: 29px;
		margin-top: 7px;
	}

	#u23295
	{
		margin-top: 5px;
		width: 30.27%;
		margin-left: 7.37%;
	}

	#u23291-4-bw
	{
		z-index: 147;
		min-height: 39px;
	}

	#u23279-bw
	{
		z-index: 110;
		margin-top: 13px;
		height: 21px;
	}

	#u23312-4-bw
	{
		z-index: 241;
		min-height: 48px;
	}

	#u23307-7-bw
	{
		z-index: 178;
		min-height: 21px;
	}

	#u23281-bw
	{
		z-index: 111;
		margin-top: 12px;
		height: 21px;
	}

	#u23306-4-bw
	{
		z-index: 174;
		min-height: 50px;
	}

	#u23302-7-bw
	{
		z-index: 163;
		min-height: 29px;
		margin-top: 2px;
	}

	#u23282-bw
	{
		z-index: 112;
		margin-top: 16px;
		height: 21px;
	}

	#u23304-4-bw
	{
		z-index: 170;
		min-height: 50px;
	}

	#u23300-8-bw
	{
		z-index: 155;
		min-height: 29px;
	}

	#u23286-bw
	{
		z-index: 119;
		margin-top: 10px;
		height: 21px;
	}

	#u23308-7-bw
	{
		z-index: 185;
		min-height: 21px;
		margin-top: 37px;
	}

	#u23313-4-bw
	{
		z-index: 245;
		min-height: 48px;
	}

	#u23283-bw
	{
		z-index: 113;
		margin-top: 7px;
		height: 21px;
	}

	#u23314-4-bw
	{
		z-index: 253;
		min-height: 48px;
	}

	#u23284-bw
	{
		z-index: 115;
		margin-top: 33px;
		height: 21px;
	}

	#u23309-7-bw
	{
		z-index: 199;
		min-height: 54px;
	}

	#u23315-4-bw
	{
		z-index: 261;
		min-height: 48px;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	#u23285-bw
	{
		z-index: 117;
		margin-top: 27px;
		height: 21px;
	}

	#u23310-7-bw
	{
		z-index: 213;
		min-height: 54px;
	}

	#u23316-4-bw
	{
		z-index: 269;
		min-height: 48px;
		margin-top: -5px;
		margin-bottom: -5px;
	}

	#u23311-7-bw
	{
		z-index: 227;
		min-height: 25px;
		margin-top: 3px;
	}

	#u23435-bw
	{
		z-index: 120;
		margin-top: 8px;
		height: 21px;
	}

	#u23429-7-bw
	{
		z-index: 192;
		min-height: 21px;
		margin-top: 38px;
	}

	#u23432-4-bw
	{
		z-index: 249;
		min-height: 48px;
	}

	#u23426-bw
	{
		z-index: 114;
		margin-top: 8px;
		height: 21px;
	}

	#u23423-4-bw
	{
		z-index: 257;
		min-height: 48px;
	}

	#pu23417
	{
		margin-top: 2px;
	}

	#u23417-bw
	{
		z-index: 116;
		margin-top: 34px;
		height: 21px;
	}

	#u23420-7-bw
	{
		z-index: 206;
		min-height: 54px;
	}

	#u23414-4-bw
	{
		z-index: 265;
		min-height: 48px;
	}

	#u23411-bw
	{
		z-index: 118;
		margin-top: 27px;
		height: 21px;
	}

	#u23408-7-bw
	{
		z-index: 220;
		min-height: 54px;
	}

	#u23405-4-bw
	{
		z-index: 273;
		min-height: 48px;
		margin-top: -5px;
		margin-bottom: -5px;
	}

	#u23402-7-bw
	{
		z-index: 234;
		min-height: 54px;
		margin-top: 3px;
	}

	#u27134
	{
		width: 7.64%;
		left: 74.22%;
	}

	#u27136
	{
		width: 7.37%;
		left: 83.43%;
	}

	#u27138
	{
		width: 7.64%;
		left: 92.37%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u23276-4
	{
		margin-top: 28px;
		position: relative;
		width: 55.01%;
		margin-left: 4.38%;
	}

	#u23287-4
	{
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#pu23288-8
	{
		margin-top: -5px;
		width: 100%;
	}

	#u23288-8
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 126px;
		width: 92.19%;
		left: 4.07%;
	}

	#u31731-bw
	{
		margin-top: 38px;
	}

	#u23279
	{
		margin-top: 33px;
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23281
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 81px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23296-9
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 57px;
		width: 43.13%;
		left: 51.25%;
	}

	#u23294-4
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		width: 43.44%;
		left: 51.25%;
	}

	#u23294-4:hover
	{
		margin-right: -10000px;
		margin-top: 11px;
		width: 43.44%;
		margin-left: 0%;
	}

	#u23307-7
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 48px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23312-4
	{
		position: relative;
		margin-right: -10000px;
		width: 92.19%;
		left: 3.75%;
	}

	#pu23281,#pu23295
	{
		width: 100%;
	}

	#u23295
	{
		margin-right: -10000px;
		margin-top: 8px;
		width: 22.19%;
		left: 2.5%;
	}

	#u23291-4
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		width: 92.19%;
		left: 2.5%;
	}

	#u23302-7
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
		width: 92.19%;
		left: 4.07%;
	}

	#u23289-4,#u23306-4
	{
		position: relative;
		margin-right: -10000px;
		width: 92.19%;
		left: 4.07%;
	}

	#u23282
	{
		margin-top: 16px;
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23278,#u23304-4
	{
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23287-4:hover,#u23304-4:hover
	{
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23300-8
	{
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23286
	{
		margin-top: 10px;
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23308-7
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 37px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23313-4
	{
		position: relative;
		margin-right: -10000px;
		width: 92.19%;
		left: 4.07%;
	}

	#u23283
	{
		margin-top: 7px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23314-4
	{
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#pu23284
	{
		margin-top: 3px;
	}

	#u23284
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 33px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23277,#u23315-4
	{
		top: -1px;
		margin-bottom: -1px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23315-4:hover
	{
		margin-bottom: -1px;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23316-4
	{
		top: -5px;
		margin-bottom: -5px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23435
	{
		margin-top: 8px;
		position: relative;
		width: 92.19%;
		margin-left: 4.07%;
	}

	#u23429-7
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 38px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23432-4
	{
		position: relative;
		margin-right: -10000px;
		width: 92.19%;
		left: 4.07%;
	}

	#u23312-4:hover,#u23306-4:hover,#u23313-4:hover,#u23432-4:hover
	{
		margin-right: -10000px;
		width: 92.19%;
		margin-left: 0%;
	}

	#u23426
	{
		margin-top: 8px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23423-4
	{
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#pu23417
	{
		margin-top: -1px;
	}

	#u23417
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 34px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23414-4
	{
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23314-4:hover,#u23423-4:hover,#u23414-4:hover
	{
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23285,#u23411
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 27px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23309-7,#u23310-7,#u23420-7,#u23408-7
	{
		position: relative;
		margin-right: -10000px;
		width: 92.19%;
		left: 3.75%;
	}

	#u23405-4
	{
		top: -5px;
		margin-bottom: -5px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23316-4:hover,#u23405-4:hover
	{
		margin-bottom: -5px;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u23311-7,#u23402-7
	{
		margin-top: 3px;
		position: relative;
		width: 92.19%;
		margin-left: 3.75%;
	}

	#u27134
	{
		width: 7.5%;
		left: 74.07%;
	}

	#u27136
	{
		width: 7.5%;
		left: 83.44%;
	}

	#u27138
	{
		width: 7.5%;
		left: 92.5%;
	}

	body
	{
		min-width: 319px;
	}

}

