.version.opinions /* version checker */
{
	color: #0000FF;
	background-color: #37E735;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-color: #000000;
	background-color: transparent;
	background-image: none;
	width: 100%;
	border-width: 0px;
	z-index: 1;
	min-height: 570px;
}

#u14613
{
	margin-right: -10000px;
	position: relative;
	z-index: 54;
}

#accordionu14559
{
	margin-right: -10000px;
	z-index: 4;
	position: relative;
}

#u14560
{
	width: 100%;
	position: relative;
	z-index: 5;
}

#u14612-4
{
	padding-bottom: 10px;
	z-index: 6;
	padding-top: 10px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14612-3
{
	margin-left: 10px;
}

#u14561
{
	width: 100%;
	z-index: 10;
	position: relative;
}

#menuu14562
{
	margin-right: -10000px;
	z-index: 11;
	position: relative;
}

#u14599,#u14606,#u14571,#u14566,#u14578,#u14585
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 7px;
	min-height: 17px;
	position: relative;
}

#u14600-4,#u14609-4,#u14573-4,#u14568-4,#u14581-4,#u14587-4
{
	margin-right: -10000px;
	top: 3px;
	width: 100%;
	position: relative;
	min-height: 17px;
}

#u14592
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 8px;
	min-height: 17px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	width: 100%;
	min-height: 17px;
	margin: 0px -10000px 0px 0%;
}

#u14595-4
{
	margin-right: -10000px;
	top: 4px;
	width: 100%;
	position: relative;
	min-height: 17px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0%;
}

#u14557,#u14557-bw
{
	z-index: 2;
	min-height: 42px;
}

#u14558
{
	padding-bottom: 3px;
	z-index: 3;
	min-height: 123px;
}

#menuu14615
{
	margin-right: -10000px;
	margin-top: 3px;
	z-index: 56;
	position: relative;
}

#u14598,#u14658
{
	position: relative;
	width: 100%;
}

#u14661,#u14640,#u14617,#u14645
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 1px;
	min-height: 14px;
	position: relative;
}

#u14662-4,#u14643-4,#u14618-4,#u14646-4
{
	margin-right: -10000px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	width: 100%;
	margin-top: 2px;
	position: relative;
}

#u14624,#u14631,#u14654
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 2px;
	min-height: 14px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	width: 100%;
	min-height: 14px;
	margin: 0px -10000px 0px 0%;
}

#u14626-4,#u14634-4,#u14656-4
{
	margin-right: -10000px;
	top: 1px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0%;
}

#pu14665
{
	margin-right: -10000px;
	margin-top: 43px;
}

#u14665
{
	position: relative;
	min-height: 28px;
	z-index: 99;
}

#u14666
{
	width: 87px;
	position: relative;
	min-height: 24px;
	z-index: 100;
}

#u14667
{
	width: 102px;
	margin-top: 4px;
	min-height: 24px;
	z-index: 101;
	position: relative;
}

#u14558-bw
{
	z-index: 3;
	min-height: 123px;
	margin-bottom: -55px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 457px;
}

@media (min-width: 321px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 380px;
	}

	#u14613
	{
		width: 43.16%;
	}

	#accordionu14559
	{
		margin-top: 8px;
		width: 40%;
		left: 57.37%;
	}

	#u14561
	{
		padding-bottom: 6px;
	}

	#menuu14562
	{
		margin-top: 2px;
		width: 92.77%;
		left: 6.58%;
	}

	#menuu14615
	{
		width: 31.32%;
		left: 1.32%;
	}

	#pu14665
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14665
	{
		width: 109px;
	}

	#u14613_img
	{
		width: 100.61%;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u14613
	{
		width: 43.13%;
	}

	#accordionu14559
	{
		margin-bottom: -1px;
		margin-top: 9px;
		width: 51.57%;
		left: 45%;
	}

	#u14561
	{
		padding-bottom: 3px;
	}

	#menuu14562
	{
		margin-top: 5px;
		width: 86.07%;
		left: 11.52%;
	}

	#menuu14615
	{
		width: 43.75%;
		left: 1.25%;
	}

	#pu14665
	{
		width: 33.13%;
		margin-left: 72.19%;
	}

	#u14665
	{
		width: 106px;
	}

	body
	{
		min-width: 320px;
	}

	#u14613_img
	{
		width: 100.73%;
	}
}

