.version.presidential_profiles_0306 /* version checker */
{
	color: #00000E;
	background-color: #7EA205;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.5499999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#pu14311
{
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14311,#u14311-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14122
{
	z-index: 4;
}

#u14123
{
	z-index: 5;
}

#u14124-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14124-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14125
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14161
{
	z-index: 11;
	min-height: 181px;
}

#u14165
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14167-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14172
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14174-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14209
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14210-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14228
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14231-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14249
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14251-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14270
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14272-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14291
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14165.MuseMenuActive,#u14172.MuseMenuActive,#u14209.MuseMenuActive,#u14228.MuseMenuActive,#u14249.MuseMenuActive,#u14270.MuseMenuActive,#u14291.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14293-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14165.MuseMenuActive #u14167-4,#u14172.MuseMenuActive #u14174-4,#u14209.MuseMenuActive #u14210-4,#u14228.MuseMenuActive #u14231-4,#u14249.MuseMenuActive #u14251-4,#u14270.MuseMenuActive #u14272-4,#u14291.MuseMenuActive #u14293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14161-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14122-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u31415,#u31415-bw
{
	z-index: 103;
	height: 42px;
}

#u19785-9
{
	z-index: 104;
	min-height: 29px;
	background-color: transparent;
}

#u19785-2
{
	font-size: 15px;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u19785-3,#u19785-7
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 10px;
	padding-left: 10px;
}

#u19785-5
{
	color: #EDA900;
	font-weight: bold;
}

#u19785-9-bw
{
	z-index: 104;
	min-height: 29px;
	margin-top: 26px;
}

#u19787-128
{
	z-index: 113;
	min-height: 2851px;
	background-color: transparent;
}

#u19787-11,#u19787-89
{
	line-height: 17px;
	padding-right: 30px;
	padding-left: 30px;
	font-weight: bold;
}

#u19787-13,#u19787-32,#u19787-33,#u19787-51,#u19787-70,#u19787-91,#u19787-110
{
	font-size: 13px;
	line-height: 16px;
	padding-right: 30px;
	padding-left: 30px;
	font-weight: bold;
}

#u19787-87,#u19787-92,#u19787-123
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 30px;
	padding-left: 30px;
	font-weight: bold;
}

#u19787-2,#u19787-3,#u19787-5,#u19787-6,#u19787-8,#u19787-9,#u19787-14,#u19787-17,#u19787-18,#u19787-21,#u19787-22,#u19787-25,#u19787-26,#u19787-29,#u19787-30,#u19787-36,#u19787-37,#u19787-40,#u19787-41,#u19787-44,#u19787-45,#u19787-48,#u19787-49,#u19787-52,#u19787-55,#u19787-56,#u19787-59,#u19787-60,#u19787-63,#u19787-64,#u19787-67,#u19787-68,#u19787-71,#u19787-74,#u19787-75,#u19787-78,#u19787-79,#u19787-82,#u19787-83,#u19787-86,#u19787-95,#u19787-96,#u19787-99,#u19787-100,#u19787-103,#u19787-104,#u19787-107,#u19787-108,#u19787-111,#u19787-114,#u19787-115,#u19787-118,#u19787-119,#u19787-122,#u19787-126
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 30px;
	padding-left: 30px;
}

#u19787-15,#u19787-19,#u19787-23,#u19787-27,#u19787-34,#u19787-38,#u19787-42,#u19787-46,#u19787-53,#u19787-57,#u19787-61,#u19787-65,#u19787-72,#u19787-76,#u19787-80,#u19787-84,#u19787-93,#u19787-97,#u19787-101,#u19787-105,#u19787-112,#u19787-116,#u19787-120,#u19787-124
{
	font-weight: bold;
}

#u19787-128-bw
{
	z-index: 113;
	min-height: 2851px;
	margin-top: 17px;
}

#pu27076
{
	margin-top: 7px;
	width: 100%;
}

#u27076
{
	z-index: 97;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 32.64%;
}

#u27077
{
	z-index: 98;
	width: 100%;
}

#u27078
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 10.27%;
	left: 44.74%;
}

#u27079
{
	z-index: 100;
	width: 100%;
}

#u27080
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 56.85%;
}

#u27081
{
	z-index: 102;
	width: 100%;
}

#pu14000
{
	margin-top: 11px;
	width: 100%;
}

#u14000,#u14000-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14391
{
	z-index: 54;
	min-height: 120px;
}

#u14395
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14397-4
{
	min-height: 14px;
	position: relative;
}

#u14402
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14404-4
{
	min-height: 14px;
	position: relative;
}

#u14439
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14440-4
{
	min-height: 14px;
	position: relative;
}

#u14460
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14463-4
{
	min-height: 14px;
	position: relative;
}

#u14481
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14484-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14502
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14504-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14521
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14395.MuseMenuActive,#u14402.MuseMenuActive,#u14439.MuseMenuActive,#u14460.MuseMenuActive,#u14481.MuseMenuActive,#u14502.MuseMenuActive,#u14521.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14524-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14395.MuseMenuActive #u14397-4,#u14402.MuseMenuActive #u14404-4,#u14439.MuseMenuActive #u14440-4,#u14460.MuseMenuActive #u14463-4,#u14481.MuseMenuActive #u14484-4,#u14502.MuseMenuActive #u14504-4,#u14521.MuseMenuActive #u14524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14169,#u14206,#u14227,#u14248,#u14269,#u14290,#u14399,#u14436,#u14457,#u14478,#u14499,#u14520
{
	margin-top: 2px;
}

#menuu14391-bw
{
	z-index: 54;
	min-height: 120px;
	margin-top: 3px;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}


