.version.professors_spotlight_susan_sharfstein /* version checker */
{
	color: #0000F3;
	background-color: #D9716B;
}

#page
{
	z-index: 1;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 380px;
}

#pu14557
{
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14557,#u14557-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14559
{
	z-index: 4;
}

#u14560
{
	z-index: 5;
}

#u14612-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14561
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14562
{
	z-index: 11;
	min-height: 181px;
}

#u14599
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14600-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14606
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14609-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14571
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14573-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14566
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14568-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14578
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14581-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14585
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14587-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14592
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14595-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14562-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14559-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u14613
{
	z-index: 54;
	position: relative;
	margin-right: -10000px;
	width: 43.16%;
	margin-left: 28.43%;
	left: -108px;
}

#u26680
{
	z-index: 105;
	height: 187px;
	background: transparent url("../../images/nanohigh%20class%20visit%20-%205.jpg") no-repeat center center;
	background-size: cover;
}

#u26680-bw
{
	z-index: 105;
	height: 187px;
}

#u26684-9
{
	z-index: 106;
	min-height: 44px;
	background-color: #F5F5F5;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u26684,#u26684-3
{
	font-size: 15px;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u26684-7
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 10px;
	padding-left: 10px;
}

#u26684-5
{
	color: #EDA900;
	font-weight: bold;
}

#u26684-9-bw
{
	z-index: 106;
	min-height: 44px;
	margin-top: 140px;
}

#u26685-4
{
	z-index: 115;
	min-height: 25px;
	background-color: transparent;
	line-height: 8px;
	font-size: 7px;
	font-style: italic;
}

#u26685-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u26685-4-bw
{
	z-index: 115;
	min-height: 25px;
	margin-top: 1px;
}

#u26686-100
{
	z-index: 119;
	min-height: 4175px;
	background-color: transparent;
}

#u26686-2,#u26686-3,#u26686-5,#u26686-6,#u26686-8,#u26686-9,#u26686-11,#u26686-12,#u26686-14,#u26686-15,#u26686-17,#u26686-18,#u26686-20,#u26686-21,#u26686-23,#u26686-24,#u26686-26,#u26686-27,#u26686-29,#u26686-30,#u26686-32,#u26686-33,#u26686-35,#u26686-36,#u26686-38,#u26686-39,#u26686-41,#u26686-42,#u26686-44,#u26686-45,#u26686-47,#u26686-49,#u26686-50,#u26686-52,#u26686-53,#u26686-55,#u26686-56,#u26686-58,#u26686-59,#u26686-61,#u26686-62,#u26686-64,#u26686-65,#u26686-67,#u26686-68,#u26686-70,#u26686-71,#u26686-73,#u26686-74,#u26686-76,#u26686-77,#u26686-79,#u26686-80,#u26686-82,#u26686-83,#u26686-85,#u26686-86,#u26686-88,#u26686-89,#u26686-91,#u26686-92,#u26686-94,#u26686-95,#u26686-97
{
	line-height: 17px;
	padding-right: 30px;
	padding-left: 30px;
}

#u26686-98
{
	font-size: 12px;
	line-height: 14px;
}

#u26686-100-bw
{
	z-index: 119;
	min-height: 4175px;
	margin-top: 9px;
}

#pu26680,#pu14558
{
	margin-top: 1px;
	width: 100%;
}

#u14558,#u14558-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14615
{
	z-index: 56;
	min-height: 120px;
}

#u14661
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14662-4
{
	min-height: 14px;
	position: relative;
}

#u14640
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14643-4
{
	min-height: 14px;
	position: relative;
}

#u14617
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14618-4
{
	min-height: 14px;
	position: relative;
}

#u14645
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14646-4
{
	min-height: 14px;
	position: relative;
}

#u14624
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14626-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14631
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14634-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14654
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14656-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	margin-top: 2px;
}

#menuu14615-bw
{
	z-index: 56;
	min-height: 120px;
	margin-top: 3px;
}

#u27134
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.64%;
	left: 74.22%;
}

#u27135
{
	z-index: 100;
	width: 100%;
}

#u27136
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.37%;
	left: 83.43%;
}

#u27137
{
	z-index: 102;
	width: 100%;
}

#u27138
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.64%;
	left: 92.37%;
}

#u27139
{
	z-index: 104;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}

#u14613_img
{
	width: 100.61%;
}


