.version.science___technology /* version checker */
{
	color: #0000E8;
	background-color: #3C5FBA;
}

#page
{
	z-index: 1;
	min-height: 569.6415343915337px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -56px;
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14557,#u14557-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14559
{
	z-index: 4;
}

#u14560
{
	z-index: 5;
}

#u14612-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14561
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14562
{
	z-index: 11;
	min-height: 181px;
}

#u14599
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14600-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14606
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14609-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14571
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14573-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14566
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14568-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14578
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14581-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14585
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14587-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14592
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14595-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14562-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14559-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u31407,#u31407-bw
{
	z-index: 103;
	height: 43px;
}

#u23000-4
{
	z-index: 104;
	min-height: 43px;
	background-color: transparent;
	color: #002C73;
	font-size: 32px;
	line-height: 38px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u23000-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u23000-4-bw
{
	z-index: 104;
	min-height: 43px;
	margin-top: 28px;
}

#u23001
{
	z-index: 108;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u23001-bw
{
	z-index: 108;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 21px;
}

#u31702-4
{
	z-index: 122;
	min-height: 43px;
	background-color: transparent;
	line-height: 22px;
}

#u31702-4-bw
{
	z-index: 122;
	min-height: 43px;
}

#u31708
{
	z-index: 240;
	height: 202px;
	background: transparent url("../../images/zika-virus-microscope.jpg") no-repeat center center;
	background-size: cover;
}

#u31708-bw
{
	z-index: 240;
	height: 202px;
}

#u23013-5
{
	z-index: 157;
	min-height: 102px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u23013-5-bw
{
	z-index: 157;
	min-height: 102px;
	margin-top: 6px;
}

#u23012-7
{
	z-index: 130;
	min-height: 29px;
	background-color: transparent;
	text-align: right;
	line-height: 14px;
}

#u23012-7-bw
{
	z-index: 130;
	min-height: 29px;
}

#u23002
{
	z-index: 109;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23002-bw
{
	z-index: 109;
	margin-top: 7px;
	height: 21px;
}

#u59885-4
{
	z-index: 126;
	min-height: 43px;
	background-color: transparent;
	line-height: 22px;
}

#u31702-2,#u59885-2
{
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u59885-4-bw
{
	z-index: 126;
	min-height: 43px;
	margin-top: 3px;
}

#u59882
{
	z-index: 241;
	height: 103px;
	background: transparent url("../../images/3-d-printing-drug_sham.jpg") no-repeat center center;
	background-size: cover;
}

#u59882-bw
{
	z-index: 241;
	margin-top: 3px;
	height: 103px;
}

#u59876-10
{
	z-index: 137;
	min-height: 29px;
	background-color: transparent;
	text-align: right;
	line-height: 14px;
}

#u59876-10-bw
{
	z-index: 137;
	min-height: 29px;
}

#u59879-5
{
	z-index: 162;
	min-height: 41px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u59879-5-bw
{
	z-index: 162;
	min-height: 41px;
	margin-top: 5px;
}

#u59873
{
	z-index: 110;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u59873-bw
{
	z-index: 110;
	margin-top: 11px;
	height: 21px;
}

#u23011-4
{
	z-index: 118;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
}

#u31702-4:hover,#u59885-4:hover,#u23011-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px;
}

#u23011-2
{
	font-size: 15px;
	text-align: right;
	padding-right: 30px;
	padding-left: 30px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u23011-4-bw
{
	z-index: 118;
	min-height: 43px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#u31696
{
	z-index: 239;
	height: 87px;
	background: transparent url("../../images/1458651119_great_barrier_reef.jpg") no-repeat center center;
	background-size: cover;
}

#u31696-bw
{
	z-index: 239;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 87px;
}

#u31713-10
{
	z-index: 147;
	min-height: 29px;
	background-color: transparent;
	text-align: right;
	line-height: 14px;
}

#u31713-10-bw
{
	z-index: 147;
	min-height: 29px;
}

#u31718-5
{
	z-index: 167;
	min-height: 63px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u31718-5-bw
{
	z-index: 167;
	min-height: 63px;
	margin-top: 7px;
}

#u31723
{
	z-index: 111;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u31723-bw
{
	z-index: 111;
	margin-top: 1px;
	height: 21px;
}

#u23018-4
{
	z-index: 179;
	min-height: 30px;
	background-color: transparent;
	line-height: 17px;
}

#u23018-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px;
}

#u23018-2
{
	font-size: 14px;
	padding-right: 31px;
	padding-left: 30px;
	color: #000000;
}

#u23018-4-bw
{
	z-index: 179;
	min-height: 30px;
	margin-top: 1px;
}

#u23019-7
{
	z-index: 172;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u23019-5
{
	padding-right: 31px;
	padding-left: 24px;
}

#u23019-7-bw
{
	z-index: 172;
	min-height: 29px;
	margin-top: 11px;
}

#u23003
{
	z-index: 112;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23003-bw
{
	z-index: 112;
	margin-top: 3px;
	height: 21px;
}

#pu23025-7
{
	margin-top: 2px;
	width: 100%;
}

#u23025-7
{
	z-index: 191;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u23025-7-bw
{
	z-index: 191;
	min-height: 29px;
	margin-top: 35px;
}

#u23029-4
{
	z-index: 209;
	min-height: 50px;
	background-color: transparent;
	line-height: 17px;
}

#u23029-4-bw
{
	z-index: 209;
	min-height: 50px;
}

#u23004
{
	z-index: 113;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23004-bw
{
	z-index: 113;
	margin-top: 18px;
	height: 21px;
}

#u23034-4
{
	z-index: 231;
	min-height: 48px;
	background-color: transparent;
	line-height: 17px;
}

#u23034-4-bw
{
	z-index: 231;
	min-height: 48px;
}

#u23031-7
{
	z-index: 217;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u23031-7-bw
{
	z-index: 217;
	min-height: 21px;
}

#u23005
{
	z-index: 114;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23005-bw
{
	z-index: 114;
	margin-top: 12px;
	height: 21px;
}

#u23030-4
{
	z-index: 213;
	min-height: 50px;
	background-color: transparent;
	line-height: 17px;
}

#u23030-4-bw
{
	z-index: 213;
	min-height: 50px;
}

#u23026-7
{
	z-index: 198;
	min-height: 29px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	line-height: 14px;
}

#u23026-3
{
	color: #EDA900;
}

#u23026-7-bw
{
	z-index: 198;
	min-height: 29px;
	margin-top: 2px;
}

#u23006
{
	z-index: 115;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23006-bw
{
	z-index: 115;
	margin-top: 16px;
	height: 21px;
}

#u23028-4
{
	z-index: 205;
	min-height: 50px;
	background-color: transparent;
	line-height: 17px;
}

#u23029-4:hover,#u23030-4:hover,#u23028-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px;
}

#u23028-4-bw
{
	z-index: 205;
	min-height: 50px;
}

#u23024-8
{
	z-index: 183;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u23024-8-bw
{
	z-index: 183;
	min-height: 29px;
}

#u23008
{
	z-index: 117;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23008-bw
{
	z-index: 117;
	margin-top: 10px;
	height: 21px;
}

#pu14557,#pu23032-7
{
	width: 100%;
}

#u23032-7
{
	z-index: 224;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u23013-2,#u23012-5,#u59876-6,#u59876-8,#u59879-2,#u31713-6,#u31713-8,#u31718-2,#u23025-5,#u23031-5,#u23026-5,#u23024-6,#u23032-5
{
	padding-right: 30px;
	padding-left: 30px;
}

#u23012-3,#u59876-3,#u31713-3,#u23019-3,#u23025-3,#u23031-3,#u23026-2,#u23024-3,#u23032-3
{
	color: #EDA900;
	font-weight: bold;
}

#u23012,#u23012-4,#u59876,#u59876-5,#u59876-7,#u31713,#u31713-5,#u31713-7,#u23019,#u23019-4,#u23025,#u23025-4,#u23031,#u23031-4,#u23024,#u23024-5,#u23032,#u23032-4
{
	color: #7F7F7F;
}

#u23032-7-bw
{
	z-index: 224;
	min-height: 21px;
	margin-top: 37px;
}

#u23035-4
{
	z-index: 235;
	min-height: 48px;
	background-color: transparent;
	line-height: 17px;
}

#u23034-4:hover,#u23035-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px;
}

#u31702-4:hover p,#u59885-4:hover p,#u23011-4:hover p,#u23018-4:hover p,#u23029-4:hover p,#u23034-4:hover p,#u23030-4:hover p,#u23028-4:hover p,#u23035-4:hover p
{
	color: #EDA900;
	visibility: inherit;
}

#u23029-2,#u23034-2,#u23030-2,#u23028-2,#u23035-2
{
	font-size: 14px;
	padding-right: 30px;
	padding-left: 30px;
	color: #000000;
}

#u23035-4-bw
{
	z-index: 235;
	min-height: 48px;
}

#u23007
{
	z-index: 116;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u23007-bw
{
	z-index: 116;
	margin-top: 7px;
	height: 21px;
}

#pu14558
{
	margin-top: 1px;
	width: 100%;
}

#u14558,#u14558-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14615
{
	z-index: 54;
	min-height: 120px;
}

#u14661
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14662-4
{
	min-height: 14px;
	position: relative;
}

#u14640
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14643-4
{
	min-height: 14px;
	position: relative;
}

#u14617
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14618-4
{
	min-height: 14px;
	position: relative;
}

#u14645
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14646-4
{
	min-height: 14px;
	position: relative;
}

#u14624
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14626-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14631
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14634-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14654
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14656-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	margin-top: 2px;
}

#menuu14615-bw
{
	z-index: 54;
	min-height: 120px;
	margin-top: 3px;
}

#u27134
{
	z-index: 97;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	width: 7.64%;
	left: 74.22%;
}

#u27135
{
	z-index: 98;
	width: 100%;
}

#u27136
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	width: 7.37%;
	left: 83.43%;
}

#u27137
{
	z-index: 100;
	width: 100%;
}

#u27138
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	width: 7.64%;
	left: 92.37%;
}

#u27139
{
	z-index: 102;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


