.version.science___technology /* version checker */
{
	color: #0000F8;
	background-color: #A75D5D;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-color: #000000;
	background-color: transparent;
	background-image: none;
	width: 100%;
	border-width: 0px;
	z-index: 1;
}

#page_position_content
{
	margin-bottom: -55px;
	width: 100%;
}

#u14613
{
	margin-right: -10000px;
	position: relative;
	z-index: 54;
}

#accordionu14559
{
	margin-right: -10000px;
	z-index: 4;
	position: relative;
}

#u14560
{
	width: 100%;
	position: relative;
	z-index: 5;
}

#u14612-4
{
	padding-bottom: 10px;
	z-index: 6;
	padding-top: 10px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14612-3
{
	margin-left: 10px;
}

#u14561
{
	width: 100%;
	z-index: 10;
	position: relative;
}

#menuu14562
{
	margin-right: -10000px;
	z-index: 11;
	position: relative;
}

#u14566.MuseMenuActive
{
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14599,#u14606,#u14571,#u14578,#u14585
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 7px;
	min-height: 17px;
	position: relative;
}

#u14600-4,#u14609-4,#u14573-4,#u14581-4,#u14587-4
{
	margin-right: -10000px;
	top: 3px;
	width: 100%;
	position: relative;
	min-height: 17px;
}

#u14592
{
	margin-right: -10000px;
	width: 100%;
	padding-bottom: 8px;
	min-height: 17px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	width: 100%;
	min-height: 17px;
	margin: 0px -10000px 0px 0%;
}

#u14595-4
{
	margin-right: -10000px;
	top: 4px;
	width: 100%;
	position: relative;
	min-height: 17px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0%;
}

#u14557,#u14557-bw
{
	z-index: 2;
}

#u23000-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 29px;
	line-height: 38px;
	font-size: 32px;
	min-height: 43px;
	color: #002C73;
	position: relative;
	z-index: 102;
	background-color: transparent;
}

#u23001
{
	top: -1px;
	border-style: solid;
	z-index: 106;
	margin-bottom: -1px;
	border-color: #EDA900;
	background-color: transparent;
	position: relative;
	height: 21px;
	border-width: 2px 0px 0px;
}

#u23011-4
{
	line-height: 25px;
	background-color: transparent;
	position: relative;
	z-index: 116;
	min-height: 43px;
}

#u23011-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
}

#u23011-2
{
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #000000;
	font-size: 21px;
}

#u23009
{
	border-style: solid;
	z-index: 114;
	background-color: transparent;
	border-width: 1px;
	position: relative;
	border-color: #000000;
}

#u23009:hover
{
	margin-right: 0px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	margin-bottom: 0px;
	margin-top: 0px;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#u23013-5
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	z-index: 128;
	min-height: 102px;
}

#u23012-8
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	position: relative;
	z-index: 120;
	min-height: 29px;
}

#u23002
{
	border-style: solid;
	z-index: 107;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23014
{
	padding-bottom: 0px;
	z-index: 133;
	background-color: transparent;
	border-width: 0px;
	position: relative;
	border-color: transparent;
}

#u23016
{
	margin-right: -10000px;
	border-style: solid;
	z-index: 135;
	background-color: transparent;
	border-color: #000000;
	border-width: 1px;
	position: relative;
}

#u23016:hover
{
	margin-right: -10000px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	margin-left: 0%;
}

#u23018-4
{
	line-height: 17px;
	background-color: transparent;
	position: relative;
	z-index: 150;
	min-height: 30px;
}

#u23018-4:hover
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin-left: 0%;
}

#u23019-9
{
	position: relative;
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	z-index: 137;
	min-height: 29px;
}

#u23020
{
	border-style: solid;
	z-index: 134;
	position: relative;
	border-color: #002C73;
	background-color: transparent;
	margin-top: 12px;
	height: 13px;
	border-width: 2px 0px 0px;
}

#u23015-4
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	z-index: 146;
	min-height: 39px;
}

#u23003
{
	border-style: solid;
	z-index: 108;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23022
{
	margin-right: -10000px;
	margin-top: -1px;
	z-index: 155;
	border-color: #000000;
	border-width: 1px;
	position: relative;
	border-style: solid;
	background-color: transparent;
}

#u23022:hover
{
	margin-right: -10000px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	margin-top: -1px;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	margin-left: 0%;
}

#pu23029-4
{
	margin-right: -10000px;
	margin-top: 3px;
}

#u23029-4
{
	line-height: 17px;
	background-color: transparent;
	width: 100%;
	position: relative;
	z-index: 189;
	min-height: 50px;
}

#u23029-4:hover
{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px 0px 0px 0%;
}

#u23025-9
{
	position: relative;
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	margin-top: 18px;
	z-index: 165;
	min-height: 29px;
}

#u23021
{
	border-style: solid;
	z-index: 154;
	position: relative;
	border-color: #002C73;
	background-color: transparent;
	height: 13px;
	border-width: 2px 0px 0px;
}

#u23027-4
{
	top: -7px;
	line-height: 14px;
	margin-bottom: -7px;
	background-color: transparent;
	min-height: 50px;
	color: #7F7F7F;
	position: relative;
	z-index: 181;
	font-size: 12px;
}

#u23004
{
	border-style: solid;
	z-index: 109;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	margin-top: 9px;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23034-4
{
	line-height: 17px;
	background-color: transparent;
	position: relative;
	z-index: 211;
	min-height: 48px;
}

#u23034-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
}

#u23031-7
{
	line-height: 14px;
	background-color: transparent;
	position: relative;
	z-index: 197;
	min-height: 21px;
}

#u23005
{
	border-style: solid;
	z-index: 110;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23030-4
{
	line-height: 17px;
	background-color: transparent;
	position: relative;
	z-index: 193;
	min-height: 50px;
}

#u23030-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
}

#u23026-7
{
	position: relative;
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	color: #7F7F7F;
	margin-top: 2px;
	z-index: 174;
	min-height: 29px;
}

#u23026-3
{
	color: #EDA900;
}

#u23006
{
	border-style: solid;
	z-index: 111;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23028-4
{
	line-height: 17px;
	background-color: transparent;
	position: relative;
	z-index: 185;
	min-height: 50px;
}

#u23028-4:hover
{
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
}

#u23024-8
{
	line-height: 14px;
	font-size: 12px;
	background-color: transparent;
	position: relative;
	z-index: 157;
	min-height: 29px;
}

#u23008
{
	border-style: solid;
	z-index: 113;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	margin-top: 10px;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u23009_img,#pu23022,#pu23032-7
{
	width: 100%;
}

#u23032-7
{
	margin-right: -10000px;
	line-height: 14px;
	background-color: transparent;
	position: relative;
	z-index: 204;
	min-height: 21px;
}

#u23012-3,#u23019-3,#u23025-3,#u23031-3,#u23026-2,#u23024-3,#u23032-3
{
	font-weight: bold;
	color: #EDA900;
}

#u23012,#u23012-5,#u23019,#u23019-7,#u23025,#u23025-7,#u23031,#u23031-4,#u23024,#u23024-5,#u23032,#u23032-4
{
	color: #7F7F7F;
}

#u23035-4
{
	margin-right: -10000px;
	line-height: 17px;
	background-color: transparent;
	position: relative;
	z-index: 215;
	min-height: 48px;
}

#u23035-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0%;
}

#u23011-4:hover p,#u23018-4:hover p,#u23029-4:hover p,#u23034-4:hover p,#u23030-4:hover p,#u23028-4:hover p,#u23035-4:hover p
{
	visibility: inherit;
	color: #EDA900;
}

#u23018-2,#u23029-2,#u23034-2,#u23030-2,#u23028-2,#u23035-2
{
	text-align: left;
	color: #000000;
	font-size: 14px;
}

#u23007
{
	border-style: solid;
	z-index: 112;
	position: relative;
	border-color: #EDA900;
	background-color: transparent;
	height: 21px;
	border-width: 1px 0px 0px;
}

#u14558
{
	padding-bottom: 3px;
	z-index: 3;
	min-height: 123px;
}

#menuu14615
{
	margin-right: -10000px;
	margin-top: 3px;
	z-index: 56;
	position: relative;
}

#u14598,#u14658
{
	position: relative;
	width: 100%;
}

#u14661,#u14640,#u14617
{
	margin-right: -10000px;
	padding-bottom: 1px;
	min-height: 14px;
	position: relative;
}

#u14662-4,#u14643-4,#u14618-4
{
	margin-right: -10000px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14645
{
	margin-right: -10000px;
	position: relative;
}

#u14645.MuseMenuActive
{
	margin: 0px -10000px 0px 0%;
}

#u14566,#u14568-4,#u14646-4
{
	margin-right: -10000px;
	width: 100%;
	position: relative;
}

#u14566.MuseMenuActive #u14568-4,#u14645.MuseMenuActive #u14646-4
{
	margin-right: -10000px;
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	margin-left: 0%;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	width: 100%;
	margin-top: 2px;
	position: relative;
}

#u14624,#u14631,#u14654
{
	margin-right: -10000px;
	padding-bottom: 2px;
	min-height: 14px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px -10000px 0px 0%;
}

#u14626-4,#u14634-4,#u14656-4
{
	margin-right: -10000px;
	top: 1px;
	width: 100%;
	position: relative;
	min-height: 14px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0%;
}

#pu14665
{
	margin-right: -10000px;
	margin-top: 43px;
}

#u14665
{
	position: relative;
	min-height: 28px;
	z-index: 99;
}

#u14666
{
	width: 87px;
	position: relative;
	min-height: 24px;
	z-index: 100;
}

#u14667
{
	width: 102px;
	margin-top: 4px;
	min-height: 24px;
	z-index: 101;
	position: relative;
}

#u14558-bw
{
	z-index: 3;
	min-height: 123px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 322px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 570px;
		max-width: 380px;
	}

	#u14613
	{
		width: 43.16%;
	}

	#accordionu14559
	{
		margin-top: 8px;
		width: 40%;
		left: 57.37%;
	}

	#u14561
	{
		padding-bottom: 6px;
	}

	#menuu14562
	{
		margin-top: 2px;
		width: 92.77%;
		left: 6.58%;
	}

	#u14566
	{
		min-height: 17px;
		padding-bottom: 7px;
	}

	#u14566.MuseMenuActive
	{
		min-height: 17px;
	}

	#u14568-4
	{
		min-height: 17px;
		top: 3px;
	}

	#u14566.MuseMenuActive #u14568-4
	{
		margin-bottom: 0px;
		min-height: 17px;
	}

	#u14557,#u14557-bw
	{
		min-height: 42px;
	}

	#u23000-4
	{
		width: 91.58%;
		margin-left: 3.43%;
	}

	#u23001,#u23011-4
	{
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23009
	{
		width: 92.11%;
		margin-left: 2.64%;
	}

	#u23002
	{
		margin-top: 13px;
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23014
	{
		padding-top: 1px;
		top: -1px;
		margin-bottom: -1px;
		width: 92.37%;
		margin-left: 2.64%;
	}

	#u23016
	{
		margin-top: -1px;
		width: 51.15%;
		left: 0.29%;
	}

	#u23016:hover
	{
		margin-bottom: 0px;
		margin-top: -1px;
		width: 51.15%;
	}

	#u23016_img
	{
		padding-bottom: 3px;
		width: 100%;
	}

	#pu23018-4
	{
		margin-right: -10000px;
		width: 47.15%;
		margin-left: 52.86%;
	}

	#u23018-4
	{
		width: 100%;
	}

	#u23018-4:hover
	{
		margin-right: 0px;
		width: 100%;
	}

	#u23019-9
	{
		margin-top: 12px;
		width: 81.82%;
	}

	#u23020
	{
		width: 23.94%;
		margin-left: 0.29%;
	}

	#pu23016,#u23015-4
	{
		width: 99.72%;
		margin-left: 0.29%;
	}

	#u23003
	{
		margin-top: 6px;
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23022
	{
		margin-bottom: -1px;
		width: 47.11%;
		left: 2.64%;
	}

	#u23022:hover
	{
		margin-bottom: -1px;
		width: 47.11%;
	}

	#pu23029-4
	{
		width: 42.9%;
		margin-left: 52.11%;
	}

	#u23025-9
	{
		width: 82.83%;
	}

	#u23021
	{
		margin-top: 9px;
		width: 22.11%;
		margin-left: 2.9%;
	}

	#u23009:hover,#u23034-4
	{
		width: 92.11%;
		margin-left: 2.64%;
	}

	#u23034-4:hover,#u23031-7
	{
		width: 92.11%;
		margin-left: 2.64%;
	}

	#u23005
	{
		margin-top: 12px;
		width: 92.11%;
		margin-left: 2.64%;
	}

	#u23011-4:hover,#u23013-5,#u23012-8,#u23027-4,#u23004,#u23030-4
	{
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23006
	{
		margin-top: 17px;
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23028-4
	{
		top: -1px;
		margin-bottom: -1px;
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23028-4:hover
	{
		margin-bottom: -1px;
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23030-4:hover,#u23026-7,#u23024-8,#u23008
	{
		width: 92.11%;
		margin-left: 2.9%;
	}

	#u23032-7
	{
		margin-top: 38px;
		width: 92.11%;
		left: 2.64%;
	}

	#u23035-4
	{
		width: 92.11%;
		left: 2.64%;
	}

	#u23035-4:hover
	{
		width: 92.11%;
	}

	#u23007
	{
		margin-top: 8px;
		width: 92.11%;
		margin-left: 2.64%;
	}

	#menuu14615
	{
		width: 31.32%;
		left: 1.32%;
	}

	#u23022_img,#u14661
	{
		width: 100%;
	}

	#u14661.MuseMenuActive,#u14640
	{
		width: 100%;
	}

	#u14640.MuseMenuActive,#u14617
	{
		width: 100%;
	}

	#u14645
	{
		min-height: 14px;
		padding-bottom: 1px;
		width: 100%;
	}

	#u14645.MuseMenuActive
	{
		min-height: 14px;
		width: 100%;
	}

	#u14646-4
	{
		min-height: 14px;
	}

	#u14645.MuseMenuActive #u14646-4
	{
		margin-bottom: 0px;
		min-height: 14px;
	}

	#u14617.MuseMenuActive,#u14624
	{
		width: 100%;
	}

	#u14624.MuseMenuActive,#u14631
	{
		width: 100%;
	}

	#u14631.MuseMenuActive,#u14654
	{
		width: 100%;
	}

	#u14654.MuseMenuActive
	{
		width: 100%;
	}

	#pu14665
	{
		width: 28.69%;
		margin-left: 77.37%;
	}

	#u14665
	{
		width: 109px;
	}

	#u14613_img
	{
		width: 100.61%;
	}
}

@media (min-width: 321px) and (max-width: 321px)
{
	#muse_css_mq
	{
		background-color: #000141;
	}

	#bp_321.active
	{
		display: block;
	}

	#page
	{
		min-height: 569.9415151823523px;
		padding-bottom: 0px;
		max-width: 321px;
	}

	#u14613
	{
		width: 43.31%;
	}

	#accordionu14559
	{
		margin-top: 8px;
		width: 39.88%;
		left: 57.33%;
	}

	#u14561
	{
		padding-bottom: 6px;
	}

	#menuu14562
	{
		margin-top: 2px;
		width: 92.97%;
		left: 6.25%;
	}

	#u14566
	{
		min-height: 24px;
	}

	#u14566.MuseMenuActive
	{
		min-height: 24px;
	}

	#u14568-4
	{
		min-height: 34px;
		margin-bottom: -10px;
	}

	#u14566.MuseMenuActive #u14568-4
	{
		margin-bottom: -10px;
		min-height: 34px;
	}

	#u14557,#u14557-bw
	{
		min-height: 42px;
	}

	#u23000-4
	{
		width: 91.59%;
		margin-left: 3.43%;
	}

	#u23001,#u23011-4
	{
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23009
	{
		width: 92.22%;
		margin-left: 2.5%;
	}

	#u23009:hover
	{
		width: 92.22%;
		margin-left: 2.5%;
	}

	#u23002
	{
		margin-top: 12px;
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23014
	{
		width: 92.53%;
		margin-left: 2.5%;
	}

	#u23016
	{
		margin-bottom: -1px;
		margin-top: 28px;
		width: 51.02%;
		left: 0.34%;
	}

	#u23016:hover
	{
		margin-bottom: -1px;
		margin-top: 28px;
		width: 51.02%;
	}

	#u23018-4
	{
		margin-right: -10000px;
		width: 46.96%;
		left: 52.71%;
	}

	#u23018-4:hover
	{
		margin-right: -10000px;
		width: 46.96%;
	}

	#u23019-9
	{
		width: 38.39%;
		margin-left: 52.87%;
	}

	#u23020
	{
		width: 23.91%;
		margin-left: 0.34%;
	}

	#pu23016,#u23015-4
	{
		width: 99.67%;
		margin-left: 0.34%;
	}

	#pu23022
	{
		margin-top: -1px;
	}

	#u23022
	{
		width: 47.05%;
		left: 2.5%;
	}

	#u23022:hover
	{
		margin-bottom: 0px;
		width: 47.05%;
	}

	#u23016_img,#u23022_img
	{
		width: 100.67%;
	}

	#pu23029-4
	{
		width: 43%;
		margin-left: 52.03%;
	}

	#u23025-9
	{
		width: 82.61%;
	}

	#u23021
	{
		margin-top: 8px;
		width: 22.12%;
		margin-left: 2.81%;
	}

	#u23011-4:hover,#u23013-5,#u23012-8,#u23027-4,#u23004,#u23034-4
	{
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23005
	{
		margin-top: 11px;
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23034-4:hover,#u23031-7,#u23030-4
	{
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23006
	{
		margin-top: 17px;
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23030-4:hover,#u23026-7,#u23028-4
	{
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23028-4:hover
	{
		margin-bottom: 0px;
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23024-8,#u23008
	{
		width: 92.22%;
		margin-left: 2.81%;
	}

	#u23032-7
	{
		margin-top: 37px;
		width: 92.22%;
		left: 2.81%;
	}

	#u23035-4
	{
		width: 92.22%;
		left: 2.81%;
	}

	#u23035-4:hover
	{
		width: 92.22%;
	}

	#u23003,#u23007
	{
		margin-top: 7px;
		width: 92.22%;
		margin-left: 2.81%;
	}

	#menuu14615
	{
		width: 31.47%;
		left: 1.25%;
	}

	#u14661
	{
		width: 99.01%;
	}

	#u14661.MuseMenuActive,#u14640
	{
		width: 99.01%;
	}

	#u14640.MuseMenuActive,#u14617
	{
		width: 99.01%;
	}

	#u14645
	{
		min-height: 15px;
		width: 99.01%;
	}

	#u14645.MuseMenuActive
	{
		min-height: 15px;
		width: 99.01%;
	}

	#u14646-4
	{
		min-height: 28px;
		margin-bottom: -13px;
	}

	#u14645.MuseMenuActive #u14646-4
	{
		margin-bottom: -13px;
		min-height: 28px;
	}

	#u14617.MuseMenuActive,#u14624
	{
		width: 99.01%;
	}

	#u14624.MuseMenuActive,#u14631
	{
		width: 99.01%;
	}

	#u14631.MuseMenuActive,#u14654
	{
		width: 99.01%;
	}

	#u14654.MuseMenuActive
	{
		width: 99.01%;
	}

	#pu14665
	{
		width: 33.96%;
		margin-left: 77.26%;
	}

	#u14665
	{
		width: 109px;
	}

	#u14613_img
	{
		width: 100%;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 569.7405923527729px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#u14557
	{
		min-height: 39px;
		padding-bottom: 3px;
	}

	#u14613
	{
		width: 43.13%;
	}

	#accordionu14559
	{
		margin-top: 5px;
		width: 51.57%;
		left: 45%;
	}

	#u14561
	{
		padding-bottom: 3px;
	}

	#menuu14562
	{
		margin-top: 5px;
		width: 86.07%;
		left: 11.52%;
	}

	#u14566
	{
		min-height: 17px;
		padding-bottom: 7px;
	}

	#u14566.MuseMenuActive
	{
		min-height: 17px;
	}

	#u14568-4
	{
		min-height: 17px;
		top: 3px;
	}

	#u14566.MuseMenuActive #u14568-4
	{
		margin-bottom: 0px;
		min-height: 17px;
	}

	#u14557-bw
	{
		min-height: 39px;
	}

	#u23000-4
	{
		width: 91.57%;
		margin-left: 3.44%;
	}

	#u23001,#u23011-4
	{
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23009
	{
		width: 92.19%;
		margin-left: 2.5%;
	}

	#u23009:hover
	{
		width: 92.19%;
		margin-left: 2.5%;
	}

	#u23002
	{
		margin-top: 13px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23014
	{
		width: 92.5%;
		margin-left: 2.5%;
	}

	#u23016
	{
		margin-bottom: -1px;
		margin-top: 28px;
		width: 51.19%;
		left: 0.34%;
	}

	#u23016:hover
	{
		margin-bottom: -1px;
		margin-top: 28px;
		width: 51.19%;
	}

	#u23018-4
	{
		margin-right: -10000px;
		width: 47.12%;
		left: 52.89%;
	}

	#u23018-4:hover
	{
		margin-right: -10000px;
		width: 47.12%;
	}

	#u23019-9
	{
		width: 38.52%;
		margin-left: 53.05%;
	}

	#u23020
	{
		width: 23.99%;
		margin-left: 0.34%;
	}

	#pu23016,#u23015-4
	{
		width: 99.67%;
		margin-left: 0.34%;
	}

	#u23003
	{
		margin-top: 6px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23022
	{
		width: 47.19%;
		left: 2.5%;
	}

	#u23022:hover
	{
		margin-bottom: 0px;
		width: 47.19%;
	}

	#pu23029-4
	{
		width: 42.82%;
		margin-left: 52.19%;
	}

	#u23025-9
	{
		width: 83.22%;
	}

	#u23021
	{
		margin-top: 7px;
		width: 22.19%;
		margin-left: 2.82%;
	}

	#u23011-4:hover,#u23013-5,#u23012-8,#u23027-4,#u23004,#u23034-4
	{
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23005
	{
		margin-top: 12px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23034-4:hover,#u23031-7,#u23030-4
	{
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23006
	{
		margin-top: 16px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23030-4:hover,#u23026-7,#u23028-4
	{
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23028-4:hover
	{
		margin-bottom: 0px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23024-8,#u23008
	{
		width: 92.19%;
		margin-left: 2.82%;
	}

	#u23032-7
	{
		margin-top: 37px;
		width: 92.19%;
		left: 2.82%;
	}

	#u23035-4
	{
		width: 92.19%;
		left: 2.82%;
	}

	#u23035-4:hover
	{
		width: 92.19%;
	}

	#u23007
	{
		margin-top: 7px;
		width: 92.19%;
		margin-left: 2.82%;
	}

	#menuu14615
	{
		width: 43.75%;
		left: 1.25%;
	}

	#u23016_img,#u23022_img,#u14661
	{
		width: 100%;
	}

	#u14661.MuseMenuActive,#u14640
	{
		width: 100%;
	}

	#u14640.MuseMenuActive,#u14617
	{
		width: 100%;
	}

	#u14645
	{
		min-height: 14px;
		padding-bottom: 1px;
		width: 100%;
	}

	#u14645.MuseMenuActive
	{
		min-height: 14px;
		width: 100%;
	}

	#u14646-4
	{
		min-height: 14px;
	}

	#u14645.MuseMenuActive #u14646-4
	{
		margin-bottom: 0px;
		min-height: 14px;
	}

	#u14617.MuseMenuActive,#u14624
	{
		width: 100%;
	}

	#u14624.MuseMenuActive,#u14631
	{
		width: 100%;
	}

	#u14631.MuseMenuActive,#u14654
	{
		width: 100%;
	}

	#u14654.MuseMenuActive
	{
		width: 100%;
	}

	#pu14665
	{
		width: 33.13%;
		margin-left: 72.19%;
	}

	#u14665
	{
		width: 106px;
	}

	body
	{
		min-width: 320px;
	}

	#u14613_img
	{
		width: 100.73%;
	}
}

