.version.things_to_do_around_albany_0326 /* version checker */
{
	color: #000003;
	background-color: #9BBC7A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.8188272500006px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#pu14311
{
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14311,#u14311-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14122
{
	z-index: 4;
}

#u14123
{
	z-index: 5;
}

#u14124-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14124-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14125
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14161
{
	z-index: 11;
	min-height: 181px;
}

#u14165
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14167-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14172
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14174-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14209
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14210-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14228
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14231-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14249
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14251-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14270
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14272-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14291
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14165.MuseMenuActive,#u14172.MuseMenuActive,#u14209.MuseMenuActive,#u14228.MuseMenuActive,#u14249.MuseMenuActive,#u14270.MuseMenuActive,#u14291.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14293-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14165.MuseMenuActive #u14167-4,#u14172.MuseMenuActive #u14174-4,#u14209.MuseMenuActive #u14210-4,#u14228.MuseMenuActive #u14231-4,#u14249.MuseMenuActive #u14251-4,#u14270.MuseMenuActive #u14272-4,#u14291.MuseMenuActive #u14293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14161-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14122-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u31415,#u31415-bw
{
	z-index: 103;
	height: 42px;
}

#u21701-9
{
	z-index: 104;
	min-height: 29px;
	background-color: transparent;
}

#u21701-2,#u21701-3
{
	font-size: 15px;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u21701-7
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 10px;
	padding-left: 10px;
}

#u21701-5
{
	color: #EDA900;
	font-weight: bold;
}

#u21701-9-bw
{
	z-index: 104;
	min-height: 29px;
	margin-top: 23px;
}

#u21705-6
{
	z-index: 113;
	min-height: 129px;
	background-color: transparent;
	line-height: 14px;
	text-align: justify;
	font-size: 12px;
}

#u21705-2
{
	font-style: italic;
}

#u21705-6-bw
{
	z-index: 113;
	min-height: 129px;
	margin-top: 14px;
}

#slideshowu21707
{
	z-index: 123;
	width: 0.01px;
	height: 685px;
	margin-top: 13px;
	position: relative;
}

#u21709
{
	position: absolute;
	width: 380px;
	height: 276px;
	background-color: transparent;
}

#u21709popup
{
	z-index: 124;
}

#u21724
{
	z-index: 125;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21718
{
	z-index: 127;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21710
{
	z-index: 129;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21720
{
	z-index: 131;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21712
{
	z-index: 133;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21722
{
	z-index: 135;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21714
{
	z-index: 137;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21716
{
	z-index: 139;
	width: 380px;
	height: 276px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21740
{
	position: absolute;
	width: 331px;
	background-color: transparent;
	top: 611px;
	left: 24px;
}

#u21740popup
{
	z-index: 141;
}

#u21755
{
	z-index: 142;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u21749
{
	z-index: 144;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u21749_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u21747
{
	z-index: 146;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u21751
{
	z-index: 148;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u21755.SSSlideLinkSelected,#u21749.SSSlideLinkSelected,#u21747.SSSlideLinkSelected,#u21751.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21753
{
	z-index: 150;
	width: 60px;
	height: 45px;
	background-color: transparent;
	margin-bottom: -26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 30px;
}

#u21753_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u21741
{
	z-index: 152;
	width: 60px;
	height: 45px;
	background-color: transparent;
	margin-bottom: -26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 100px;
}

#u21745
{
	z-index: 154;
	width: 60px;
	height: 45px;
	background-color: transparent;
	margin-bottom: -26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 170px;
}

#u21745_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u21743
{
	z-index: 156;
	width: 60px;
	height: 45px;
	background-color: transparent;
	margin-bottom: -26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 240px;
}

#u21753.SSSlideLinkSelected,#u21741.SSSlideLinkSelected,#u21745.SSSlideLinkSelected,#u21743.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px -26px 0px;
}

#u21747_img,#u21743_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u21729
{
	position: absolute;
	width: 332px;
	background-color: transparent;
	top: 276px;
	left: 24px;
}

#u21729popup
{
	z-index: 158;
}

#u21733-11
{
	z-index: 159;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21730-11
{
	z-index: 170;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21737-11
{
	z-index: 181;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21731-11
{
	z-index: 192;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21735-11
{
	z-index: 203;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21734-11
{
	z-index: 214;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21732-11
{
	z-index: 225;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21736-10
{
	z-index: 236;
	width: 312px;
	min-height: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u21733-3,#u21730-3,#u21737-3,#u21731-3,#u21735-3,#u21734-3,#u21732-3,#u21736-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21733,#u21730,#u21737,#u21731,#u21735,#u21734,#u21732,#u21736
{
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 15px;
}

#u21733-2,#u21730-2,#u21737-2,#u21731-2,#u21735-2,#u21734-2,#u21732-2,#u21736-2
{
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 15px;
}

#u21733-5,#u21730-5,#u21737-5,#u21731-5,#u21735-5,#u21734-5,#u21732-5,#u21736-4
{
	font-weight: 700;
}

#u21757-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
}

#u21757-4popup
{
	z-index: 246;
}

#u21726-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
	left: 350px;
}

#u21726-4popup
{
	z-index: 250;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u21706-4
{
	z-index: 119;
	min-height: 113px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
}

#u21705-4,#u21706-2
{
	padding-right: 30px;
	padding-left: 30px;
}

#u21706-4-bw
{
	z-index: 119;
	min-height: 113px;
	margin-top: 77px;
}

#pu27076
{
	margin-top: 7px;
	width: 100%;
}

#u27076
{
	z-index: 97;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 32.64%;
}

#u27077
{
	z-index: 98;
	width: 100%;
}

#u27078
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 10.27%;
	left: 44.74%;
}

#u27079
{
	z-index: 100;
	width: 100%;
}

#u27080
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	width: 10.53%;
	left: 56.85%;
}

#u27081
{
	z-index: 102;
	width: 100%;
}

#pu14000
{
	margin-top: 11px;
	width: 100%;
}

#u14000,#u14000-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14391
{
	z-index: 54;
	min-height: 120px;
}

#u14395
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14397-4
{
	min-height: 14px;
	position: relative;
}

#u14402
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14404-4
{
	min-height: 14px;
	position: relative;
}

#u14439
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14440-4
{
	min-height: 14px;
	position: relative;
}

#u14460
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14463-4
{
	min-height: 14px;
	position: relative;
}

#u14481
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14484-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14502
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14504-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14521
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14395.MuseMenuActive,#u14402.MuseMenuActive,#u14439.MuseMenuActive,#u14460.MuseMenuActive,#u14481.MuseMenuActive,#u14502.MuseMenuActive,#u14521.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14524-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14395.MuseMenuActive #u14397-4,#u14402.MuseMenuActive #u14404-4,#u14439.MuseMenuActive #u14440-4,#u14460.MuseMenuActive #u14463-4,#u14481.MuseMenuActive #u14484-4,#u14502.MuseMenuActive #u14504-4,#u14521.MuseMenuActive #u14524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14169,#u14206,#u14227,#u14248,#u14269,#u14290,#u14399,#u14436,#u14457,#u14478,#u14499,#u14520
{
	margin-top: 2px;
}

#menuu14391-bw
{
	z-index: 54;
	min-height: 120px;
	margin-top: 3px;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}


