.version.world_news /* version checker */
{
	color: #0000F9;
	background-color: #8D888D;
}

#page
{
	z-index: 1;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -56px;
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14557,#u14557-bw
{
	z-index: 2;
	height: 42px;
}

#accordionu14559
{
	z-index: 4;
}

#u14560
{
	z-index: 5;
}

#u14612-4
{
	z-index: 6;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14612-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14561
{
	z-index: 10;
	padding-bottom: 6px;
}

#menuu14562
{
	z-index: 11;
	min-height: 181px;
}

#u14599
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14600-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14606
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14609-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14571
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14573-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14566
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14568-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14578
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14581-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14585
{
	min-height: 17px;
	padding-bottom: 7px;
	position: relative;
}

#u14587-4
{
	min-height: 17px;
	position: relative;
	top: 3px;
}

#u14592
{
	min-height: 17px;
	padding-bottom: 8px;
	position: relative;
}

#u14599.MuseMenuActive,#u14606.MuseMenuActive,#u14571.MuseMenuActive,#u14566.MuseMenuActive,#u14578.MuseMenuActive,#u14585.MuseMenuActive,#u14592.MuseMenuActive
{
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#u14595-4
{
	min-height: 17px;
	position: relative;
	top: 4px;
}

#u14599.MuseMenuActive #u14600-4,#u14606.MuseMenuActive #u14609-4,#u14571.MuseMenuActive #u14573-4,#u14566.MuseMenuActive #u14568-4,#u14578.MuseMenuActive #u14581-4,#u14585.MuseMenuActive #u14587-4,#u14592.MuseMenuActive #u14595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px 0px 0px 0%;
}

#menuu14562-bw
{
	z-index: 11;
	min-height: 181px;
	margin-top: 2px;
}

#accordionu14559-bw
{
	z-index: 4;
	margin-top: 8px;
}

#u31407,#u31407-bw
{
	z-index: 103;
	height: 43px;
}

#u18285-4
{
	z-index: 105;
	min-height: 43px;
	background-color: transparent;
	line-height: 38px;
	color: #002C73;
	font-size: 32px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u18285-2
{
	padding-left: 15px;
}

#u18285-4-bw
{
	z-index: 105;
	min-height: 43px;
	margin-top: 28px;
}

#u18286
{
	z-index: 109;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u18286-bw
{
	z-index: 109;
	margin-top: -1px;
	height: 21px;
}

#u18504-4
{
	z-index: 118;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
}

#u18504-4-bw
{
	z-index: 118;
	min-height: 43px;
	margin-top: 6px;
}

#u26749
{
	z-index: 243;
	height: 210px;
	background: transparent url("../../images/cassidy-panama-papers-american-names-1200.jpg") no-repeat center center;
	background-size: cover;
}

#u26749-bw
{
	z-index: 243;
	margin-top: 5px;
	height: 210px;
}

#u18510-8
{
	z-index: 144;
	min-height: 102px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u18510-2
{
	font-style: italic;
}

#u18510-8-bw
{
	z-index: 144;
	min-height: 102px;
	margin-top: 6px;
}

#u18507-8
{
	z-index: 126;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
	text-indent: 30px;
}

#u18507-8-bw
{
	z-index: 126;
	min-height: 29px;
}

#pu31526
{
	margin-top: 8px;
	width: 100%;
}

#u31526
{
	z-index: 110;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u31526-bw
{
	z-index: 110;
	margin-top: -1px;
	height: 21px;
}

#u31532-4
{
	z-index: 122;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
}

#u18504-4:hover,#u31532-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px;
}

#u18504-2,#u31532-2
{
	font-size: 15px;
	text-align: left;
	padding-right: 30px;
	padding-left: 30px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u31532-4-bw
{
	z-index: 122;
	min-height: 43px;
	margin-top: 5px;
}

#u31529
{
	z-index: 244;
	height: 166px;
	background: transparent url("../../images/79692_radovan-poster_iff.jpg") no-repeat center center;
	background-size: cover;
}

#u31529-bw
{
	z-index: 244;
	margin-top: 5px;
	height: 166px;
}

#u31538-10
{
	z-index: 134;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
	text-indent: 30px;
	text-align: right;
}

#u31538-10-bw
{
	z-index: 134;
	min-height: 29px;
	margin-top: 9px;
}

#u31541
{
	z-index: 158;
	height: 13px;
	border-style: solid;
	border-color: #002C73;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
	width: 22.37%;
	margin-left: 2.64%;
	border-width: 2px 0px 0px;
}

#u31535-5
{
	z-index: 152;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u31535-5-bw
{
	z-index: 152;
	min-height: 58px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pu18513
{
	margin-top: 7px;
	width: 100%;
}

#u18513
{
	z-index: 111;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u18513-bw
{
	z-index: 111;
	margin-top: -1px;
	height: 21px;
}

#u18521-4
{
	z-index: 172;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
}

#u18521-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px;
}

#u18521-2
{
	font-size: 17px;
	text-align: right;
	padding-right: 30px;
	color: #000000;
}

#u18521-4-bw
{
	z-index: 172;
	min-height: 30px;
	margin-top: 6px;
}

#u26732
{
	z-index: 104;
	height: 106px;
	background: transparent url("../../images/750x-1.jpg") no-repeat center center;
	background-size: cover;
}

#u26732-bw
{
	z-index: 104;
	margin-top: -6px;
	margin-bottom: -6px;
	height: 106px;
}

#u18519-9
{
	z-index: 159;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
}

#u18519-7
{
	padding-right: 30px;
	color: #7F7F7F;
}

#u18519-9-bw
{
	z-index: 159;
	min-height: 29px;
	margin-top: 8px;
}

#u18516
{
	z-index: 157;
	height: 13px;
	border-style: solid;
	border-color: #002C73;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
	width: 22.37%;
	margin-left: 2.64%;
	border-width: 2px 0px 0px;
}

#u18520-4
{
	z-index: 168;
	min-height: 39px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
}

#u18520-4-bw
{
	z-index: 168;
	min-height: 39px;
	margin-top: -2px;
	margin-bottom: -2px;
}

#u18557
{
	z-index: 112;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18557-bw
{
	z-index: 112;
	margin-top: 6px;
	height: 21px;
}

#u18580-4
{
	z-index: 202;
	min-height: 26px;
	background-color: transparent;
	line-height: 17px;
}

#u18580-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u18580-2
{
	font-size: 14px;
	padding-right: 30px;
	color: #000000;
}

#u18580-4-bw
{
	z-index: 202;
	min-height: 26px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#u18574-7
{
	z-index: 184;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
}

#u31538-6,#u31538-8,#u18519-5,#u18574-5
{
	padding-right: 30px;
}

#u18574-7-bw
{
	z-index: 184;
	min-height: 29px;
	margin-top: 10px;
}

#u18652
{
	z-index: 113;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18652-bw
{
	z-index: 113;
	margin-top: 4px;
	height: 21px;
}

#u18588-4
{
	z-index: 231;
	min-height: 48px;
	background-color: transparent;
	line-height: 17px;
}

#u18588-2
{
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
	color: #000000;
}

#u18588-4-bw
{
	z-index: 231;
	min-height: 48px;
}

#u18585-7
{
	z-index: 210;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
}

#u18585-5
{
	padding-left: 30px;
}

#u18585-7-bw
{
	z-index: 210;
	min-height: 21px;
}

#u18708
{
	z-index: 114;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18708-bw
{
	z-index: 114;
	margin-top: 12px;
	height: 21px;
}

#u18581-4
{
	z-index: 206;
	min-height: 50px;
	background-color: transparent;
	line-height: 17px;
}

#u18581-4-bw
{
	z-index: 206;
	min-height: 50px;
}

#u18575-7
{
	z-index: 191;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
}

#u18575-3
{
	color: #EDA900;
}

#u18575-7-bw
{
	z-index: 191;
	min-height: 29px;
	margin-top: 2px;
}

#u18655
{
	z-index: 115;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18655-bw
{
	z-index: 115;
	margin-top: 16px;
	height: 21px;
}

#u18579-4
{
	z-index: 198;
	min-height: 50px;
	background-color: transparent;
	line-height: 17px;
}

#u18581-4:hover,#u18579-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px;
}

#u18579-4-bw
{
	z-index: 198;
	min-height: 50px;
}

#u18572-8
{
	z-index: 176;
	min-height: 29px;
	background-color: transparent;
	line-height: 14px;
}

#u18572-8-bw
{
	z-index: 176;
	min-height: 29px;
}

#u18658
{
	z-index: 117;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18658-bw
{
	z-index: 117;
	margin-top: 10px;
	height: 21px;
}

#pu14557,#pu18286,#pu18586-7
{
	width: 100%;
}

#u18586-7
{
	z-index: 217;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
}

#u18586-7-bw
{
	z-index: 217;
	min-height: 21px;
	margin-top: 37px;
}

#u18589-4
{
	z-index: 235;
	min-height: 48px;
	background-color: transparent;
	line-height: 17px;
}

#u18589-4-bw
{
	z-index: 235;
	min-height: 48px;
}

#u18661
{
	z-index: 116;
	height: 21px;
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u18661-bw
{
	z-index: 116;
	margin-top: 7px;
	height: 21px;
}

#u18590-4
{
	z-index: 239;
	min-height: 48px;
	background-color: transparent;
	line-height: 17px;
}

#u18588-4:hover,#u18589-4:hover,#u18590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px;
}

#u18504-4:hover p,#u31532-4:hover p,#u18521-4:hover p,#u18580-4:hover p,#u18588-4:hover p,#u18581-4:hover p,#u18579-4:hover p,#u18589-4:hover p,#u18590-4:hover p
{
	color: #EDA900;
	visibility: inherit;
}

#u18581-2,#u18579-2,#u18589-2,#u18590-2
{
	font-size: 14px;
	text-align: left;
	padding-right: 30px;
	padding-left: 30px;
	color: #000000;
}

#u18590-4-bw
{
	z-index: 239;
	min-height: 48px;
}

#u18587-7
{
	z-index: 224;
	min-height: 54px;
	background-color: transparent;
	line-height: 14px;
}

#u18510-4,#u18510-5,#u31535-2,#u18520-2,#u18575-5,#u18572-6,#u18586-5,#u18587-5
{
	padding-right: 30px;
	padding-left: 30px;
}

#u18507-3,#u31538-3,#u18519-3,#u18574-3,#u18585-3,#u18575-2,#u18572-3,#u18586-3,#u18587-3
{
	color: #EDA900;
	font-weight: bold;
}

#u18507,#u18507-5,#u31538,#u31538-5,#u31538-7,#u18519,#u18574,#u18574-4,#u18585,#u18585-4,#u18572,#u18572-5,#u18586,#u18586-4,#u18587,#u18587-4
{
	color: #7F7F7F;
}

#u18587-7-bw
{
	z-index: 224;
	min-height: 54px;
	margin-top: 3px;
}

#pu14558
{
	margin-top: 1px;
	width: 100%;
}

#u14558,#u14558-bw
{
	z-index: 3;
	height: 126px;
}

#menuu14615
{
	z-index: 54;
	min-height: 120px;
}

#u14661
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14662-4
{
	min-height: 14px;
	position: relative;
}

#u14640
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14643-4
{
	min-height: 14px;
	position: relative;
}

#u14617
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14618-4
{
	min-height: 14px;
	position: relative;
}

#u14645
{
	min-height: 14px;
	padding-bottom: 1px;
	position: relative;
}

#u14646-4
{
	min-height: 14px;
	position: relative;
}

#u14624
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14626-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14631
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14634-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14654
{
	min-height: 14px;
	padding-bottom: 2px;
	position: relative;
}

#u14661.MuseMenuActive,#u14640.MuseMenuActive,#u14617.MuseMenuActive,#u14645.MuseMenuActive,#u14624.MuseMenuActive,#u14631.MuseMenuActive,#u14654.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14656-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u14661.MuseMenuActive #u14662-4,#u14640.MuseMenuActive #u14643-4,#u14617.MuseMenuActive #u14618-4,#u14645.MuseMenuActive #u14646-4,#u14624.MuseMenuActive #u14626-4,#u14631.MuseMenuActive #u14634-4,#u14654.MuseMenuActive #u14656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u14605,#u14570,#u14563,#u14577,#u14584,#u14591,#u14637,#u14616,#u14644,#u14623,#u14630,#u14651
{
	margin-top: 2px;
}

#menuu14615-bw
{
	z-index: 54;
	min-height: 120px;
	margin-top: 3px;
}

#u27134
{
	z-index: 97;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.64%;
	left: 74.22%;
}

#u27135
{
	z-index: 98;
	width: 100%;
}

#u27136
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.37%;
	left: 83.43%;
}

#u27137
{
	z-index: 100;
	width: 100%;
}

#u27138
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 7.64%;
	left: 92.37%;
}

#u27139
{
	z-index: 102;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


