.version.about_us /* version checker */
{
	color: #0000E6;
	background-color: #919467;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 584.7000000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u176,#u176-bw
{
	z-index: 2;
	height: 81px;
}

#u32889,#u32889-bw
{
	z-index: 107;
	height: 81px;
}

#u1492-3,#u1492-3-bw
{
	z-index: 3;
	min-height: 33px;
}

#menuu676
{
	z-index: 6;
	width: 658px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 31.05%;
}

#u705
{
	width: 56px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u708
{
	width: 56px;
	padding-bottom: 17px;
	position: relative;
}

#u708:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px;
}

#u708.MuseMenuActive
{
	width: 56px;
	min-height: 0px;
	margin: 0px;
}

#u710-4
{
	width: 42px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u708:hover #u710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u708.MuseMenuActive #u710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u684
{
	width: 96px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#u685
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u685:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u685.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u687-4
{
	width: 82px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u685:hover #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u685.MuseMenuActive #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u698
{
	width: 93px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u699
{
	width: 93px;
	padding-bottom: 17px;
	position: relative;
}

#u699:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u699.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u700-4
{
	width: 79px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u699:hover #u700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u699.MuseMenuActive #u700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u712
{
	width: 161px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u713
{
	width: 161px;
	padding-bottom: 17px;
	position: relative;
}

#u713:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u713.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u715-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u713:hover #u715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u713.MuseMenuActive #u715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u4043
{
	width: 76px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 414px;
}

#u4044
{
	width: 76px;
	padding-bottom: 17px;
	position: relative;
}

#u4044:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u4044.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u4047-4
{
	width: 62px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u4044:hover #u4047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u4044.MuseMenuActive #u4047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u691
{
	width: 77px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 492px;
}

#u694
{
	width: 77px;
	padding-bottom: 17px;
	position: relative;
}

#u694:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u694.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u695-4
{
	width: 63px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u694:hover #u695-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u694.MuseMenuActive #u695-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u677
{
	width: 87px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 571px;
}

#u680
{
	width: 87px;
	padding-bottom: 17px;
	position: relative;
}

#u680:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u680.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u683-4
{
	width: 74px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 6px;
}

#u680:hover #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u680.MuseMenuActive #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u31354
{
	z-index: 108;
	height: 388px;
	background: transparent url("../images/group.jpg") no-repeat center center;
	background-size: cover;
}

#u31354-bw
{
	z-index: 108;
	height: 388px;
}

#u1521-4
{
	z-index: 109;
	min-height: 59px;
	border-style: solid;
	border-width: 2px;
	border-color: #EDA900;
	background-color: #F5F5F5;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 10px;
	line-height: 54px;
	color: #002C73;
	text-align: center;
	font-size: 45px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1521-4-bw
{
	z-index: 109;
	min-height: 59px;
	margin-top: 308px;
}

#pu1706-6
{
	margin-top: 30px;
	width: 100%;
}

#u1706-6
{
	z-index: 120;
	min-height: 118px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1706-2
{
	font-size: 30px;
	line-height: 45px;
}

#u1706-4
{
	font-size: 23px;
	line-height: 35px;
}

#u1706-3
{
	font-weight: 700;
}

#u1706-6-bw
{
	z-index: 120;
	min-height: 118px;
}

#u1709
{
	z-index: 126;
	height: 37px;
	border-style: solid;
	border-color: #002C73;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u1709-bw
{
	z-index: 126;
	margin-top: 83px;
	height: 37px;
}

#u1712-8
{
	z-index: 127;
	min-height: 59px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
}

#u1712-2
{
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
}

#u1712-4
{
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
}

#u1712-6
{
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
}

#u1712-8-bw
{
	z-index: 127;
	min-height: 59px;
}

#pu1715-8
{
	margin-top: 20px;
	width: 100%;
}

#u1715-8
{
	z-index: 135;
	min-height: 88px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
}

#u1715-8-bw
{
	z-index: 135;
	min-height: 88px;
}

#u1724-8
{
	z-index: 159;
	min-height: 94px;
	background-color: transparent;
	text-align: right;
	font-family: open-sans, sans-serif;
}

#u1724-8-bw
{
	z-index: 159;
	min-height: 94px;
}

#pu1718-8
{
	margin-top: 34px;
	width: 100%;
}

#u1718-8
{
	z-index: 143;
	min-height: 85px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
}

#u1718-8-bw
{
	z-index: 143;
	min-height: 85px;
}

#u1727-8
{
	z-index: 167;
	min-height: 85px;
	background-color: transparent;
	text-align: right;
	font-family: open-sans, sans-serif;
}

#u1727-8-bw
{
	z-index: 167;
	min-height: 85px;
}

#pu1721-8
{
	margin-top: 39px;
	width: 100%;
}

#u1721-8
{
	z-index: 151;
	min-height: 77px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
}

#u1715-2,#u1718-2,#u1721-2
{
	font-size: 20px;
	line-height: 26px;
	padding-left: 110px;
	font-weight: 400;
}

#u1715-4,#u1718-4,#u1721-4
{
	font-size: 20px;
	line-height: 26px;
	padding-left: 110px;
	font-weight: 300;
}

#u1715-6,#u1718-6,#u1721-6
{
	font-size: 18px;
	line-height: 23px;
	padding-left: 110px;
	font-weight: 300;
}

#u1721-8-bw
{
	z-index: 151;
	min-height: 77px;
}

#u1730-8
{
	z-index: 175;
	min-height: 77px;
	background-color: transparent;
	text-align: right;
	font-family: open-sans, sans-serif;
}

#u1724-2,#u1727-2,#u1730-2
{
	font-size: 20px;
	line-height: 26px;
	padding-right: 110px;
	font-weight: 400;
}

#u1724-4,#u1727-4,#u1730-4
{
	font-size: 20px;
	line-height: 26px;
	padding-right: 110px;
	font-weight: 300;
}

#u1724-6,#u1727-6,#u1730-6
{
	font-size: 18px;
	line-height: 23px;
	padding-right: 110px;
	font-weight: 300;
}

#u1712-5,#u1715-5,#u1724-5,#u1718-5,#u1727-5,#u1721-5,#u1730-5
{
	font-style: italic;
}

#u1730-8-bw
{
	z-index: 175;
	min-height: 77px;
}

#u1736-4
{
	z-index: 184;
	min-height: 53px;
	background-color: transparent;
	line-height: 50px;
	color: #002C73;
	text-align: center;
	font-size: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1736-4-bw
{
	z-index: 184;
	min-height: 53px;
	margin-top: 112px;
}

#u1733
{
	z-index: 183;
	height: 37px;
	border-style: solid;
	border-color: #002C73;
	background-color: transparent;
	border-width: 2px 0px 0px;
}

#u1733-bw
{
	z-index: 183;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 37px;
}

#u1524-7
{
	z-index: 113;
	min-height: 218px;
	background-color: transparent;
	line-height: 19px;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1524-2,#u1524-3,#u1524-5
{
	padding-right: 110px;
	padding-left: 110px;
}

#u1524-7-bw
{
	z-index: 113;
	min-height: 218px;
	margin-top: -7px;
	margin-bottom: -7px;
}

#pu176,#pu1492-3,#pu31354,#pu814
{
	width: 100%;
}

#u814,#u814-bw
{
	z-index: 49;
	height: 215px;
}

#u815-4
{
	z-index: 50;
	min-height: 26px;
}

#u815-4-bw
{
	z-index: 50;
	min-height: 26px;
	margin-top: 6px;
}

#menuu816
{
	z-index: 54;
	min-height: 131px;
}

#u848
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u851-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u853
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u855-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u841
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u843-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u820
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u821-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u4067
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u4070-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u825
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u827-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u832
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u848.MuseMenuActive,#u853.MuseMenuActive,#u841.MuseMenuActive,#u820.MuseMenuActive,#u4067.MuseMenuActive,#u825.MuseMenuActive,#u832.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u834-4
{
	min-height: 14px;
	position: relative;
	top: 1px;
}

#u848.MuseMenuActive #u851-4,#u853.MuseMenuActive #u855-4,#u841.MuseMenuActive #u843-4,#u820.MuseMenuActive #u821-4,#u4067.MuseMenuActive #u4070-4,#u825.MuseMenuActive #u827-4,#u832.MuseMenuActive #u834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u852,#u838,#u817,#u4064,#u824,#u831
{
	margin-top: 2px;
}

#menuu816-bw
{
	z-index: 54;
	min-height: 131px;
	margin-top: 32px;
}

#u1693-4
{
	z-index: 97;
	min-height: 21px;
}

#u1693-4-bw
{
	z-index: 97;
	min-height: 21px;
	margin-top: 174px;
}

#u29981
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	width: 5.21%;
	left: 80.21%;
}

#u29982
{
	z-index: 102;
	width: 100%;
}

#u29983
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	width: 5.11%;
	left: 86.46%;
}

#u29984
{
	z-index: 104;
	width: 100%;
}

#u29985
{
	z-index: 105;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	width: 5.21%;
	left: 92.71%;
}

#u29986
{
	z-index: 106;
	width: 100%;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}


