.version.laser_guided_interstellar_travel_0301 /* version checker */
{
	color: #0000E1;
	background-color: #80E259;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 776.9499999999996px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -17px;
	width: 100%;
}

#u1157
{
	z-index: 54;
	min-height: 55px;
	padding-bottom: 5px;
}

#u1157_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u8219
{
	z-index: 98;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 19.69%;
	left: 2.09%;
}

#menuu1160
{
	z-index: 55;
	width: 664px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 28.75%;
}

#u1161
{
	width: 58px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1164
{
	width: 58px;
	padding-bottom: 17px;
	position: relative;
}

#u1164.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1167-4
{
	width: 40px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1164.MuseMenuActive #u1167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1168
{
	width: 97px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u1171
{
	width: 97px;
	padding-bottom: 17px;
	position: relative;
}

#u1171.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1173-4
{
	width: 79px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1171.MuseMenuActive #u1173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u1205
{
	width: 94px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u1206
{
	width: 94px;
	padding-bottom: 17px;
	position: relative;
}

#u1206.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u1209-4
{
	width: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1206.MuseMenuActive #u1209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u1226
{
	width: 159px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u1227
{
	width: 159px;
	padding-bottom: 17px;
	position: relative;
}

#u1227.MuseMenuActive
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u1229-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1227.MuseMenuActive #u1229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u4106
{
	width: 77px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u4109
{
	width: 77px;
	padding-bottom: 17px;
	position: relative;
}

#u4109.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u4112-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u4109.MuseMenuActive #u4112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1247
{
	width: 78px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u1250
{
	width: 78px;
	padding-bottom: 17px;
	position: relative;
}

#u1250.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1253-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1250.MuseMenuActive #u1253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1268
{
	width: 89px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u1271
{
	width: 89px;
	padding-bottom: 17px;
	position: relative;
}

#u1271.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u1274-4
{
	width: 72px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1271.MuseMenuActive #u1274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1157-bw
{
	z-index: 54;
	min-height: 55px;
}

#u30867
{
	z-index: 182;
	height: 496px;
	background: transparent url("../images/interstellar-adrian-mann-ucsb.jpg") no-repeat center center;
	background-size: cover;
}

#u30867-bw
{
	z-index: 182;
	height: 496px;
}

#u30868-11
{
	z-index: 183;
	min-height: 108px;
	background-color: #F5F5F5;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	text-align: center;
}

#u30868,#u30868-3
{
	line-height: 31px;
	padding-right: 30px;
	padding-left: 30px;
}

#u30868-4,#u30868-5
{
	line-height: 14px;
	padding-right: 30px;
	padding-left: 30px;
}

#u30868-9
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 30px;
	padding-left: 30px;
}

#u30868-7
{
	color: #EDA900;
	font-weight: bold;
}

#u30868-11-bw
{
	z-index: 183;
	min-height: 108px;
	margin-top: 387px;
}

#u30869-4
{
	z-index: 194;
	min-height: 46px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u30869-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 0px;
}

#u30869-4:hover p
{
	color: #002C73;
	visibility: inherit;
}

#u30869-2
{
	padding-left: 10px;
}

#u30869-4-bw
{
	z-index: 194;
	min-height: 46px;
}

#u6876-4
{
	z-index: 150;
	min-height: 25px;
	background-color: transparent;
	line-height: 13px;
	font-style: italic;
}

#u6876-2
{
	padding-right: 20px;
	padding-left: 20px;
}

#u6876-4-bw
{
	z-index: 150;
	min-height: 25px;
	margin-top: 11px;
}

#u6884-28
{
	z-index: 154;
	min-height: 769px;
	background-color: transparent;
	line-height: 17px;
}

#u6884-2,#u6884-3,#u6884-5,#u6884-6,#u6884-11,#u6884-12,#u6884-14,#u6884-15,#u6884-17,#u6884-18,#u6884-20,#u6884-23,#u6884-26
{
	padding-right: 110px;
	padding-left: 110px;
}

#u6884-28-bw
{
	z-index: 154;
	min-height: 769px;
	margin-top: 11px;
}

#pu29954
{
	margin-top: 29px;
	width: 100%;
}

#u29954
{
	z-index: 144;
	position: relative;
	margin-right: -10000px;
	width: 5.21%;
	left: 41.15%;
}

#u29955
{
	z-index: 145;
	width: 100%;
}

#u29956
{
	z-index: 146;
	position: relative;
	margin-right: -10000px;
	width: 5.11%;
	left: 47.5%;
}

#u29957
{
	z-index: 147;
	width: 100%;
}

#u29958
{
	z-index: 148;
	position: relative;
	margin-right: -10000px;
	width: 5.21%;
	left: 53.65%;
}

#u29959
{
	z-index: 149;
	width: 100%;
}

#pu13045-4
{
	margin-top: 32px;
	width: 100%;
}

#u13045-4
{
	z-index: 100;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	width: 26.15%;
	left: 6.67%;
}

#u13046
{
	z-index: 104;
	height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 6.78%;
}

#u13047
{
	z-index: 105;
	height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 66.88%;
	left: 32.82%;
}

#pu13158-4
{
	margin-top: 24px;
	width: 100%;
}

#u13158-4
{
	z-index: 128;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 0.53%;
}

#u13161-4
{
	z-index: 132;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 25.84%;
}

#u13164-4
{
	z-index: 136;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 19.59%;
	left: 51.25%;
}

#u13167-4
{
	z-index: 140;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 76.67%;
}

#pu13066
{
	margin-top: 13px;
	width: 100%;
}

#u13066
{
	z-index: 106;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.59%;
	left: 2.09%;
}

#u13066:hover
{
	min-height: 0px;
	width: 19.59%;
	margin: -1px -10000px -1px 0%;
}

#u13066.MuseLinkActive
{
	min-height: 0px;
	width: 19.59%;
	margin: -1px -10000px -1px 0%;
}

#u13066_img
{
	padding-right: 1px;
	width: 99.47%;
}

#u13074
{
	z-index: 108;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.48%;
	left: 27.3%;
}

#u13074:hover
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13082
{
	z-index: 110;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.48%;
	left: 52.71%;
}

#u13074.MuseLinkActive,#u13082:hover
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13082.MuseLinkActive
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13126-4
{
	z-index: 124;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 78.34%;
}

#u13126-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#pu13112-4
{
	margin-top: 10px;
	width: 100%;
}

#u13112-4
{
	z-index: 112;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 2.09%;
}

#u13126-4.MuseLinkActive,#u13112-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13120-4
{
	z-index: 116;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 27.3%;
}

#u13112-4.MuseLinkActive,#u13120-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13123-4
{
	z-index: 120;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 52.71%;
}

#u13120-4.MuseLinkActive,#u13123-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13123-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u1009
{
	z-index: 2;
	min-height: 235px;
}

#u1009_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

#u1010-4
{
	z-index: 3;
	min-height: 26px;
	position: relative;
	width: 19.69%;
	left: 2.09%;
}

#menuu1011
{
	z-index: 7;
	position: relative;
	width: 18.75%;
	left: 2.09%;
}

#u1040
{
	position: relative;
	width: 100%;
}

#u1043
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1046-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1048
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1050-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1036
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1038-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1015
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1016-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u4086
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u4089-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1020
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1022-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1047,#u1033,#u1012,#u4085,#u1019,#u1026
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u1027
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1043.MuseMenuActive,#u1048.MuseMenuActive,#u1036.MuseMenuActive,#u1015.MuseMenuActive,#u4086.MuseMenuActive,#u1020.MuseMenuActive,#u1027.MuseMenuActive
{
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1029-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1043.MuseMenuActive #u1046-4,#u1048.MuseMenuActive #u1050-4,#u1036.MuseMenuActive #u1038-4,#u1015.MuseMenuActive #u1016-4,#u4086.MuseMenuActive #u4089-4,#u1020.MuseMenuActive #u1022-4,#u1027.MuseMenuActive #u1029-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1056-4
{
	z-index: 50;
	min-height: 21px;
	margin-top: 17px;
	position: relative;
	width: 21.25%;
	left: 40.42%;
}

#u1009-bw
{
	z-index: 2;
	min-height: 235px;
	margin-top: 17px;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}

#pu30867,#u8219_img,#u13074_img,#u13082_img
{
	width: 100%;
}

