.version.life___local /* version checker */
{
	color: #0000F3;
	background-color: #604A74;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	border-color: #000000;
	background-color: transparent;
	background-image: none;
	width: 100%;
	border-width: 0px;
	padding-bottom: 0px;
	z-index: 1;
	margin-left: auto;
}

#u176,#u176-bw
{
	z-index: 2;
	height: 81px;
}

#u32889,#u32889-bw
{
	z-index: 107;
	height: 81px;
}

#u1492-3,#u1492-3-bw
{
	z-index: 3;
	min-height: 33px;
}

#menuu676
{
	margin-right: -10000px;
	margin-top: 1px;
	z-index: 6;
	width: 658px;
	position: relative;
}

#u43521
{
	margin-right: -10000px;
	width: 56px;
	position: relative;
	min-height: 34px;
}

#u43522
{
	width: 56px;
	padding-bottom: 17px;
	position: relative;
}

#u43522:hover,#u43522.MuseMenuActive
{
	width: 56px;
	min-height: 0px;
	margin: 0px;
}

#u43525-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 42px;
	position: relative;
	min-height: 17px;
}

#u43522:hover #u43525-4,#u43522.MuseMenuActive #u43525-4
{
	padding-top: 0px;
	width: 42px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u684
{
	margin-right: -10000px;
	left: 58px;
	width: 96px;
	position: relative;
	min-height: 34px;
}

#u685
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u685:hover,#u685.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u687-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 82px;
	position: relative;
	min-height: 17px;
}

#u685:hover #u687-4,#u685.MuseMenuActive #u687-4
{
	padding-top: 0px;
	width: 82px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u698
{
	margin-right: -10000px;
	left: 156px;
	width: 93px;
	position: relative;
	min-height: 34px;
}

#u699
{
	width: 93px;
	padding-bottom: 17px;
	position: relative;
}

#u699:hover,#u699.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u700-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 79px;
	position: relative;
	min-height: 17px;
}

#u699:hover #u700-4,#u699.MuseMenuActive #u700-4
{
	padding-top: 0px;
	width: 79px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u712
{
	margin-right: -10000px;
	left: 251px;
	width: 161px;
	position: relative;
	min-height: 34px;
}

#u713
{
	width: 161px;
	padding-bottom: 17px;
	position: relative;
}

#u713:hover,#u713.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u715-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 147px;
	position: relative;
	min-height: 17px;
}

#u713:hover #u715-4,#u713.MuseMenuActive #u715-4
{
	padding-top: 0px;
	width: 147px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4043
{
	margin-right: -10000px;
	left: 414px;
	width: 76px;
	position: relative;
	min-height: 34px;
}

#u4044
{
	width: 76px;
	padding-bottom: 17px;
	position: relative;
}

#u4044:hover,#u4044.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u4047-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 62px;
	position: relative;
	min-height: 17px;
}

#u4044:hover #u4047-4,#u4044.MuseMenuActive #u4047-4
{
	padding-top: 0px;
	width: 62px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u691
{
	margin-right: -10000px;
	left: 492px;
	width: 77px;
	position: relative;
	min-height: 34px;
}

#u694
{
	width: 77px;
	padding-bottom: 17px;
	position: relative;
}

#u694:hover,#u694.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u695-4
{
	margin-right: -10000px;
	left: 7px;
	top: 8px;
	width: 63px;
	position: relative;
	min-height: 17px;
}

#u694:hover #u695-4,#u694.MuseMenuActive #u695-4
{
	padding-top: 0px;
	width: 63px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u677
{
	margin-right: -10000px;
	left: 571px;
	width: 87px;
	position: relative;
	min-height: 34px;
}

#u680
{
	width: 87px;
	padding-bottom: 17px;
	position: relative;
}

#u680:hover,#u680.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u683-4
{
	margin-right: -10000px;
	left: 6px;
	top: 8px;
	width: 74px;
	position: relative;
	min-height: 17px;
}

#u680:hover #u683-4,#u680.MuseMenuActive #u683-4
{
	padding-top: 0px;
	width: 74px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u41875-4
{
	color: #002C73;
	line-height: 50px;
	text-align: right;
	min-height: 60px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	font-size: 42px;
}

#u41905
{
	margin-right: -10000px;
	background-color: #FFFFFF;
	padding-top: 23px;
	width: 100%;
	position: relative;
}

#u41904
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	position: relative;
	height: 418px;
	background: transparent url("../images/suny%20poly%20opens%20new%20student%20center%20-%208.jpg") no-repeat center center;
	background-size: cover;
}

#u41904:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
	margin-bottom: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 0px;
	margin-right: 0px;
	margin-top: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	height: 418px;
	background-size: cover;
}

#u41902-4
{
	font-family: open-sans, sans-serif;
	position: relative;
	line-height: 50px;
	font-size: 42px;
	background-color: transparent;
	font-weight: 800;
	margin-top: 26px;
	min-height: 60px;
}

#u41902-4:hover
{
	margin-right: 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-bottom: 0px;
	padding-top: 0px;
	min-height: 60px;
	padding-bottom: 0px;
	margin-top: 26px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#u41903-4
{
	text-align: justify;
	font-weight: 300;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	color: #7F7F7F;
	position: relative;
	min-height: 46px;
}

#u41879-4
{
	font-family: open-sans, sans-serif;
	line-height: 42px;
	font-size: 35px;
	background-color: transparent;
	width: 100%;
	font-weight: 800;
	position: relative;
	min-height: 88px;
}

#u41877,#u41883
{
	border-style: solid;
	background-position: left center;
	background-repeat: no-repeat;
	border-width: 1px;
	margin-top: 24px;
	margin-right: -10000px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	height: 272px;
	background-size: cover;
}

#u41877:hover,#u41883:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	height: 272px;
	margin: 24px -10000px 0px 0%;
	background-size: cover;
}

#u41887-4
{
	font-family: open-sans, sans-serif;
	line-height: 34px;
	font-size: 28px;
	background-color: transparent;
	width: 100%;
	font-weight: 800;
	position: relative;
	min-height: 88px;
}

#u41888
{
	border-style: solid;
	border-width: 1px;
	margin-right: -10000px;
	border-color: #000000;
	position: relative;
	height: 272px;
	background: transparent url("../images/sunypi_cas_seal_2882-u41888-fr.jpg") no-repeat left center;
	background-size: contain;
}

#u41888:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
	margin-bottom: 0px;
	margin-left: 0%;
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 0px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	height: 272px;
	background-size: contain;
}

#u41893-4
{
	font-family: open-sans, sans-serif;
	line-height: 50px;
	font-size: 42px;
	background-color: transparent;
	width: 100%;
	font-weight: 800;
	position: relative;
	min-height: 88px;
}

#u41906,#u41910,#u42259,#u42262
{
	margin-right: -10000px;
	background-color: transparent;
	width: 100%;
	border-width: 0px;
	position: relative;
	border-color: transparent;
}

#u41911,#u42263
{
	margin-right: -10000px;
	width: 100%;
	position: relative;
	background-color: #DBDBDB;
}

#u41909-4,#u41908-4,#u41907-4,#u42264-4,#u42261-4,#u42260-4
{
	color: #7F7F7F;
	position: relative;
	line-height: 22px;
	margin-right: -10000px;
	font-family: open-sans, sans-serif;
	font-size: 18px;
	font-weight: 700;
	background-color: transparent;
}

#u41909-4:hover,#u41908-4:hover,#u41907-4:hover,#u42264-4:hover,#u42261-4:hover,#u42260-4:hover
{
	margin-right: -10000px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-left: 0%;
}

#u41909-4:hover p,#u41908-4:hover p,#u41907-4:hover p,#u42264-4:hover p,#u42261-4:hover p,#u42260-4:hover p
{
	visibility: inherit;
	color: #002C73;
}

#u42249-4,#u42258-4
{
	margin-right: -10000px;
	font-family: open-sans, sans-serif;
	position: relative;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
	min-height: 37px;
	background-color: transparent;
}

#u42249,#u42258
{
	font-size: 18px;
}

#u41897
{
	border-style: solid;
	border-width: 1px;
	margin-right: -10000px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/mooplans.jpg") no-repeat center center;
	background-size: cover;
}

#u41897:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
	margin-bottom: 0px;
	margin-left: 0%;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 0px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-size: cover;
}

#u41901,#u42253,#u41876,#u41881,#u41886,#u41891,#u42257,#u41896,#u42298
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
	position: relative;
}

#u41880,#u41885,#u41889,#u41895,#u41900,#u42302
{
	margin-right: -10000px;
	width: 100%;
	position: relative;
	background-color: #FFFFFF;
}

#pu41879-4,#pu41884-4,#pu41887-4,#pu41893-4,#pu41899-4,#pu42300-4
{
	margin-right: -10000px;
	margin-top: 40px;
}

#u41884-4,#u41899-4,#u42300-4
{
	font-family: open-sans, sans-serif;
	line-height: 36px;
	font-size: 30px;
	background-color: transparent;
	width: 100%;
	font-weight: 800;
	position: relative;
	min-height: 88px;
}

#u41879-4:hover,#u41884-4:hover,#u41887-4:hover,#u41893-4:hover,#u41899-4:hover,#u42300-4:hover
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	padding-top: 0px;
	min-height: 88px;
	width: 100%;
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin: 0px 0px 0px 0%;
}

#u41902-4:hover p,#u41879-4:hover p,#u41884-4:hover p,#u41887-4:hover p,#u41893-4:hover p,#u41899-4:hover p,#u42300-4:hover p
{
	visibility: inherit;
	color: #EDA900;
}

#u41878-4,#u41882-4,#u41890-4,#u41894-4,#u41898-4,#u42301-4
{
	text-align: justify;
	font-weight: 300;
	position: relative;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	width: 100%;
	color: #7F7F7F;
	min-height: 69px;
}

#u41892,#u42299
{
	border-style: solid;
	background-position: center center;
	background-repeat: no-repeat;
	border-width: 1px;
	margin-top: 24px;
	margin-right: -10000px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	height: 272px;
	background-size: cover;
}

#u41892:hover,#u42299:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	height: 272px;
	margin: 24px -10000px 0px 0%;
	background-size: cover;
}

#pu176,#pu1492-3,#pu814
{
	width: 100%;
}

#u814,#u814-bw
{
	z-index: 49;
	height: 215px;
}

#u815-4
{
	z-index: 50;
	min-height: 26px;
}

#u815-4-bw
{
	margin-top: 6px;
	z-index: 50;
	min-height: 26px;
}

#menuu816
{
	z-index: 54;
	min-height: 131px;
}

#u43587,#u853,#u841,#u820,#u4067,#u825,#u832
{
	padding-bottom: 3px;
	min-height: 14px;
	position: relative;
}

#u43587.MuseMenuActive,#u853.MuseMenuActive,#u841.MuseMenuActive,#u820.MuseMenuActive,#u4067.MuseMenuActive,#u825.MuseMenuActive,#u832.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u43589-4,#u855-4,#u843-4,#u821-4,#u4070-4,#u827-4,#u834-4
{
	top: 1px;
	position: relative;
	min-height: 14px;
}

#u43587.MuseMenuActive #u43589-4,#u853.MuseMenuActive #u855-4,#u841.MuseMenuActive #u843-4,#u820.MuseMenuActive #u821-4,#u4067.MuseMenuActive #u4070-4,#u825.MuseMenuActive #u827-4,#u832.MuseMenuActive #u834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u852,#u838,#u817,#u4064,#u824,#u831
{
	margin-top: 2px;
}

#menuu816-bw
{
	margin-top: 32px;
	z-index: 54;
	min-height: 131px;
}

#u1693-4
{
	z-index: 97;
	min-height: 21px;
}

#u1693-4-bw
{
	margin-top: 174px;
	z-index: 97;
	min-height: 21px;
}

#u29981
{
	margin-right: -10000px;
	margin-top: 145px;
	z-index: 101;
	position: relative;
}

#u29982
{
	z-index: 102;
	width: 100%;
}

#u29983
{
	margin-right: -10000px;
	margin-top: 146px;
	z-index: 103;
	position: relative;
}

#u29984
{
	z-index: 104;
	width: 100%;
}

#u29985
{
	margin-right: -10000px;
	margin-top: 145px;
	z-index: 105;
	position: relative;
}

#u29986
{
	z-index: 106;
	width: 100%;
}

.html
{
	background-color: #F5F5F5;
}

#u40558,body
{
	position: relative;
}

@media (min-width: 1121px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.9250000000006px;
		max-width: 1200px;
	}

	#menuu676
	{
		left: 31%;
	}

	#slideshowu24475
	{
		z-index: 108;
		width: 0.01px;
		height: 400px;
		position: relative;
	}

	#u24493
	{
		position: absolute;
		width: 349px;
		height: 399px;
	}

	#u24493popup
	{
		z-index: 109;
	}

	#u24498
	{
		z-index: 110;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24506
	{
		z-index: 112;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24496
	{
		z-index: 114;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24504
	{
		z-index: 116;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24494
	{
		z-index: 118;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24500
	{
		z-index: 120;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24502
	{
		z-index: 122;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24498_img,#u24506_img,#u24496_img,#u24504_img,#u24494_img,#u24500_img,#u24502_img
	{
		padding-left: 106px;
	}

	#u24509
	{
		position: absolute;
		width: 221px;
	}

	#u24509popup
	{
		z-index: 124;
	}

	#u24510-22
	{
		z-index: 125;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24515-38
	{
		z-index: 147;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24512-23
	{
		z-index: 185;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24516-39
	{
		z-index: 208;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24511-22
	{
		z-index: 247;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24513-38
	{
		z-index: 269;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24514-22
	{
		z-index: 307;
		width: 201px;
		min-height: 379px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24517-4
	{
		position: absolute;
		width: 48px;
		min-height: 20px;
		padding: 10px;
		top: 359px;
		left: 251px;
	}

	#u24517-4popup
	{
		z-index: 329;
	}

	#u24476-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		padding: 10px;
		top: 360px;
		left: 221px;
	}

	#u24476-4popup
	{
		z-index: 333;
	}

	#u24518-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		padding: 10px;
		top: 359px;
		left: 319px;
	}

	#u24518-4popup
	{
		z-index: 337;
	}

	#u41875-4
	{
		z-index: 367;
		top: -388px;
		margin-bottom: -60px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#pu40558
	{
		margin-top: -324px;
		width: 100%;
	}

	#u40558
	{
		z-index: 341;
		margin-right: -10000px;
		margin-top: 352px;
		width: 29.09%;
	}

	#u24113
	{
		z-index: 342;
		padding-bottom: 0px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u24113_position_content
	{
		margin-bottom: -18px;
		padding-top: 15px;
		width: 100%;
	}

	#u24119-4
	{
		z-index: 343;
		min-height: 28px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24131
	{
		z-index: 351;
		margin-top: 16px;
		position: relative;
		width: 74.5%;
		margin-left: 12.61%;
	}

	#u24131:hover
	{
		min-height: 0px;
		width: 74.5%;
		margin: 16px 0px 0px 12.607449856733524%;
	}

	#u24141-4
	{
		z-index: 347;
		min-height: 28px;
		margin-top: 15px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24141-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 89.98%;
		margin: 15px 0px 0px 3.7249283667621778%;
	}

	#u24144-10
	{
		z-index: 353;
		min-height: 254px;
		margin-top: 17px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24147-4
	{
		z-index: 363;
		min-height: 49px;
		margin-top: 21px;
		position: relative;
		width: 57.03%;
		margin-left: 36.68%;
	}

	#u24147-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 49px;
		width: 57.03%;
		margin: 21px 0px 0px 36.67621776504298%;
	}

	#pu41901
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u41901
	{
		z-index: 437;
		width: 100%;
	}

	#u41905
	{
		z-index: 438;
		padding-bottom: 14px;
	}

	#u41904
	{
		z-index: 447;
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u41904:hover
	{
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u41902-4
	{
		z-index: 439;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u41902-4:hover
	{
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u41903-4
	{
		z-index: 443;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u42253
	{
		z-index: 448;
		width: 100%;
	}

	#u41906
	{
		z-index: 449;
	}

	#u41910
	{
		z-index: 450;
	}

	#u41911
	{
		z-index: 451;
		height: 209px;
	}

	#u41909-4
	{
		z-index: 452;
		min-height: 37px;
		margin-top: 69px;
		width: 81.39%;
		left: 2.36%;
	}

	#u41909-4:hover
	{
		margin-top: 69px;
		min-height: 37px;
		width: 81.39%;
	}

	#u41908-4
	{
		z-index: 456;
		min-height: 37px;
		margin-top: 114px;
		width: 81.39%;
		left: 2.36%;
	}

	#u41908-4:hover
	{
		margin-top: 114px;
		min-height: 37px;
		width: 81.39%;
	}

	#u41907-4
	{
		z-index: 460;
		min-height: 37px;
		margin-top: 159px;
		width: 81.39%;
		left: 2.36%;
	}

	#u41907-4:hover
	{
		margin-top: 159px;
		min-height: 37px;
		width: 81.39%;
	}

	#u42249-4
	{
		z-index: 464;
		margin-top: 15px;
		width: 96.53%;
		left: 2.36%;
	}

	#u41876
	{
		z-index: 371;
		width: 100%;
	}

	#u41880
	{
		z-index: 372;
		padding-bottom: 59px;
	}

	#u41879-4
	{
		z-index: 374;
	}

	#u41878-4
	{
		z-index: 378;
		margin-top: 6px;
	}

	#u41877
	{
		z-index: 373;
		background-image: url("../images/tuitionfreeze-u41877-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u41881
	{
		z-index: 382;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u41885
	{
		z-index: 383;
		padding-bottom: 21px;
	}

	#u41884-4
	{
		z-index: 385;
	}

	#u41882-4
	{
		z-index: 389;
		margin-top: 30px;
	}

	#u41883
	{
		z-index: 384;
		background-image: url("../images/laser%20tag%202-u41883-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u41886
	{
		z-index: 393;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u41889
	{
		z-index: 394;
		padding-bottom: 21px;
	}

	#u41887-4
	{
		z-index: 396;
	}

	#u41890-4
	{
		z-index: 400;
		margin-top: 36px;
	}

	#u41888
	{
		z-index: 395;
		margin-top: 24px;
		width: 33.88%;
		left: 58.07%;
	}

	#u41888:hover
	{
		margin-top: 24px;
		width: 33.88%;
	}

	#u41891
	{
		z-index: 404;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u41895
	{
		z-index: 405;
		padding-bottom: 21px;
	}

	#u41893-4
	{
		z-index: 407;
	}

	#u41894-4
	{
		z-index: 411;
		margin-top: 55px;
	}

	#u41892
	{
		z-index: 406;
		background-image: url("../images/the-new-york-state-museum-u41892-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u42257
	{
		z-index: 468;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u42259
	{
		z-index: 469;
	}

	#u42262
	{
		z-index: 470;
	}

	#u42263
	{
		z-index: 471;
		height: 221px;
	}

	#u42264-4
	{
		z-index: 472;
		min-height: 39px;
		margin-top: 73px;
		width: 96.03%;
		left: 2.36%;
	}

	#u42264-4:hover
	{
		margin-top: 73px;
		min-height: 39px;
		width: 96.03%;
	}

	#u42261-4
	{
		z-index: 476;
		min-height: 46px;
		margin-top: 121px;
		width: 96.53%;
		left: 2.36%;
	}

	#u42261-4:hover
	{
		margin-top: 121px;
		min-height: 46px;
		width: 96.53%;
	}

	#u42260-4
	{
		z-index: 480;
		min-height: 39px;
		margin-top: 175px;
		width: 96.03%;
		left: 2.36%;
	}

	#u42260-4:hover
	{
		margin-top: 175px;
		min-height: 39px;
		width: 96.03%;
	}

	#u42258-4
	{
		z-index: 484;
		margin-top: 15px;
		width: 96.53%;
		left: 2.36%;
	}

	#u41896
	{
		z-index: 415;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u41900
	{
		z-index: 416;
		padding-bottom: 21px;
	}

	#u41899-4
	{
		z-index: 418;
	}

	#u41898-4
	{
		z-index: 422;
		margin-top: 11px;
	}

	#u41897
	{
		z-index: 417;
		height: 272px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
	}

	#u41897:hover
	{
		margin-top: 24px;
		height: 272px;
		width: 49.51%;
	}

	#u42298
	{
		z-index: 426;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u42302
	{
		z-index: 427;
		padding-bottom: 21px;
	}

	#pu41879-4,#pu41884-4,#pu41887-4,#pu41893-4,#pu41899-4,#pu42300-4
	{
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u42300-4
	{
		z-index: 429;
	}

	#u42301-4
	{
		z-index: 433;
		margin-top: 6px;
	}

	#u42299
	{
		z-index: 428;
		background-image: url("../images/img_0549-u42299-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u41877:hover,#u41883:hover,#u41892:hover,#u42299:hover
	{
		width: 49.51%;
	}

	#u29981
	{
		width: 5.17%;
		left: 80.17%;
	}

	#u29983
	{
		width: 5.09%;
		left: 86.5%;
	}

	#u29985
	{
		width: 5.17%;
		left: 92.75%;
	}

	#u24131_img
	{
		width: 100%;
	}

}

@media (max-width: 1120px)
{
	#muse_css_mq
	{
		background-color: #000460;
	}

	#bp_1120.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.8250000000007px;
		max-width: 1120px;
	}

	#u40558
	{
		z-index: 108;
		height: 0px;
		margin-top: 116px;
		width: 0%;
	}

	.ie #u40558
	{
		background-color: #FFFFFF;
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
	}

	#pu176
	{
		margin-top: -116px;
	}

	#pu1492-3
	{
		margin-top: -35px;
	}

	#menuu676
	{
		left: 30.99%;
	}

	#u41875-4
	{
		z-index: 109;
		margin-top: 6px;
		width: 67.15%;
		margin-left: 31.17%;
	}

	#u41901
	{
		z-index: 179;
		margin-top: 4px;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41905
	{
		z-index: 180;
		padding-bottom: 29.000000000000455px;
	}

	#u41904
	{
		z-index: 189;
		width: 95.84%;
		margin-left: 2.32%;
	}

	#u41904:hover
	{
		width: 95.84%;
		margin-left: 2.32%;
	}

	#u41902-4
	{
		z-index: 181;
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u41902-4:hover
	{
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u41903-4
	{
		z-index: 185;
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u42253
	{
		z-index: 190;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41906
	{
		z-index: 191;
	}

	#u41910
	{
		z-index: 192;
	}

	#u41911
	{
		z-index: 193;
		height: 276px;
	}

	#u41909-4
	{
		z-index: 194;
		min-height: 35px;
		margin-top: 75px;
		width: 96.03%;
		left: 1.39%;
	}

	#u41908-4
	{
		z-index: 198;
		min-height: 34px;
		margin-top: 144px;
		width: 96.03%;
		left: 1.39%;
	}

	#u41907-4
	{
		z-index: 202;
		min-height: 42px;
		margin-top: 212px;
		width: 96.03%;
		left: 1.39%;
	}

	#u42249-4
	{
		z-index: 206;
		margin-top: 9px;
		width: 96.03%;
		left: 1.21%;
	}

	#u41876
	{
		z-index: 113;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41880
	{
		z-index: 114;
		padding-bottom: 28px;
	}

	#u41879-4
	{
		z-index: 116;
	}

	#u41878-4
	{
		z-index: 120;
		margin-top: 29px;
	}

	#u41877
	{
		z-index: 115;
		background-image: url("../images/tuitionfreeze-u41877-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u41881
	{
		z-index: 124;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41885
	{
		z-index: 125;
		padding-bottom: 24px;
	}

	#u41884-4
	{
		z-index: 127;
	}

	#u41882-4
	{
		z-index: 131;
		margin-top: 28px;
	}

	#u41883
	{
		z-index: 126;
		background-image: url("../images/laser%20tag%202-u41883-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u41886
	{
		z-index: 135;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41889
	{
		z-index: 136;
		padding-bottom: 23px;
	}

	#pu41887-4
	{
		padding-bottom: 0px;
		width: 59.49%;
		margin-left: 1.39%;
	}

	#u41887-4
	{
		z-index: 138;
	}

	#u41890-4
	{
		z-index: 142;
		margin-top: 66px;
	}

	#u41888
	{
		z-index: 137;
		margin-top: 25px;
		width: 25.26%;
		left: 63.28%;
	}

	#u41888:hover
	{
		margin-top: 25px;
		width: 25.26%;
	}

	#u41891
	{
		z-index: 146;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41895
	{
		z-index: 147;
		padding-bottom: 24px;
	}

	#u41893-4
	{
		z-index: 149;
	}

	#u41894-4
	{
		z-index: 153;
		margin-top: 36px;
	}

	#u41892
	{
		z-index: 148;
		background-image: url("../images/the-new-york-state-museum.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u42257
	{
		z-index: 210;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u42259
	{
		z-index: 211;
	}

	#u42262
	{
		z-index: 212;
	}

	#u42263
	{
		z-index: 213;
		height: 276px;
	}

	#u42264-4
	{
		z-index: 214;
		min-height: 35px;
		margin-top: 75px;
		width: 96.03%;
		left: 1.39%;
	}

	#u41909-4:hover,#u42264-4:hover
	{
		margin-top: 75px;
		min-height: 35px;
		width: 96.03%;
	}

	#u42261-4
	{
		z-index: 218;
		min-height: 34px;
		margin-top: 144px;
		width: 96.03%;
		left: 1.39%;
	}

	#u41908-4:hover,#u42261-4:hover
	{
		margin-top: 144px;
		min-height: 34px;
		width: 96.03%;
	}

	#u42260-4
	{
		z-index: 222;
		min-height: 42px;
		margin-top: 212px;
		width: 96.03%;
		left: 1.39%;
	}

	#u41907-4:hover,#u42260-4:hover
	{
		margin-top: 212px;
		min-height: 42px;
		width: 96.03%;
	}

	#u42258-4
	{
		z-index: 226;
		margin-top: 9px;
		width: 96.03%;
		left: 1.21%;
	}

	#u41896
	{
		z-index: 157;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u41900
	{
		z-index: 158;
		padding-bottom: 12px;
	}

	#u41899-4
	{
		z-index: 160;
	}

	#u41898-4
	{
		z-index: 164;
		margin-top: 28px;
	}

	#u41897
	{
		z-index: 159;
		height: 299px;
		margin-top: 26px;
		width: 34.97%;
		left: 57.82%;
	}

	#u41897:hover
	{
		margin-top: 26px;
		height: 299px;
		width: 34.97%;
	}

	#u42298
	{
		z-index: 168;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u42302
	{
		z-index: 169;
		padding-bottom: 41px;
	}

	#pu41879-4,#pu41884-4,#pu41893-4,#pu41899-4,#pu42300-4
	{
		width: 44.96%;
		margin-left: 1.39%;
	}

	#u42300-4
	{
		z-index: 171;
	}

	#u42301-4
	{
		z-index: 175;
		margin-top: 48px;
	}

	#u42299
	{
		z-index: 170;
		background-image: url("../images/img_0549-u42299-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u41877:hover,#u41883:hover,#u41892:hover,#u42299:hover
	{
		width: 49.59%;
	}

	#u29981
	{
		width: 5.18%;
		left: 80.18%;
	}

	#u29983
	{
		width: 5.09%;
		left: 86.52%;
	}

	#u29985
	{
		width: 5.18%;
		left: 92.68%;
	}

	body
	{
		min-width: 320px;
	}

}

