
@media (min-width: 1121px)
{
	#u24498,#u24506,#u24496,#u24504,#u24494,#u24500,#u24502
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
	}

	#u24493,#u24509
	{
		background-color: transparent;
	}

	#u24510-22
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
	}

	#u24510-3,#u24510-5
	{
		font-size: 10px;
		line-height: 14px;
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u24510-9,#u24510-12,#u24510-15,#u24510-18
	{
		font-size: 10px;
		text-align: left;
		line-height: 14px;
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u24510-2,#u24510-6,#u24510-20
	{
		font-size: 10px;
		line-height: 14px;
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u24512-18,#u24512-21,#u24516-37,#u24511-20
	{
		text-align: left;
		font-weight: 700;
	}

	#u24515-38,#u24512-23,#u24516-39,#u24511-22,#u24513-38,#u24514-22
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		line-height: 14px;
		color: #323232;
		font-size: 10px;
		font-family: open-sans, sans-serif;
	}

	#u24515-2,#u24515-6,#u24512-2,#u24512-17,#u24516-2,#u24516-6,#u24516-23,#u24511-2,#u24511-6,#u24513-2,#u24513-6,#u24513-23,#u24514-2,#u24514-6
	{
		font-weight: 400;
	}

	#u24510-19 > li:before,#u24515-19 > li:before,#u24515-36 > li:before,#u24512-19 > li:before,#u24516-19 > li:before,#u24516-36 > li:before,#u24511-19 > li:before,#u24513-19 > li:before,#u24513-36 > li:before,#u24514-19 > li:before
	{
		content: '∙';
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u24510-7,#u24510-10,#u24510-13,#u24510-16,#u24515-3,#u24515-5,#u24515-7,#u24515-10,#u24515-13,#u24515-16,#u24515-20,#u24515-22,#u24515-24,#u24515-27,#u24515-30,#u24515-33,#u24512-3,#u24512-5,#u24512-7,#u24512-10,#u24512-13,#u24516-3,#u24516-5,#u24516-7,#u24516-10,#u24516-13,#u24516-16,#u24516-20,#u24516-22,#u24516-24,#u24516-27,#u24516-30,#u24516-33,#u24511-3,#u24511-5,#u24511-7,#u24511-10,#u24511-13,#u24511-16,#u24513-3,#u24513-5,#u24513-7,#u24513-10,#u24513-13,#u24513-16,#u24513-20,#u24513-22,#u24513-24,#u24513-27,#u24513-30,#u24513-33,#u24514-3,#u24514-5,#u24514-7,#u24514-10,#u24514-13,#u24514-16
	{
		font-weight: 700;
	}

	#u24515-9,#u24515-12,#u24515-15,#u24515-18,#u24515-23,#u24515-26,#u24515-29,#u24515-32,#u24515-35,#u24512-6,#u24512-9,#u24512-12,#u24512-15,#u24512-20,#u24516-9,#u24516-12,#u24516-15,#u24516-18,#u24516-26,#u24516-29,#u24516-32,#u24516-35,#u24511-9,#u24511-12,#u24511-15,#u24511-18,#u24513-9,#u24513-12,#u24513-15,#u24513-18,#u24513-26,#u24513-29,#u24513-32,#u24513-35,#u24514-9,#u24514-12,#u24514-15,#u24514-18,#u24514-20
	{
		text-align: left;
		font-weight: 400;
	}

	#u24517-4,#u24476-4,#u24518-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		color: #323232;
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u81378,#u40558
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u24113
	{
		border-style: solid;
		border-color: #EDA900;
		background-color: #FFFFFF;
		border-width: 2px 0px 0px;
	}

	#u24119-4
	{
		background-color: transparent;
		letter-spacing: 6px;
		line-height: 20px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
	}

	#u24131
	{
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		background-color: transparent;
	}

	#u24131:hover
	{
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#u24141-4
	{
		background-color: transparent;
		line-height: 20px;
		letter-spacing: 1px;
	}

	#u24141-2
	{
		text-align: left;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u24144-10
	{
		background-color: transparent;
		text-align: justify;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u24147-4
	{
		background-color: transparent;
		line-height: 19px;
	}

	#u24141-4:hover,#u24147-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u24147-2
	{
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}
}













