
@media (min-width: 1121px)
{
	#u32889
	{
		background: transparent url("../images/heraldlogo.png") no-repeat left top;
		background-size: contain;
	}

	#u1492-3
	{
		border-style: solid;
		border-width: 1px;
		border-color: #EDA900;
		background-color: #EDA900;
	}

	#u43521,#u43522
	{
		background-color: transparent;
	}

	#u176,#u43522:hover
	{
		background-color: #002C73;
	}

	#u43525-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43522.MuseMenuActive,#u684,#u685
	{
		background-color: transparent;
	}

	#u685:hover
	{
		background-color: #002C73;
	}

	#u687-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u698,#u699
	{
		background-color: transparent;
	}

	#u685.MuseMenuActive,#u699:hover
	{
		background-color: #002C73;
	}

	#u700-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u699.MuseMenuActive,#u712,#u713
	{
		background-color: transparent;
	}

	#u713:hover
	{
		background-color: #002C73;
	}

	#u715-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u713.MuseMenuActive,#u4043,#u4044
	{
		background-color: transparent;
	}

	#u4044:hover
	{
		background-color: #002C73;
	}

	#u4047-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u4044.MuseMenuActive,#u691,#u694
	{
		background-color: transparent;
	}

	#u694:hover
	{
		background-color: #002C73;
	}

	#u695-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u694.MuseMenuActive,#u677,#u680
	{
		background-color: transparent;
	}

	#u680:hover
	{
		background-color: #002C73;
	}

	#u683-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

	#u814
	{
		background-color: #002C73;
	}

	#u815-4
	{
		background-color: transparent;
		color: #F5F5F5;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 600;
	}

	#u815-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#menuu676,#menuu816
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u680.MuseMenuActive,#u43584,#u43587
	{
		background-color: transparent;
	}

	#u43589-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43589-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u852,#u853
	{
		background-color: transparent;
	}

	#u855-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u855-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u838,#u841
	{
		background-color: transparent;
	}

	#u843-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u843-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u817,#u820
	{
		background-color: transparent;
	}

	#u821-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u821-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u4064,#u4067
	{
		background-color: transparent;
	}

	#u4070-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u4070-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u824,#u825
	{
		background-color: transparent;
	}

	#u827-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u827-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u831,#u832
	{
		background-color: transparent;
	}

	#u834-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43587.MuseMenuActive #u43589-4 p,#u853.MuseMenuActive #u855-4 p,#u841.MuseMenuActive #u843-4 p,#u820.MuseMenuActive #u821-4 p,#u4067.MuseMenuActive #u4070-4 p,#u825.MuseMenuActive #u827-4 p,#u832.MuseMenuActive #u834-4 p
	{
		color: #EDA900;
		visibility: inherit;
	}

	#u834-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u1693-4
	{
		background-color: transparent;
		color: #F5F5F5;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1693-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u29981,#u29983,#u29985
	{
		background-color: transparent;
	}

	#u29982,#u29984,#u29986
	{
		display: block;
	}
}

@media (min-width: 901px) and (max-width: 1120px)
{
	#u32889
	{
		background: transparent url("../images/heraldlogo.png") no-repeat left top;
		background-size: contain;
	}

	#u1492-3
	{
		border-style: solid;
		border-width: 1px;
		border-color: #EDA900;
		background-color: #EDA900;
	}

	#u43521,#u43522
	{
		background-color: transparent;
	}

	#u176,#u43522:hover
	{
		background-color: #002C73;
	}

	#u43525-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43522.MuseMenuActive,#u684,#u685
	{
		background-color: transparent;
	}

	#u685:hover
	{
		background-color: #002C73;
	}

	#u687-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u698,#u699
	{
		background-color: transparent;
	}

	#u685.MuseMenuActive,#u699:hover
	{
		background-color: #002C73;
	}

	#u700-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u699.MuseMenuActive,#u712,#u713
	{
		background-color: transparent;
	}

	#u713:hover
	{
		background-color: #002C73;
	}

	#u715-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u713.MuseMenuActive,#u4043,#u4044
	{
		background-color: transparent;
	}

	#u4044:hover
	{
		background-color: #002C73;
	}

	#u4047-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u4044.MuseMenuActive,#u691,#u694
	{
		background-color: transparent;
	}

	#u694:hover
	{
		background-color: #002C73;
	}

	#u695-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u694.MuseMenuActive,#u677,#u680
	{
		background-color: transparent;
	}

	#u680:hover
	{
		background-color: #002C73;
	}

	#u683-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

	#u814
	{
		background-color: #002C73;
	}

	#u815-4
	{
		background-color: transparent;
		color: #F5F5F5;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 600;
	}

	#u815-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#menuu676,#menuu816
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u680.MuseMenuActive,#u43584,#u43587
	{
		background-color: transparent;
	}

	#u43589-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43589-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u852,#u853
	{
		background-color: transparent;
	}

	#u855-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u855-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u838,#u841
	{
		background-color: transparent;
	}

	#u843-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u843-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u817,#u820
	{
		background-color: transparent;
	}

	#u821-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u821-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u4064,#u4067
	{
		background-color: transparent;
	}

	#u4070-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u4070-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u824,#u825
	{
		background-color: transparent;
	}

	#u827-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u827-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u831,#u832
	{
		background-color: transparent;
	}

	#u834-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43587.MuseMenuActive #u43589-4 p,#u853.MuseMenuActive #u855-4 p,#u841.MuseMenuActive #u843-4 p,#u820.MuseMenuActive #u821-4 p,#u4067.MuseMenuActive #u4070-4 p,#u825.MuseMenuActive #u827-4 p,#u832.MuseMenuActive #u834-4 p
	{
		color: #EDA900;
		visibility: inherit;
	}

	#u834-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u1693-4
	{
		background-color: transparent;
		color: #F5F5F5;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1693-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u29981,#u29983,#u29985
	{
		background-color: transparent;
	}

	#u29982,#u29984,#u29986
	{
		display: block;
	}
}

@media (max-width: 900px)
{
	#u32889
	{
		background: transparent url("../images/heraldlogo.png") no-repeat left top;
		background-size: contain;
	}

	#u1492-3
	{
		border-style: solid;
		border-width: 1px;
		border-color: #EDA900;
		background-color: #EDA900;
	}

	#accordionu51802,#u51804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u51804-4.AccordionPanelTabOpen p
	{
		color: #FFFFFF;
		visibility: inherit;
		padding-right: 20px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u51804-3
	{
		color: #FFFFFF;
		text-align: right;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51804-2
	{
		padding-right: 51px;
	}

	#u51805
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #EDA900;
	}

	#u51803,#u51804-4.AccordionPanelTabOpen,#u51821,#u51822
	{
		background-color: transparent;
	}

	#u51822:hover
	{
		background-color: #999999;
	}

	#u51822:active
	{
		background-color: #6B6B6B;
	}

	#u51824-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51824-2
	{
		padding-right: 20px;
	}

	#u51828,#u51829
	{
		background-color: transparent;
	}

	#u51822.MuseMenuActive,#u51829:hover
	{
		background-color: #999999;
	}

	#u51829:active
	{
		background-color: #6B6B6B;
	}

	#u51830-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51830-2
	{
		padding-right: 20px;
	}

	#u51835,#u51838
	{
		background-color: transparent;
	}

	#u51829.MuseMenuActive,#u51838:hover
	{
		background-color: #999999;
	}

	#u51838:active
	{
		background-color: #6B6B6B;
	}

	#u51839-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51839-2
	{
		padding-right: 20px;
	}

	#u51814,#u51815
	{
		background-color: transparent;
	}

	#u51838.MuseMenuActive,#u51815:hover
	{
		background-color: #999999;
	}

	#u51815:active
	{
		background-color: #6B6B6B;
	}

	#u51817-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51817-2
	{
		padding-right: 20px;
	}

	#u51807,#u51810
	{
		background-color: transparent;
	}

	#u51815.MuseMenuActive,#u51810:hover
	{
		background-color: #999999;
	}

	#u51810:active
	{
		background-color: #6B6B6B;
	}

	#u51811-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51811-2
	{
		padding-right: 20px;
	}

	#u51849,#u51850
	{
		background-color: transparent;
	}

	#u51810.MuseMenuActive,#u51850:hover
	{
		background-color: #999999;
	}

	#u51850:active
	{
		background-color: #6B6B6B;
	}

	#u51852-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51852-2
	{
		padding-right: 20px;
	}

	#u51842,#u51845
	{
		background-color: transparent;
	}

	#u51850.MuseMenuActive,#u51845:hover
	{
		background-color: #999999;
	}

	#u51845:active
	{
		background-color: #6B6B6B;
	}

	#u51845.MuseMenuActive
	{
		background-color: #999999;
	}

	#u51847-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: right;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u51847-2
	{
		padding-right: 20px;
	}

	.MenuItem,.AccordionPanelTab /* unifiedNavBar */
	{
		cursor: pointer;
	}

	#u176,#u814
	{
		background-color: #002C73;
	}

	#u815-4
	{
		background-color: transparent;
		color: #F5F5F5;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 600;
	}

	#u815-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#menuu51806,#menuu816
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u43584,#u43587
	{
		background-color: transparent;
	}

	#u43589-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43589-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u852,#u853
	{
		background-color: transparent;
	}

	#u855-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u855-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u838,#u841
	{
		background-color: transparent;
	}

	#u843-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u843-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u817,#u820
	{
		background-color: transparent;
	}

	#u821-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u821-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u4064,#u4067
	{
		background-color: transparent;
	}

	#u4070-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u4070-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u824,#u825
	{
		background-color: transparent;
	}

	#u827-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u827-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u831,#u832
	{
		background-color: transparent;
	}

	#u834-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: left;
		font-size: 12px;
		line-height: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u43587.MuseMenuActive #u43589-4 p,#u853.MuseMenuActive #u855-4 p,#u841.MuseMenuActive #u843-4 p,#u820.MuseMenuActive #u821-4 p,#u4067.MuseMenuActive #u4070-4 p,#u825.MuseMenuActive #u827-4 p,#u832.MuseMenuActive #u834-4 p
	{
		color: #EDA900;
		visibility: inherit;
	}

	#u834-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u1693-4
	{
		background-color: transparent;
		color: #F5F5F5;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1693-2
	{
		padding-right: 25px;
		padding-left: 30px;
	}

	#u29981,#u29983,#u29985
	{
		background-color: transparent;
	}

	#u29982,#u29984,#u29986
	{
		display: block;
	}
}








