#u949-4
{
	background-color: transparent;
	line-height: 20px;
	color: #002C73;
	text-align: center;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
}

#u952,#u955
{
	border-style: solid;
	border-color: #EDA900;
	background-color: transparent;
	border-width: 3px 0px 0px;
}

#accordionu561
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u571-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u570,#u571-4:hover
{
	background-color: transparent;
}

#u569-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u571-4.AccordionPanelTabOpen,#u566,#u569-4:hover
{
	background-color: transparent;
}

#u573-18,#u568-36
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u568-34
{
	line-height: 20px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u618-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u569-4.AccordionPanelTabOpen,#u615,#u618-4:hover
{
	background-color: transparent;
}

#u7664-52
{
	text-align: left;
	font-weight: bold;
}

#u627-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u618-4.AccordionPanelTabOpen,#u7664-54,#u626,#u627-4:hover
{
	background-color: transparent;
}

#u636-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u627-4.AccordionPanelTabOpen,#u7667-19,#u635,#u636-4:hover
{
	background-color: transparent;
}

#u646-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u636-4.AccordionPanelTabOpen,#u7718-19,#u644,#u646-4:hover
{
	background-color: transparent;
}

#u7648-4
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u646-4.AccordionPanelTabOpen,#u7700-55,#u7646,#u7648-4:hover
{
	background-color: transparent;
}

#u571-4.AccordionPanelTabOpen p,#u571-4.AccordionPanelTabOpen span,#u569-4.AccordionPanelTabOpen p,#u569-4.AccordionPanelTabOpen span,#u618-4.AccordionPanelTabOpen p,#u618-4.AccordionPanelTabOpen span,#u627-4.AccordionPanelTabOpen p,#u627-4.AccordionPanelTabOpen span,#u636-4.AccordionPanelTabOpen p,#u636-4.AccordionPanelTabOpen span,#u646-4.AccordionPanelTabOpen p,#u646-4.AccordionPanelTabOpen span,#u7648-4.AccordionPanelTabOpen p,#u7648-4.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u571-3,#u569-3,#u618-3,#u627-3,#u636-3,#u646-3,#u7648-3
{
	line-height: 14px;
}

#u571,#u569,#u618,#u627,#u636,#u646,#u7648
{
	color: #AFAFAF;
}

#u572,#u567,#u616,#u628,#u637,#u645,#u7647
{
	border-color: #EDA900;
	background-color: #F5F5F5;
}

#u7648-4.AccordionPanelTabOpen,#u7721-57
{
	background-color: transparent;
}

#u573-16 > li:before,#u568-16 > li:before,#u568-33 > li:before,#u7664-16 > li:before,#u7664-33 > li:before,#u7664-51 > li:before,#u7667-16 > li:before,#u7718-16 > li:before,#u7700-16 > li:before,#u7700-34 > li:before,#u7700-51 > li:before,#u7721-16 > li:before,#u7721-33 > li:before,#u7721-54 > li:before
{
	content: '∙';
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u573-2,#u573-4,#u573-7,#u573-10,#u573-13,#u568-2,#u568-4,#u568-7,#u568-10,#u568-13,#u568-17,#u568-19,#u568-21,#u568-24,#u568-27,#u568-30,#u7664-2,#u7664-4,#u7664-7,#u7664-10,#u7664-13,#u7664-19,#u7664-21,#u7664-25,#u7664-28,#u7664-31,#u7664-36,#u7664-38,#u7664-42,#u7664-45,#u7664-48,#u7667-2,#u7667-4,#u7667-7,#u7667-10,#u7667-13,#u7718-2,#u7718-4,#u7718-7,#u7718-10,#u7718-13,#u7700-2,#u7700-4,#u7700-7,#u7700-10,#u7700-13,#u7700-19,#u7700-21,#u7700-25,#u7700-28,#u7700-31,#u7700-35,#u7700-37,#u7700-39,#u7700-42,#u7700-45,#u7700-48,#u7721-2,#u7721-4,#u7721-7,#u7721-10,#u7721-13,#u7721-17,#u7721-19,#u7721-21,#u7721-24,#u7721-27,#u7721-30,#u7721-36,#u7721-38,#u7721-41,#u7721-44,#u7721-47
{
	font-weight: bold;
}

#u573-6,#u573-9,#u573-12,#u573-15,#u568-6,#u568-9,#u568-12,#u568-15,#u568-23,#u568-26,#u568-29,#u568-32,#u7664-6,#u7664-9,#u7664-12,#u7664-15,#u7664-24,#u7664-27,#u7664-30,#u7664-32,#u7664-34,#u7664-41,#u7664-44,#u7664-47,#u7664-50,#u7667-6,#u7667-9,#u7667-12,#u7667-15,#u7718-6,#u7718-9,#u7718-12,#u7718-15,#u7700-6,#u7700-9,#u7700-12,#u7700-15,#u7700-24,#u7700-27,#u7700-30,#u7700-33,#u7700-41,#u7700-44,#u7700-47,#u7700-50,#u7700-52,#u7721-6,#u7721-9,#u7721-12,#u7721-15,#u7721-23,#u7721-26,#u7721-29,#u7721-32,#u7721-40,#u7721-43,#u7721-46,#u7721-53,#u7721-49,#u7721-51
{
	text-align: left;
}

#u568-11,#u7664-22,#u7664-39,#u7700-22,#u7700-40,#u7700-46,#u7721-28,#u7721-45,#u7721-48,#u7721-50
{
	font-weight: normal;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

