	#u32886_align_to_page
	{
		max-width: 1200px;
	}

	#menuu1160,#u43627
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u43629-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1171
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1173-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1206
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1209-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1227
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1229-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u4109
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u4112-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u1250
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1253-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u43626,#u1168,#u1205,#u1226,#u4106,#u1247,#u1268
	{
		background-color: transparent;
	}

	#u1271
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1274-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u43627.MuseMenuActive #u43629-4 p,#u1171.MuseMenuActive #u1173-4 p,#u1206.MuseMenuActive #u1209-4 p,#u1227.MuseMenuActive #u1229-4 p,#u4109.MuseMenuActive #u4112-4 p,#u1250.MuseMenuActive #u1253-4 p,#u1271.MuseMenuActive #u1274-4 p
	{
		color: #EDA900;
		visibility: inherit;
	}


