	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4660.95px;
		max-width: 1200px;
	}

	#pslideshowu35875
	{
		padding-bottom: 507px;
		width: 100%;
	}

	#slideshowu35875
	{
		z-index: 125;
		width: 0.01px;
		height: 389px;
		position: fixed;
		top: 118px;
		left: 0px;
	}

	#u35902
	{
		position: absolute;
		width: 344px;
		height: 389px;
		background-color: transparent;
	}

	#u35902popup
	{
		z-index: 126;
	}

	#u35909
	{
		z-index: 127;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35905
	{
		z-index: 129;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35915
	{
		z-index: 131;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35911
	{
		z-index: 133;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35913
	{
		z-index: 135;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35903
	{
		z-index: 137;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35907
	{
		z-index: 139;
		width: 344px;
		height: 389px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35909_img,#u35905_img,#u35915_img,#u35911_img,#u35913_img,#u35903_img,#u35907_img
	{
		padding-left: 108px;
	}

	#u35876
	{
		position: absolute;
		width: 218px;
		background-color: transparent;
	}

	#u35876popup
	{
		z-index: 141;
	}

	#u35877-22
	{
		z-index: 142;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u35877-2
	{
		font-family: open-sans, sans-serif;
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u35877-3,#u35877-5
	{
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u35877-6
	{
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35877-9,#u35877-12,#u35877-15,#u35877-18
	{
		text-align: left;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35877-20
	{
		line-height: 20px;
		color: #999999;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35881-38
	{
		z-index: 164;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35881-6
	{
		font-size: 11px;
		line-height: 15px;
		font-weight: 300;
	}

	#u35881-5,#u35881-20,#u35881-22
	{
		font-size: 11px;
		line-height: 15px;
		font-weight: 400;
	}

	#u35881-9,#u35881-12,#u35881-15,#u35881-18,#u35881-23,#u35881-26,#u35881-29,#u35881-32,#u35881-35
	{
		font-size: 11px;
		text-align: left;
		line-height: 15px;
		font-weight: 300;
	}

	#u35883-23
	{
		z-index: 202;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35878-39
	{
		z-index: 225;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35882-22
	{
		z-index: 264;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35883-17,#u35878-6,#u35878-23,#u35882-6
	{
		font-weight: 300;
	}

	#u35883-6,#u35883-9,#u35883-12,#u35883-15,#u35883-20,#u35878-9,#u35878-12,#u35878-15,#u35878-18,#u35878-26,#u35878-29,#u35878-32,#u35878-35,#u35882-9,#u35882-12,#u35882-15,#u35882-18
	{
		text-align: left;
		font-weight: 300;
	}

	#u35883-18,#u35883-21,#u35878-37,#u35882-20
	{
		text-align: left;
		font-weight: 400;
	}

	#u35880-38
	{
		z-index: 286;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35881-2,#u35883-2,#u35878-2,#u35882-2,#u35880-2
	{
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u35877,#u35881,#u35883,#u35878,#u35882,#u35880
	{
		font-size: 16px;
		line-height: 22px;
	}

	#u35880-5,#u35880-20,#u35880-22
	{
		font-size: 9px;
		line-height: 13px;
		font-weight: 400;
	}

	#u35880-6,#u35880-23
	{
		font-size: 9px;
		line-height: 13px;
		font-weight: 300;
	}

	#u35879-22
	{
		z-index: 324;
		width: 198px;
		min-height: 369px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #999999;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35879-2
	{
		font-size: 16px;
		line-height: 22px;
		font-weight: 300;
	}

	#u35879-3,#u35879-5
	{
		font-size: 10px;
		line-height: 14px;
		font-weight: 400;
	}

	#u35879-6
	{
		font-size: 10px;
		line-height: 14px;
		font-weight: 300;
	}

	#u35877-19 > li:before,#u35881-19 > li:before,#u35881-36 > li:before,#u35883-19 > li:before,#u35878-19 > li:before,#u35878-36 > li:before,#u35882-19 > li:before,#u35880-19 > li:before,#u35880-36 > li:before,#u35879-19 > li:before
	{
		content: '∙';
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u35879-9,#u35879-12,#u35879-15,#u35879-18
	{
		font-size: 10px;
		text-align: left;
		line-height: 14px;
		font-weight: 300;
	}

	#u35877-7,#u35877-10,#u35877-13,#u35877-16,#u35881-3,#u35881-7,#u35881-10,#u35881-13,#u35881-16,#u35881-24,#u35881-27,#u35881-30,#u35881-33,#u35883-3,#u35883-5,#u35883-7,#u35883-10,#u35883-13,#u35878-3,#u35878-5,#u35878-7,#u35878-10,#u35878-13,#u35878-16,#u35878-20,#u35878-22,#u35878-24,#u35878-27,#u35878-30,#u35878-33,#u35882-3,#u35882-5,#u35882-7,#u35882-10,#u35882-13,#u35882-16,#u35880-3,#u35880-7,#u35880-10,#u35880-13,#u35880-16,#u35880-24,#u35880-27,#u35880-30,#u35880-33,#u35879-7,#u35879-10,#u35879-13,#u35879-16
	{
		font-weight: 400;
	}

	#u35880-9,#u35880-12,#u35880-15,#u35880-18,#u35880-26,#u35880-29,#u35880-32,#u35880-35,#u35879-20
	{
		font-size: 9px;
		text-align: left;
		line-height: 13px;
		font-weight: 300;
	}

	#u35917-4
	{
		position: absolute;
		width: 48px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		line-height: 20px;
		color: #999999;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 349px;
		left: 248px;
	}

	#u35917-4popup
	{
		z-index: 346;
	}

	#u35918-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		line-height: 20px;
		color: #999999;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 349px;
		left: 218px;
	}

	#u35918-4popup
	{
		z-index: 350;
	}

	#u35885-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		line-height: 20px;
		color: #999999;
		text-align: center;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 349px;
		left: 314px;
	}

	#u35885-4popup
	{
		z-index: 354;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u35530,#u35530-bw
	{
		z-index: 498;
	}

	#u35531-3,#u35531-3-bw
	{
		z-index: 499;
	}

	#menuu35532
	{
		z-index: 502;
		width: 658px;
	}

	#u35641,#u35641-bw
	{
		z-index: 545;
	}

	#u36027
	{
		top: -369px;
		margin-bottom: -369px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36036-4
	{
		width: 78.18%;
	}

	#u36040-4
	{
		margin-top: 10px;
	}

	#u36044-4
	{
		min-height: 93px;
		margin-top: 24px;
	}

	#u36030
	{
		height: 272px;
		width: 99.51%;
	}

	#u36033-4
	{
		margin-top: 4px;
		width: 70.33%;
		margin-left: 29.43%;
	}

	#u36614
	{
		padding-bottom: 38px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#pu36036-4,#pu36629-4
	{
		margin-top: 9px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u36036-4:hover,#u36629-4
	{
		width: 78.18%;
	}

	#u36629-4:hover
	{
		width: 78.18%;
	}

	#u36040-4:hover,#u36626-4
	{
		margin-top: 10px;
	}

	#u36626-4:hover
	{
		margin-top: 10px;
	}

	#u36623-4
	{
		min-height: 69px;
		margin-top: 24px;
	}

	#pu36030,#pu36620
	{
		padding-bottom: 0px;
		width: 49.76%;
		margin-left: 48.76%;
	}

	#u36620
	{
		height: 272px;
		background-image: url("../images/nanohigh%20class%20visit%20-%205-u36620-fr.jpg");
		width: 99.51%;
	}

	#u36030:hover,#u36620:hover
	{
		height: 272px;
		width: 99.51%;
	}

	#u36617-4
	{
		margin-top: 4px;
		width: 99.76%;
	}

	#u36632
	{
		padding-top: 6px;
		padding-bottom: 14.099999999999909px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36635-4
	{
		z-index: 358;
		width: 34.99%;
		margin-left: 2.36%;
	}

	#u36638-4
	{
		z-index: 366;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36649-4
	{
		z-index: 374;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36652-4
	{
		z-index: 382;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36655-4
	{
		z-index: 390;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u36658-4
	{
		z-index: 398;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u36661-4
	{
		z-index: 406;
		width: 17.62%;
		margin-left: 4.84%;
	}

	#u36667
	{
		padding-bottom: 29.000000000000227px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36670
	{
		z-index: 414;
		background-image: url("../images/3-d-printing-drug_sham-u36670-fr.jpg");
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u36673-4
	{
		width: 35.12%;
		margin-left: 2.36%;
	}

	#u36676-4
	{
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u36682
	{
		padding-top: 9px;
		padding-bottom: 18.09999999999991px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36697-4
	{
		width: 35.12%;
		margin-left: 1.37%;
	}

	#u36694-4
	{
		margin-top: 10px;
		width: 96.9%;
		margin-left: 1.37%;
	}

	#u36694-4:hover
	{
		margin-top: 10px;
		width: 96.9%;
		margin-left: 1.37%;
	}

	#u36691-5
	{
		margin-top: 32px;
		width: 96.9%;
		margin-left: 1.37%;
	}

	#u36632:hover,#u36703
	{
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36700-4
	{
		z-index: 362;
		width: 34.99%;
		margin-left: 2.36%;
	}

	#u36718-4
	{
		z-index: 370;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36706-4
	{
		z-index: 378;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36709-4
	{
		z-index: 386;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36715-4
	{
		z-index: 394;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u36712-4
	{
		z-index: 402;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u36655-4:hover,#u36658-4:hover,#u36715-4:hover,#u36712-4:hover
	{
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u36721-4
	{
		z-index: 410;
		width: 17.62%;
		margin-left: 4.84%;
	}

	#u36661-4:hover,#u36721-4:hover
	{
		width: 17.62%;
		margin-left: 4.84%;
	}

	#u37147
	{
		z-index: 415;
		padding-top: 9px;
		padding-bottom: 38.149999999999636px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u37173-4
	{
		z-index: 423;
		width: 35.12%;
		margin-left: 1.37%;
	}

	#u36697-4:hover,#u37173-4:hover
	{
		width: 35.12%;
		margin-left: 1.37%;
	}

	#ppu37168-4
	{
		margin-top: -6px;
		width: 97.03%;
		margin-left: 1.37%;
	}

	#pu37168-4
	{
		margin-right: -10000px;
		margin-top: 16px;
		width: 46.3%;
	}

	#u37168-4
	{
		z-index: 431;
	}

	#u37168-4:hover
	{
		margin-top: 0px;
	}

	#u37158-6
	{
		z-index: 439;
		min-height: 69px;
		margin-top: 24px;
	}

	#u37163
	{
		z-index: 418;
		height: 272px;
		background-image: url("../images/cassidy-panama-papers-american-names-1200-u37163-fr.jpg");
		margin-bottom: -1px;
		margin-right: -10000px;
		width: 51.03%;
		left: 48.85%;
	}

	#u37163:hover
	{
		margin-right: -10000px;
		margin-bottom: -1px;
		height: 272px;
		width: 51.03%;
	}

	#u37153-4
	{
		z-index: 419;
		margin-top: 5px;
		width: 49.63%;
		margin-left: 48.76%;
	}

	#u37204
	{
		z-index: 417;
		padding-bottom: 14.099999999999909px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u36703:hover,#u37204:hover
	{
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u37210-4
	{
		z-index: 449;
		width: 34.99%;
		margin-left: 2.36%;
	}

	#u37215-4
	{
		z-index: 453;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u36638-4:hover,#u36649-4:hover,#u36652-4:hover,#u36718-4:hover,#u36706-4:hover,#u36709-4:hover,#u37215-4:hover
	{
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u37220-4
	{
		z-index: 457;
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u37225-4
	{
		z-index: 461;
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u37220-4:hover,#u37225-4:hover
	{
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.36%;
	}

	#u37230-4
	{
		z-index: 465;
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u37235-4
	{
		z-index: 469;
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u37230-4:hover,#u37235-4:hover
	{
		margin-top: 18px;
		width: 67.5%;
		margin-left: 2.49%;
	}

	#u37240-4
	{
		z-index: 473;
		margin-top: 10px;
		width: 17.62%;
		margin-left: 4.84%;
	}

	#u37240-4:hover
	{
		margin-top: 10px;
		width: 17.62%;
		margin-left: 4.84%;
	}

	#u37178
	{
		z-index: 416;
		padding-bottom: 29px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u37184
	{
		z-index: 493;
		background-image: url("../images/tuitionfreeze-u37184-fr.jpg");
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u36670:hover,#u37184:hover
	{
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u37194-4
	{
		z-index: 427;
		width: 35.12%;
		margin-left: 2.36%;
	}

	#u36673-4:hover,#u37194-4:hover
	{
		width: 35.12%;
		margin-left: 2.36%;
	}

	#u37189-4
	{
		z-index: 435;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u36676-4:hover,#u36679-4,#u37189-4:hover
	{
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u37199-4
	{
		z-index: 445;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u37251-4
	{
		z-index: 494;
		margin-top: 66px;
		width: 20.17%;
		margin-left: 56.34%;
	}

	#pu37267-4
	{
		margin-top: 21px;
	}

	#u37267-4
	{
		z-index: 489;
		width: 11.84%;
		left: 32.75%;
	}

	#u37261-4
	{
		z-index: 485;
		width: 11.84%;
		left: 47.59%;
	}

	#u37255-4
	{
		z-index: 481;
		width: 18.17%;
		left: 62.42%;
	}

	#u37255-4:hover
	{
		width: 18.17%;
	}

	#u37245-4
	{
		z-index: 477;
		width: 11.84%;
		left: 83.67%;
	}

	#u37267-4:hover,#u37261-4:hover,#u37245-4:hover
	{
		width: 11.84%;
	}

	#pu35582
	{
		margin-top: 56px;
	}

	#u35635
	{
		left: 82.42%;
	}

	#u35637
	{
		width: 4.09%;
	}

	#u35639
	{
		left: 92.5%;
	}

