	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.9249999999979px;
		padding-bottom: 0px;
		max-width: 1200px;
	}

	#u32889,#u32889-bw
	{
		z-index: 107;
	}

	#menuu676
	{
		z-index: 6;
		width: 658px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		left: 31%;
	}

	#u43521
	{
		width: 56px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u43522
	{
		width: 56px;
		padding-bottom: 17px;
		position: relative;
	}

	#u43522:hover
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43522.MuseMenuActive
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43525-4
	{
		width: 42px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u43522:hover #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u43522.MuseMenuActive #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u684
	{
		width: 96px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 58px;
	}

	#u685
	{
		width: 96px;
		padding-bottom: 17px;
		position: relative;
	}

	#u685:hover
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u685.MuseMenuActive
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u687-4
	{
		width: 82px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u685:hover #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u685.MuseMenuActive #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u698
	{
		width: 93px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 156px;
	}

	#u699
	{
		width: 93px;
		padding-bottom: 17px;
		position: relative;
	}

	#u699:hover
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u699.MuseMenuActive
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u700-4
	{
		width: 79px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u699:hover #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u699.MuseMenuActive #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u712
	{
		width: 161px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 251px;
	}

	#u713
	{
		width: 161px;
		padding-bottom: 17px;
		position: relative;
	}

	#u713:hover
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u713.MuseMenuActive
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u715-4
	{
		width: 147px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u713:hover #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u713.MuseMenuActive #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u4043
	{
		width: 76px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 414px;
	}

	#u4044
	{
		width: 76px;
		padding-bottom: 17px;
		position: relative;
	}

	#u4044:hover
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4044.MuseMenuActive
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4047-4
	{
		width: 62px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u4044:hover #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u4044.MuseMenuActive #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u691
	{
		width: 77px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 492px;
	}

	#u694
	{
		width: 77px;
		padding-bottom: 17px;
		position: relative;
	}

	#u694:hover
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u694.MuseMenuActive
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u695-4
	{
		width: 63px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u694:hover #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u694.MuseMenuActive #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u677
	{
		width: 87px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 571px;
	}

	#u680
	{
		width: 87px;
		padding-bottom: 17px;
		position: relative;
	}

	#u680:hover
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u680.MuseMenuActive
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u683-4
	{
		width: 74px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 6px;
	}

	#u680:hover #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u680.MuseMenuActive #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#ppu81378
	{
		margin-top: 6px;
		width: 100%;
	}

	#pu81378
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 23px;
		width: 29.09%;
	}

	#u81378
	{
		z-index: 367;
		min-height: 523px;
		position: relative;
		width: 98.86%;
		margin-left: 1.15%;
	}

	#slideshowu24475
	{
		z-index: 108;
		width: 0.01px;
		height: 402px;
		margin-top: 23px;
		position: relative;
	}

	#u24493
	{
		position: absolute;
		width: 349px;
		height: 399px;
	}

	#u24493popup
	{
		z-index: 109;
	}

	#u24498
	{
		z-index: 110;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24506
	{
		z-index: 112;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24496
	{
		z-index: 114;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24504
	{
		z-index: 116;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24494
	{
		z-index: 118;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24500
	{
		z-index: 120;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24502
	{
		z-index: 122;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24498_img,#u24506_img,#u24496_img,#u24504_img,#u24494_img,#u24500_img,#u24502_img
	{
		padding-left: 106px;
	}

	#u24509
	{
		position: absolute;
		width: 221px;
	}

	#u24509popup
	{
		z-index: 124;
	}

	#u24510-22
	{
		z-index: 125;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24515-38
	{
		z-index: 147;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24512-23
	{
		z-index: 185;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24516-39
	{
		z-index: 208;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24511-22
	{
		z-index: 247;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24513-38
	{
		z-index: 269;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24514-22
	{
		z-index: 307;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24517-4
	{
		position: absolute;
		width: 48px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 251px;
	}

	#u24517-4popup
	{
		z-index: 329;
	}

	#u24476-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 360px;
		left: 221px;
	}

	#u24476-4popup
	{
		z-index: 333;
	}

	#u24518-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 319px;
	}

	#u24518-4popup
	{
		z-index: 337;
	}

	#pu38412-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u38412-4
	{
		z-index: 368;
		width: 100%;
	}

	#u38415
	{
		z-index: 451;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 4px;
		position: relative;
		width: 100%;
	}

	#u38391
	{
		z-index: 452;
		background-color: #FFFFFF;
		padding-top: 24px;
		padding-bottom: 14px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u38395
	{
		z-index: 461;
		height: 423px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		width: 95.79%;
		margin-left: 2.36%;
		background: transparent url("../images/277355_l_srgb_s_gl-u38395-fr.jpg") no-repeat center top;
		background-size: cover;
	}

	#u38395:hover
	{
		background-repeat: no-repeat;
		background-position: center top;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 423px;
		min-height: 0px;
		width: 95.79%;
		margin: 0px 0px 0px 2.357320099255583%;
		background-size: cover;
	}

	#u38393-4
	{
		z-index: 453;
		min-height: 63px;
		background-color: transparent;
		line-height: 36px;
		font-size: 30px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		top: -1px;
		margin-bottom: -1px;
		position: relative;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u38393-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 63px;
		width: 95.91%;
		margin: 0px 0px -1px 2.357320099255583%;
	}

	#u38394-4
	{
		z-index: 457;
		min-height: 75px;
		background-color: transparent;
		color: #323232;
		line-height: 17px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 23px;
		position: relative;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u42245
	{
		z-index: 462;
		top: -337px;
		margin-bottom: -209px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u40197
	{
		z-index: 463;
	}

	#u39821
	{
		z-index: 464;
	}

	#u39823
	{
		z-index: 465;
		height: 209px;
	}

	#u40126-4
	{
		z-index: 466;
		min-height: 37px;
		margin-top: 60px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40126-4:hover
	{
		margin-top: 60px;
		min-height: 37px;
		width: 81.39%;
	}

	#u40143-4
	{
		z-index: 470;
		min-height: 37px;
		margin-top: 112px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40143-4:hover
	{
		margin-top: 112px;
		min-height: 37px;
		width: 81.39%;
	}

	#u40160-4
	{
		z-index: 474;
		min-height: 37px;
		margin-top: 164px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40160-4:hover
	{
		margin-top: 164px;
		min-height: 37px;
		width: 81.39%;
	}

	#u42241-4
	{
		z-index: 478;
		margin-top: 9px;
		width: 81.39%;
		left: 2.36%;
	}

	#pu40558
	{
		margin-top: -128px;
		width: 100%;
	}

	#u40558
	{
		z-index: 341;
		margin-right: -10000px;
		margin-top: 154px;
		width: 29.09%;
	}

	#u24113
	{
		z-index: 342;
		padding-bottom: 0px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u24113_position_content
	{
		margin-bottom: -18px;
		padding-top: 15px;
		width: 100%;
	}

	#u24119-4
	{
		z-index: 343;
		min-height: 28px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24131
	{
		z-index: 351;
		margin-top: 16px;
		position: relative;
		width: 74.5%;
		margin-left: 12.61%;
	}

	#u24131:hover
	{
		min-height: 0px;
		width: 74.5%;
		margin: 16px 0px 0px 12.607449856733524%;
	}

	#u24141-4
	{
		z-index: 347;
		min-height: 28px;
		margin-top: 15px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24141-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 89.98%;
		margin: 15px 0px 0px 3.7249283667621778%;
	}

	#u24144-10
	{
		z-index: 353;
		min-height: 254px;
		margin-top: 17px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24147-4
	{
		z-index: 363;
		min-height: 49px;
		margin-top: 21px;
		position: relative;
		width: 57.03%;
		margin-left: 36.68%;
	}

	#u24147-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 49px;
		width: 57.03%;
		margin: 21px 0px 0px 36.67621776504298%;
	}

	#pu40166
	{
		margin-right: -10000px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u40166
	{
		z-index: 427;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u40170
	{
		z-index: 428;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u40167-4
	{
		z-index: 430;
		min-height: 88px;
		background-color: transparent;
		line-height: 36px;
		font-size: 30px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u40171-4
	{
		z-index: 434;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 1px;
		position: relative;
		width: 100%;
	}

	#u40169
	{
		z-index: 429;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/town-centre-pripyat-u40169-fr.jpg") no-repeat center center;
		background-size: cover;
	}

	#u87306
	{
		z-index: 394;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u87310
	{
		z-index: 395;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u87308-4
	{
		z-index: 397;
		min-height: 88px;
		background-color: transparent;
		line-height: 42px;
		font-size: 35px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u87307-4
	{
		z-index: 401;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		line-height: 17px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	#u87309
	{
		z-index: 396;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/la-na-new-york-primary-pictures-20160419-u87309-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u39578
	{
		z-index: 383;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u39580
	{
		z-index: 384;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u39582-4
	{
		z-index: 386;
		min-height: 88px;
		background-color: transparent;
		line-height: 42px;
		font-size: 35px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u39579-4
	{
		z-index: 390;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		line-height: 17px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	#u39583
	{
		z-index: 385;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/rtx1wwsv-u39583-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u39609
	{
		z-index: 405;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u39610
	{
		z-index: 406;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u39612-4
	{
		z-index: 408;
		min-height: 88px;
		background-color: transparent;
		line-height: 32px;
		font-size: 27px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u39614-4
	{
		z-index: 412;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 42px;
		position: relative;
		width: 100%;
	}

	#u39613
	{
		z-index: 407;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/160416-attawapiskat-first-nation-ef-1713_9955daabec34cb7f4f9bb48872b29afdnbcnews-fp-1200-800-u39613-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u39671
	{
		z-index: 416;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u39672
	{
		z-index: 417;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u39675-4
	{
		z-index: 419;
		min-height: 88px;
		background-color: transparent;
		line-height: 50px;
		font-size: 42px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u39676-4
	{
		z-index: 423;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 19px;
		position: relative;
		width: 100%;
	}

	#u39673
	{
		z-index: 418;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/2014-07-15-10-39-33-pride-flag-u39673-fr.jpg") no-repeat center center;
		background-size: cover;
	}

	#u83024
	{
		z-index: 482;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u83025
	{
		z-index: 483;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u83027
	{
		z-index: 484;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u83028
	{
		z-index: 485;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u83029
	{
		z-index: 486;
		height: 261px;
		background-color: #DBDBDB;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u83030-4
	{
		z-index: 487;
		min-height: 36px;
		background-color: transparent;
		color: #7F7F7F;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
		position: relative;
		margin-right: -10000px;
		margin-top: 213px;
		width: 81.39%;
		left: 2.36%;
	}

	#u83030-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		width: 81.39%;
		margin: 213px -10000px 0px 0%;
	}

	#u83026-4
	{
		z-index: 491;
		min-height: 53px;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		width: 81.39%;
		left: 2.36%;
	}

	#u83026
	{
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u83032-4
	{
		z-index: 495;
		min-height: 37px;
		background-color: transparent;
		color: #7F7F7F;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
		position: relative;
		margin-right: -10000px;
		margin-top: 164px;
		width: 81.39%;
		left: 2.24%;
	}

	#u83032-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 37px;
		width: 81.39%;
		margin: 164px -10000px 0px 0%;
	}

	#u83031-4
	{
		z-index: 499;
		min-height: 37px;
		background-color: transparent;
		color: #7F7F7F;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
		position: relative;
		margin-right: -10000px;
		margin-top: 64px;
		width: 81.39%;
		left: 2.24%;
	}

	#u83031-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 37px;
		width: 81.39%;
		margin: 64px -10000px 0px 0%;
	}

	#u83033-4
	{
		z-index: 503;
		min-height: 37px;
		background-color: transparent;
		color: #7F7F7F;
		line-height: 22px;
		font-size: 18px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
		position: relative;
		margin-right: -10000px;
		margin-top: 118px;
		width: 81.39%;
		left: 2.24%;
	}

	#u83033-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 37px;
		width: 81.39%;
		margin: 118px -10000px 0px 0%;
	}

	#u83030-4:hover p,#u83032-4:hover p,#u83031-4:hover p,#u83033-4:hover p
	{
		color: #002C73;
		visibility: inherit;
	}

	#u89093
	{
		z-index: 438;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u89095
	{
		z-index: 439;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu40167-4,#pu39675-4,#pu89097-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 40px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u89097-4
	{
		z-index: 441;
		min-height: 88px;
		background-color: transparent;
		line-height: 36px;
		font-size: 30px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u89094-6
	{
		z-index: 445;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 21px;
		position: relative;
		width: 100%;
	}

	#u89094-2
	{
		font-style: italic;
	}

	#u89096
	{
		z-index: 440;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/cassidy-panama-papers-american-names-1200-u89096-fr.jpg") no-repeat center center;
		background-size: cover;
	}

	#u40169:hover,#u39673:hover,#u89096:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 272px;
		min-height: 0px;
		width: 49.51%;
		margin: 24px -10000px 0px 0%;
		background-size: cover;
	}

	#u38418
	{
		z-index: 372;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u38366
	{
		z-index: 373;
		background-color: #FFFFFF;
		padding-bottom: 25px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu87308-4,#pu39582-4,#pu39612-4,#pu38370-4
	{
		margin-right: -10000px;
		margin-top: 40px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u38370-4
	{
		z-index: 375;
		min-height: 88px;
		background-color: transparent;
		line-height: 34px;
		font-size: 28px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u40167-4:hover,#u87308-4:hover,#u39582-4:hover,#u39612-4:hover,#u39675-4:hover,#u89097-4:hover,#u38370-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 88px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u38393-4:hover p,#u40167-4:hover p,#u87308-4:hover p,#u39582-4:hover p,#u39612-4:hover p,#u39675-4:hover p,#u89097-4:hover p,#u38370-4:hover p
	{
		color: #EDA900;
		visibility: inherit;
	}

	#u38371-4
	{
		z-index: 379;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 4px;
		position: relative;
		width: 100%;
	}

	#u38367
	{
		z-index: 374;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/79692_radovan-poster_iff-u38367-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u87309:hover,#u39583:hover,#u39613:hover,#u38367:hover
	{
		background-repeat: no-repeat;
		background-position: left center;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 272px;
		min-height: 0px;
		width: 49.51%;
		margin: 24px -10000px 0px 0%;
		background-size: cover;
	}

	#u814,#u814-bw
	{
		z-index: 49;
	}

	#u815-4,#u815-4-bw
	{
		z-index: 50;
	}

	#menuu816,#menuu816-bw
	{
		z-index: 54;
	}

	#u1693-4,#u1693-4-bw
	{
		z-index: 97;
	}

	#u29981
	{
		z-index: 101;
		margin-top: 145px;
		width: 5.17%;
		left: 80.17%;
	}

	#u29982
	{
		z-index: 102;
		width: 100%;
	}

	#u29983
	{
		z-index: 103;
		margin-top: 146px;
		width: 5.09%;
		left: 86.5%;
	}

	#u29984
	{
		z-index: 104;
		width: 100%;
	}

	#u29985
	{
		z-index: 105;
		margin-top: 145px;
		width: 5.17%;
		left: 92.75%;
	}

	#u29986
	{
		z-index: 106;
		width: 100%;
	}

	#u24131_img
	{
		width: 100%;
	}


