	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 585px;
		max-width: 1200px;
	}

	#u32889,#u32889-bw
	{
		z-index: 107;
	}

	#menuu676
	{
		z-index: 6;
		width: 658px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		left: 31%;
	}

	#u43521
	{
		width: 56px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u43522
	{
		width: 56px;
		padding-bottom: 17px;
		position: relative;
	}

	#u43522:hover
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43522.MuseMenuActive
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43525-4
	{
		width: 42px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u43522:hover #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u43522.MuseMenuActive #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u684
	{
		width: 96px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 58px;
	}

	#u685
	{
		width: 96px;
		padding-bottom: 17px;
		position: relative;
	}

	#u685:hover
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u685.MuseMenuActive
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u687-4
	{
		width: 82px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u685:hover #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u685.MuseMenuActive #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u698
	{
		width: 93px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 156px;
	}

	#u699
	{
		width: 93px;
		padding-bottom: 17px;
		position: relative;
	}

	#u699:hover
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u699.MuseMenuActive
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u700-4
	{
		width: 79px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u699:hover #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u699.MuseMenuActive #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u712
	{
		width: 161px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 251px;
	}

	#u713
	{
		width: 161px;
		padding-bottom: 17px;
		position: relative;
	}

	#u713:hover
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u713.MuseMenuActive
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u715-4
	{
		width: 147px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u713:hover #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u713.MuseMenuActive #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u4043
	{
		width: 76px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 414px;
	}

	#u4044
	{
		width: 76px;
		padding-bottom: 17px;
		position: relative;
	}

	#u4044:hover
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4044.MuseMenuActive
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4047-4
	{
		width: 62px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u4044:hover #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u4044.MuseMenuActive #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u691
	{
		width: 77px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 492px;
	}

	#u694
	{
		width: 77px;
		padding-bottom: 17px;
		position: relative;
	}

	#u694:hover
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u694.MuseMenuActive
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u695-4
	{
		width: 63px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u694:hover #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u694.MuseMenuActive #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u677
	{
		width: 87px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 571px;
	}

	#u680
	{
		width: 87px;
		padding-bottom: 17px;
		position: relative;
	}

	#u680:hover
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u680.MuseMenuActive
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u683-4
	{
		width: 74px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 6px;
	}

	#u680:hover #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u680.MuseMenuActive #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#ppu81378
	{
		margin-top: 10px;
		width: 100%;
	}

	#pu81378
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 19px;
		width: 29.09%;
	}

	#u81378
	{
		z-index: 367;
		min-height: 523px;
		position: relative;
		width: 98.86%;
		margin-left: 1.15%;
	}

	#slideshowu24475
	{
		z-index: 108;
		width: 0.01px;
		height: 402px;
		margin-top: 23px;
		position: relative;
	}

	#u24493
	{
		position: absolute;
		width: 349px;
		height: 399px;
	}

	#u24493popup
	{
		z-index: 109;
	}

	#u24498
	{
		z-index: 110;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24506
	{
		z-index: 112;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24496
	{
		z-index: 114;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24504
	{
		z-index: 116;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24494
	{
		z-index: 118;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24500
	{
		z-index: 120;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24502
	{
		z-index: 122;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24498_img,#u24506_img,#u24496_img,#u24504_img,#u24494_img,#u24500_img,#u24502_img
	{
		padding-left: 106px;
	}

	#u24509
	{
		position: absolute;
		width: 221px;
	}

	#u24509popup
	{
		z-index: 124;
	}

	#u24510-22
	{
		z-index: 125;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24515-38
	{
		z-index: 147;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24512-23
	{
		z-index: 185;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24516-39
	{
		z-index: 208;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24511-22
	{
		z-index: 247;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24513-38
	{
		z-index: 269;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24514-22
	{
		z-index: 307;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24517-4
	{
		position: absolute;
		width: 48px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 251px;
	}

	#u24517-4popup
	{
		z-index: 329;
	}

	#u24476-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 360px;
		left: 221px;
	}

	#u24476-4popup
	{
		z-index: 333;
	}

	#u24518-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 319px;
	}

	#u24518-4popup
	{
		z-index: 337;
	}

	#u40558
	{
		z-index: 341;
		margin-top: 26px;
		width: 100%;
	}

	#u24113
	{
		z-index: 342;
		padding-bottom: 0px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u24113_position_content
	{
		margin-bottom: -18px;
		padding-top: 15px;
		width: 100%;
	}

	#u24119-4
	{
		z-index: 343;
		min-height: 28px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24131
	{
		z-index: 351;
		margin-top: 16px;
		position: relative;
		width: 74.5%;
		margin-left: 12.61%;
	}

	#u24131:hover
	{
		min-height: 0px;
		width: 74.5%;
		margin: 16px 0px 0px 12.607449856733524%;
	}

	#u24141-4
	{
		z-index: 347;
		min-height: 28px;
		margin-top: 15px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24141-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 89.98%;
		margin: 15px 0px 0px 3.7249283667621778%;
	}

	#u24144-10
	{
		z-index: 353;
		min-height: 254px;
		margin-top: 17px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24147-4
	{
		z-index: 363;
		min-height: 49px;
		margin-top: 21px;
		position: relative;
		width: 57.03%;
		margin-left: 36.68%;
	}

	#u24147-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 49px;
		width: 57.03%;
		margin: 21px 0px 0px 36.67621776504298%;
	}

	#pu45699-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u45699-4
	{
		z-index: 368;
		min-height: 60px;
		width: 100%;
	}

	#pu45700
	{
		margin-top: 4px;
		width: 100%;
	}

	#u45700
	{
		z-index: 372;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 1133px;
		width: 100%;
	}

	#u45704
	{
		z-index: 373;
		background-color: #FFFFFF;
		padding-bottom: 60px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u45703-4
	{
		z-index: 375;
		min-height: 88px;
		background-color: transparent;
		line-height: 32px;
		font-size: 27px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u45702-4
	{
		z-index: 379;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 19px;
		position: relative;
		width: 100%;
	}

	#u45701
	{
		z-index: 374;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/zika-virus-microscope-u45701-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u45715
	{
		z-index: 405;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 814px;
		width: 100%;
	}

	#u45719
	{
		z-index: 406;
		background-color: #FFFFFF;
		padding-bottom: 20px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu45717-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 14px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u45717-4
	{
		z-index: 408;
		min-height: 88px;
		background-color: transparent;
		line-height: 43px;
		font-size: 36px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u45718-4
	{
		z-index: 412;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 14px;
		position: relative;
		width: 100%;
	}

	#u45716
	{
		z-index: 407;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 25px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/150414-s300-missile-iran-jsw-614a_4cfcb240a5a578c61dbe5b5d65e71629nbcnews-ux-2880-1000-u45716-fr.jpg") no-repeat center center;
		background-size: cover;
	}

	#u45716:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 272px;
		min-height: 0px;
		width: 49.51%;
		margin: 25px -10000px 0px 0%;
		background-size: cover;
	}

	#u45730
	{
		z-index: 416;
		margin-right: -10000px;
		margin-top: 605px;
		width: 100%;
	}

	#u45732
	{
		z-index: 417;
	}

	#u45735
	{
		z-index: 418;
	}

	#u45736
	{
		z-index: 419;
	}

	#u45734-4
	{
		z-index: 420;
		width: 81.39%;
		left: 2.36%;
	}

	#u45733-4
	{
		z-index: 424;
		width: 81.39%;
		left: 2.36%;
	}

	#u45737-4
	{
		z-index: 428;
		width: 81.39%;
		left: 2.36%;
	}

	#u45731-4
	{
		z-index: 432;
		width: 81.39%;
		left: 2.36%;
	}

	#u56577
	{
		z-index: 455;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 0px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u45725
	{
		z-index: 456;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u45729
	{
		z-index: 457;
		background-color: #FFFFFF;
		padding-top: 23px;
		padding-bottom: 52px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u45728
	{
		z-index: 466;
		height: 418px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		width: 95.79%;
		margin-left: 2.36%;
		background: transparent url("../images/human%20embryonic%20stem%20cells-u45728-fr.jpg") no-repeat center center;
		background-size: cover;
	}

	#u45728:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 418px;
		min-height: 0px;
		width: 95.79%;
		margin: 0px 0px 0px 2.357320099255583%;
		background-size: cover;
	}

	#u45726-4
	{
		z-index: 458;
		min-height: 60px;
		background-color: transparent;
		line-height: 32px;
		font-size: 27px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		margin-top: 1px;
		position: relative;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u45726-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 60px;
		width: 95.91%;
		margin: 1px 0px 0px 2.357320099255583%;
	}

	#u45727-4
	{
		z-index: 462;
		min-height: 46px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 2px;
		position: relative;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u56571-4
	{
		z-index: 467;
		min-height: 31px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 16px;
		line-height: 19px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
		margin-top: 838px;
		position: relative;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u56571-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 31px;
		width: 95.91%;
		margin: 838px 0px 0px 2.357320099255583%;
	}

	#u56571-4:hover p
	{
		color: #002C73;
		visibility: inherit;
	}

	#u45705
	{
		z-index: 383;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u45709
	{
		z-index: 384;
		background-color: #FFFFFF;
		padding-bottom: 15px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u45708-4
	{
		z-index: 386;
		min-height: 88px;
		background-color: transparent;
		line-height: 43px;
		font-size: 36px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u45706-4
	{
		z-index: 390;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-size: 14px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 23px;
		position: relative;
		width: 100%;
	}

	#u45707
	{
		z-index: 385;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/3-d-printing-drug_sham-u45707-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u45710
	{
		z-index: 394;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u45713
	{
		z-index: 395;
		background-color: #FFFFFF;
		padding-bottom: 21px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu45703-4,#pu45708-4,#pu45711-4
	{
		margin-right: -10000px;
		margin-top: 40px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u45711-4
	{
		z-index: 397;
		min-height: 88px;
		background-color: transparent;
		line-height: 50px;
		font-size: 42px;
		font-family: open-sans, sans-serif;
		font-weight: 800;
		position: relative;
		width: 100%;
	}

	#u45703-4:hover,#u45717-4:hover,#u45708-4:hover,#u45711-4:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 88px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u45703-4:hover p,#u45717-4:hover p,#u45726-4:hover p,#u45708-4:hover p,#u45711-4:hover p
	{
		color: #EDA900;
		visibility: inherit;
	}

	#u45714-4
	{
		z-index: 401;
		min-height: 69px;
		background-color: transparent;
		color: #323232;
		text-align: justify;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#u45712
	{
		z-index: 396;
		height: 272px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 49.51%;
		left: 48.76%;
		background: transparent url("../images/1458651119_great_barrier_reef-u45712-fr.jpg") no-repeat left center;
		background-size: cover;
	}

	#u45701:hover,#u45707:hover,#u45712:hover
	{
		background-repeat: no-repeat;
		background-position: left center;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		height: 272px;
		min-height: 0px;
		width: 49.51%;
		margin: 24px -10000px 0px 0%;
		background-size: cover;
	}

	#u82590
	{
		z-index: 436;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u82592
	{
		z-index: 437;
	}

	#u82594
	{
		z-index: 438;
	}

	#u82595
	{
		z-index: 439;
	}

	#u82597-4
	{
		z-index: 440;
		width: 81.39%;
		left: 2.36%;
	}

	#u82596-4
	{
		z-index: 444;
		width: 81.39%;
		left: 2.36%;
	}

	#u82593-3
	{
		z-index: 448;
		width: 81.39%;
		left: 2.36%;
	}

	#u45734-4:hover,#u45733-4:hover,#u45737-4:hover,#u82597-4:hover,#u82596-4:hover,#u82593-3:hover
	{
		width: 81.39%;
	}

	#u82591-4
	{
		z-index: 451;
		width: 81.39%;
		left: 2.36%;
	}

	#pu814
	{
		margin-top: 1px;
	}

	#u814,#u814-bw
	{
		z-index: 49;
	}

	#u815-4,#u815-4-bw
	{
		z-index: 50;
	}

	#menuu816,#menuu816-bw
	{
		z-index: 54;
	}

	#u1693-4,#u1693-4-bw
	{
		z-index: 97;
	}

	#u29981
	{
		z-index: 101;
		margin-top: 145px;
		width: 5.17%;
		left: 80.17%;
	}

	#u29982
	{
		z-index: 102;
		width: 100%;
	}

	#u29983
	{
		z-index: 103;
		margin-top: 145px;
		width: 5.09%;
		left: 86.5%;
	}

	#u29984
	{
		z-index: 104;
		width: 100%;
	}

	#u29985
	{
		z-index: 105;
		margin-top: 145px;
		width: 5.17%;
		left: 92.75%;
	}

	#u29986
	{
		z-index: 106;
		width: 100%;
	}

	#u24131_img
	{
		width: 100%;
	}


