	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 5733.95px;
		max-width: 2000px;
	}

	#pslideshowu35875
	{
		padding-bottom: 559px;
		width: 100%;
	}

	#slideshowu35875
	{
		z-index: 124;
		width: 0.01px;
		height: 441px;
		position: fixed;
		top: 118px;
		left: 0px;
	}

	#u35902
	{
		position: absolute;
		width: 440px;
		height: 441px;
		background-color: transparent;
	}

	#u35902popup
	{
		z-index: 125;
	}

	#u35909
	{
		z-index: 126;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35905
	{
		z-index: 128;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35915
	{
		z-index: 130;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35911
	{
		z-index: 132;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35913
	{
		z-index: 134;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35903
	{
		z-index: 136;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35907
	{
		z-index: 138;
		width: 440px;
		height: 441px;
		border-width: 0px;
		border-color: transparent;
		background-color: #4F4F4F;
		margin-right: -10000px;
		position: relative;
	}

	#u35909_img,#u35905_img,#u35915_img,#u35911_img,#u35913_img,#u35903_img,#u35907_img
	{
		padding-left: 180px;
	}

	#u35876
	{
		position: absolute;
		width: 312px;
		background-color: transparent;
	}

	#u35876popup
	{
		z-index: 140;
	}

	#u35877-22
	{
		z-index: 141;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u35877-2
	{
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u35877-3,#u35877-5
	{
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u35877-6
	{
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35877-9,#u35877-12,#u35877-15,#u35877-18
	{
		text-align: left;
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35877-20
	{
		line-height: 20px;
		color: #323232;
		font-family: open-sans, sans-serif;
		font-weight: 300;
	}

	#u35881-38
	{
		z-index: 163;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35881-6
	{
		font-size: 11px;
		line-height: 15px;
		font-weight: 300;
	}

	#u35881-5,#u35881-20,#u35881-22
	{
		font-size: 11px;
		line-height: 15px;
		font-weight: 400;
	}

	#u35881-9,#u35881-12,#u35881-15,#u35881-18,#u35881-23,#u35881-26,#u35881-29,#u35881-32,#u35881-35
	{
		font-size: 11px;
		text-align: left;
		line-height: 15px;
		font-weight: 300;
	}

	#u35883-23
	{
		z-index: 201;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35878-39
	{
		z-index: 224;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35882-22
	{
		z-index: 263;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35883-17,#u35878-6,#u35878-23,#u35882-6
	{
		font-weight: 300;
	}

	#u35883-6,#u35883-9,#u35883-12,#u35883-15,#u35883-20,#u35878-9,#u35878-12,#u35878-15,#u35878-18,#u35878-26,#u35878-29,#u35878-32,#u35878-35,#u35882-9,#u35882-12,#u35882-15,#u35882-18
	{
		text-align: left;
		font-weight: 300;
	}

	#u35883-18,#u35883-21,#u35878-37,#u35882-20
	{
		text-align: left;
		font-weight: 400;
	}

	#u35880-38
	{
		z-index: 285;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35881-2,#u35883-2,#u35878-2,#u35882-2,#u35880-2
	{
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u35877,#u35881,#u35883,#u35878,#u35882,#u35880
	{
		font-size: 16px;
		line-height: 22px;
	}

	#u35880-5,#u35880-20,#u35880-22
	{
		font-size: 9px;
		line-height: 13px;
		font-weight: 400;
	}

	#u35880-6,#u35880-23
	{
		font-size: 9px;
		line-height: 13px;
		font-weight: 300;
	}

	#u35879-22
	{
		z-index: 323;
		width: 292px;
		min-height: 421px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		font-family: open-sans, sans-serif;
		margin-right: -10000px;
		position: relative;
	}

	#u35879-2
	{
		font-size: 16px;
		line-height: 22px;
		font-weight: 300;
	}

	#u35879-3,#u35879-5
	{
		font-size: 10px;
		line-height: 14px;
		font-weight: 400;
	}

	#u35879-6
	{
		font-size: 10px;
		line-height: 14px;
		font-weight: 300;
	}

	#u35877-19 > li:before,#u35881-19 > li:before,#u35881-36 > li:before,#u35883-19 > li:before,#u35878-19 > li:before,#u35878-36 > li:before,#u35882-19 > li:before,#u35880-19 > li:before,#u35880-36 > li:before,#u35879-19 > li:before
	{
		content: '∙';
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u35879-9,#u35879-12,#u35879-15,#u35879-18
	{
		font-size: 10px;
		text-align: left;
		line-height: 14px;
		font-weight: 300;
	}

	#u35877-7,#u35877-10,#u35877-13,#u35877-16,#u35881-3,#u35881-7,#u35881-10,#u35881-13,#u35881-16,#u35881-24,#u35881-27,#u35881-30,#u35881-33,#u35883-3,#u35883-5,#u35883-7,#u35883-10,#u35883-13,#u35878-3,#u35878-5,#u35878-7,#u35878-10,#u35878-13,#u35878-16,#u35878-20,#u35878-22,#u35878-24,#u35878-27,#u35878-30,#u35878-33,#u35882-3,#u35882-5,#u35882-7,#u35882-10,#u35882-13,#u35882-16,#u35880-3,#u35880-7,#u35880-10,#u35880-13,#u35880-16,#u35880-24,#u35880-27,#u35880-30,#u35880-33,#u35879-7,#u35879-10,#u35879-13,#u35879-16
	{
		font-weight: 400;
	}

	#u35880-9,#u35880-12,#u35880-15,#u35880-18,#u35880-26,#u35880-29,#u35880-32,#u35880-35,#u35879-20
	{
		font-size: 9px;
		text-align: left;
		line-height: 13px;
		font-weight: 300;
	}

	#u35917-4
	{
		position: absolute;
		width: 48px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		text-align: center;
		line-height: 20px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 401px;
		left: 342px;
	}

	#u35917-4popup
	{
		z-index: 345;
	}

	#u35918-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		text-align: center;
		line-height: 20px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 401px;
		left: 312px;
	}

	#u35918-4popup
	{
		z-index: 349;
	}

	#u35885-4
	{
		position: absolute;
		width: 10px;
		min-height: 20px;
		border-width: 0px;
		border-color: transparent;
		background-color: #FFFFFF;
		padding: 10px;
		color: #323232;
		text-align: center;
		line-height: 20px;
		font-family: open-sans, sans-serif;
		font-weight: 300;
		top: 401px;
		left: 410px;
	}

	#u35885-4popup
	{
		z-index: 353;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u35530,#u35530-bw
	{
		z-index: 558;
	}

	#u35531-3,#u35531-3-bw
	{
		z-index: 559;
	}

	#menuu35532
	{
		z-index: 562;
		width: 1097px;
	}

	#u35641,#u35641-bw
	{
		z-index: 605;
	}

	#u36027
	{
		padding-bottom: 18px;
		top: -411px;
		margin-bottom: -411px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#pu36036-4
	{
		margin-top: 12px;
		width: 44.9%;
		margin-left: 1.35%;
	}

	#u36036-4
	{
		min-height: 28px;
		width: 78.28%;
	}

	#u36036-4:hover
	{
		min-height: 28px;
		width: 78.28%;
	}

	#u36040-4
	{
		min-height: 132px;
		margin-top: 13px;
	}

	#u36040-4:hover
	{
		margin-right: 0px;
		margin-top: 13px;
		min-height: 132px;
	}

	#u36044-4
	{
		min-height: 123px;
		margin-top: 32px;
	}

	#pu36030
	{
		margin-top: 32px;
		width: 49.74%;
		margin-left: 48.85%;
	}

	#u36030
	{
		height: 359px;
		background-image: url("../images/160416-attawapiskat-first-nation-ef-1713_9955daabec34cb7f4f9bb48872b29afdnbcnews-fp-1200-800-u36030-fr.jpg");
		width: 99.71%;
	}

	#u36030:hover
	{
		height: 359px;
		width: 99.71%;
	}

	#u36033-4
	{
		min-height: 25px;
		margin-top: 6px;
		width: 70.36%;
		margin-left: 29.5%;
	}

	#u36614
	{
		padding-bottom: 52px;
		margin-top: 62px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#pu36629-4
	{
		margin-right: -10000px;
		margin-top: 12px;
		width: 44.9%;
		margin-left: 1.35%;
	}

	#u36629-4
	{
		min-height: 29px;
		width: 78.28%;
	}

	#u36629-4.MuseLinkActive
	{
		min-height: 29px;
		width: 78.28%;
		margin-left: 0%;
	}

	#u36626-4
	{
		min-height: 136px;
		margin-top: 13px;
	}

	#u36626-4:hover
	{
		margin-top: 13px;
		min-height: 136px;
	}

	#u36623-4
	{
		min-height: 94px;
		margin-top: 33px;
	}

	#pu36620
	{
		margin-right: -10000px;
		margin-top: 33px;
		width: 49.74%;
		margin-left: 48.78%;
	}

	#u36620
	{
		height: 371px;
		background-image: url("../images/nanohigh%20class%20visit%20-%205.jpg");
		width: 99.71%;
	}

	#u36620:hover
	{
		margin-right: 0px;
		margin-bottom: 0px;
		height: 371px;
		width: 99.71%;
	}

	#u36617-4
	{
		min-height: 26px;
		margin-top: 6px;
		width: 99.86%;
	}

	#u36632
	{
		padding-top: 6px;
		padding-bottom: 14.100000000000136px;
		margin-top: 60px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u36635-4
	{
		z-index: 357;
		width: 35%;
		margin-left: 2.39%;
	}

	#u36658-4
	{
		z-index: 397;
		margin-top: 20px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#u36658-4:hover
	{
		margin-bottom: 0px;
		margin-top: 20px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#ppu36655-4
	{
		margin-top: 15px;
		width: 95.91%;
		margin-left: 2.39%;
	}

	#pu36655-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 4px;
		width: 70.5%;
	}

	#u36655-4
	{
		z-index: 389;
		width: 99.89%;
		margin-left: 0.12%;
	}

	#u36655-4:hover
	{
		margin-top: 0px;
		width: 99.89%;
		margin-left: 0.12%;
	}

	#u36638-4
	{
		z-index: 365;
		margin-top: 19px;
		width: 99.89%;
	}

	#u36638-4:hover
	{
		margin-top: 19px;
		width: 99.89%;
		margin-left: 0%;
	}

	#u36649-4
	{
		z-index: 373;
		margin-top: 18px;
		width: 99.89%;
	}

	#u36649-4:hover
	{
		margin-top: 18px;
		width: 99.89%;
	}

	#u37360
	{
		z-index: 496;
		width: 27.33%;
		left: 72.68%;
	}

	#u37364-4
	{
		z-index: 497;
	}

	#u37362-4
	{
		z-index: 501;
		margin-top: 12px;
	}

	#u37365-4
	{
		z-index: 505;
		margin-top: 11px;
	}

	#u37361-4
	{
		z-index: 509;
		margin-top: 12px;
	}

	#u37363-4
	{
		z-index: 513;
		margin-top: 12px;
	}

	#u36652-4
	{
		z-index: 381;
		top: -2px;
		margin-bottom: -2px;
		width: 67.54%;
		margin-left: 2.39%;
	}

	#u36661-4
	{
		z-index: 405;
		margin-top: 10px;
		width: 17.65%;
		margin-left: 4.92%;
	}

	#u36661-4:hover
	{
		margin-bottom: 0px;
		margin-top: 10px;
		width: 17.65%;
		margin-left: 4.92%;
	}

	#u36667
	{
		padding-top: 31px;
		padding-bottom: 39.47417218543035px;
		margin-top: 62px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u36670
	{
		z-index: 413;
		height: 565px;
		width: 95.84%;
		margin-left: 2.31%;
	}

	#u36670:hover
	{
		height: 565px;
		width: 95.84%;
		margin-left: 2.31%;
	}

	#u36673-4
	{
		min-height: 28px;
		margin-top: 7px;
		width: 35.15%;
		margin-left: 2.39%;
	}

	#u36673-4:hover
	{
		margin-top: 7px;
		min-height: 28px;
		width: 35.15%;
		margin-left: 2.39%;
	}

	#u36676-4
	{
		min-height: 81px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u36676-4:hover
	{
		min-height: 81px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u36679-4
	{
		min-height: 62px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u36682
	{
		padding-top: 12px;
		padding-bottom: 71.27996309962964px;
		margin-top: 62px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u36697-4
	{
		min-height: 28px;
		width: 35.15%;
		margin-left: 1.35%;
	}

	#u36697-4:hover
	{
		min-height: 28px;
		width: 35.15%;
		margin-left: 1.35%;
	}

	#u36694-4
	{
		min-height: 132px;
		margin-top: 13px;
		width: 96.95%;
		margin-left: 1.35%;
	}

	#u36694-4:hover
	{
		margin-top: 13px;
		min-height: 132px;
		width: 96.95%;
		margin-left: 1.35%;
	}

	#u36691-4
	{
		min-height: 60px;
		margin-top: 42px;
		width: 96.95%;
		margin-left: 1.35%;
	}

	#u36632:hover,#u36703
	{
		margin-top: 60px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u36700-4
	{
		z-index: 361;
		width: 35%;
		margin-left: 2.39%;
	}

	#u36712-4
	{
		z-index: 401;
		margin-top: 34px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#u36712-4:hover
	{
		margin-top: 34px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#ppu36718-4
	{
		margin-top: 4px;
		width: 95.91%;
		margin-left: 2.39%;
	}

	#pu36718-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 14px;
		width: 70.42%;
	}

	#u36718-4
	{
		z-index: 369;
		width: 100%;
	}

	#u36718-4:hover
	{
		margin-top: 0px;
		width: 100%;
		margin-left: 0%;
	}

	#u36706-4
	{
		z-index: 377;
		margin-top: 18px;
		width: 100%;
	}

	#u36709-4
	{
		z-index: 385;
		width: 100%;
	}

	#u36709-4:hover
	{
		width: 100%;
	}

	#u37329
	{
		z-index: 475;
		width: 27.33%;
		left: 72.68%;
	}

	#u37334-4
	{
		z-index: 476;
	}

	#u37333-4
	{
		z-index: 480;
		margin-top: 12px;
	}

	#u37330-4
	{
		z-index: 484;
		margin-top: 11px;
	}

	#u37332-4
	{
		z-index: 488;
		margin-top: 12px;
	}

	#u37331-4
	{
		z-index: 492;
		margin-top: 12px;
	}

	#u36715-4
	{
		z-index: 393;
		margin-top: 7px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#u36715-4:hover
	{
		margin-top: 7px;
		width: 67.54%;
		margin-left: 2.46%;
	}

	#u36721-4
	{
		z-index: 409;
		margin-top: 10px;
		width: 17.65%;
		margin-left: 4.92%;
	}

	#u37147
	{
		z-index: 414;
		padding-bottom: 55px;
		margin-top: 62px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#pu37173-4
	{
		margin-top: 13px;
		width: 44.9%;
		margin-left: 1.35%;
	}

	#u37173-4
	{
		z-index: 422;
		min-height: 31px;
		width: 78.28%;
	}

	#u37173-4:hover
	{
		min-height: 31px;
		width: 78.28%;
	}

	#u37168-4
	{
		z-index: 430;
		min-height: 185px;
		margin-top: 14px;
	}

	#u37168-4:hover
	{
		margin-top: 14px;
		min-height: 185px;
	}

	#u37158-4
	{
		z-index: 438;
		min-height: 101px;
		margin-top: 28px;
	}

	#pu37163
	{
		margin-top: 35px;
		width: 49.74%;
		margin-left: 48.78%;
	}

	#u37163
	{
		z-index: 417;
		height: 397px;
		background-image: url("../images/7315bac0-e0b0-0132-cee9-0e01949ad350-u37163-fr.jpg");
		width: 99.71%;
	}

	#u37163:hover
	{
		height: 397px;
		width: 99.71%;
	}

	#u37153-4
	{
		z-index: 418;
		min-height: 28px;
		margin-top: 7px;
		width: 99.86%;
	}

	#u37204
	{
		z-index: 416;
		padding-bottom: 14.099999999999454px;
		margin-top: 60px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u36703:hover,#u37204:hover
	{
		margin-top: 60px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u37210-4
	{
		z-index: 446;
		width: 35%;
		margin-left: 2.39%;
	}

	#u37230-4
	{
		z-index: 525;
		margin-top: 14px;
		width: 67.54%;
		margin-left: 2.39%;
	}

	#u37230-4:hover
	{
		margin-top: 14px;
		width: 67.54%;
		margin-left: 2.39%;
	}

	#ppu37235-4
	{
		margin-top: 9px;
		width: 95.84%;
		margin-left: 2.39%;
	}

	#pu37235-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 9px;
		width: 70.48%;
	}

	#u37235-4
	{
		z-index: 529;
		width: 100%;
	}

	#u37235-4:hover
	{
		margin-bottom: 0px;
		width: 100%;
		margin-left: 0%;
	}

	#u37215-4
	{
		z-index: 450;
		margin-top: 14px;
		width: 100%;
	}

	#u37215-4:hover
	{
		margin-top: 14px;
		width: 100%;
		margin-left: 0%;
	}

	#u37220-4
	{
		z-index: 517;
		margin-top: 18px;
		width: 100%;
	}

	#u36706-4:hover,#u37220-4:hover
	{
		margin-top: 18px;
		width: 100%;
	}

	#u37319
	{
		z-index: 454;
		width: 27.36%;
		left: 72.73%;
	}

	#u37277-4
	{
		z-index: 455;
	}

	#u37283-4
	{
		z-index: 459;
		margin-top: 12px;
	}

	#u37301-4
	{
		z-index: 463;
		margin-top: 11px;
	}

	#u37365-4:hover,#u37330-4:hover,#u37301-4:hover
	{
		margin-top: 11px;
	}

	#u37307-4
	{
		z-index: 467;
		margin-top: 12px;
	}

	#u37313-4
	{
		z-index: 471;
		margin-top: 12px;
	}

	#u37362-4:hover,#u37361-4:hover,#u37363-4:hover,#u37333-4:hover,#u37332-4:hover,#u37331-4:hover,#u37283-4:hover,#u37307-4:hover,#u37313-4:hover
	{
		margin-top: 12px;
	}

	#u37225-4
	{
		z-index: 521;
		top: -2px;
		margin-bottom: -2px;
		width: 67.54%;
		margin-left: 2.39%;
	}

	#u36652-4:hover,#u37225-4:hover
	{
		margin-bottom: -2px;
		margin-top: 0px;
		width: 67.54%;
		margin-left: 2.39%;
	}

	#u37240-4
	{
		z-index: 533;
		margin-top: 10px;
		width: 17.65%;
		margin-left: 4.92%;
	}

	#u36721-4:hover,#u37240-4:hover
	{
		margin-top: 10px;
		width: 17.65%;
		margin-left: 4.92%;
	}

	#u37178
	{
		z-index: 415;
		padding-top: 30px;
		padding-bottom: 38px;
		margin-top: 62px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#u37184
	{
		z-index: 553;
		height: 545px;
		background-image: url("../images/2014-07-15-10-39-33-pride-flag.jpg");
		width: 95.84%;
		margin-left: 2.31%;
	}

	#u37184:hover
	{
		height: 545px;
		width: 95.84%;
		margin-left: 2.31%;
	}

	#u37194-4
	{
		z-index: 426;
		min-height: 27px;
		margin-top: 7px;
		width: 35.15%;
		margin-left: 2.39%;
	}

	#u37194-4:hover
	{
		margin-top: 7px;
		min-height: 27px;
		width: 35.15%;
		margin-left: 2.39%;
	}

	#u37189-4
	{
		z-index: 434;
		min-height: 78px;
		margin-top: 1px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u37189-4:hover
	{
		margin-top: 1px;
		min-height: 78px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u37199-4
	{
		z-index: 442;
		min-height: 60px;
		width: 95.91%;
		margin-left: 2.31%;
	}

	#u37251-4
	{
		z-index: 554;
		margin-top: 46px;
		width: 67.15%;
		margin-left: 31.15%;
	}

	#pu37267-4
	{
		margin-top: 22px;
	}

	#u37267-4
	{
		z-index: 549;
		width: 11.85%;
		left: 32.7%;
	}

	#u37261-4
	{
		z-index: 545;
		width: 11.85%;
		left: 47.6%;
	}

	#u37255-4
	{
		z-index: 541;
		width: 18.15%;
		left: 62.45%;
	}

	#u37255-4:hover
	{
		width: 18.15%;
	}

	#u37245-4
	{
		z-index: 537;
		width: 11.85%;
		left: 83.65%;
	}

	#u37267-4:hover,#u37261-4:hover,#u37245-4:hover
	{
		width: 11.85%;
	}

	#pu35582
	{
		margin-top: 243px;
	}

	#u35635
	{
		width: 4.15%;
		left: 82.4%;
	}

	#u35637
	{
		width: 4.05%;
	}

	#u35639
	{
		width: 4.15%;
		left: 92.45%;
	}

