.version.things_to_do_around_albany_0326 /* version checker */
{
	color: #0000FA;
	background-color: #2C4985;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 776.8876545000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -17px;
	width: 100%;
}

#u1157
{
	z-index: 55;
	min-height: 55px;
	padding-bottom: 5px;
}

#u8219
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 19.69%;
	left: 2.09%;
}

#menuu1160
{
	z-index: 56;
	width: 664px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 28.75%;
}

#u1161
{
	width: 58px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1164
{
	width: 58px;
	padding-bottom: 17px;
	position: relative;
}

#u1164.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1167-4
{
	width: 40px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1164.MuseMenuActive #u1167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1168
{
	width: 97px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u1171
{
	width: 97px;
	padding-bottom: 17px;
	position: relative;
}

#u1171.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1173-4
{
	width: 79px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1171.MuseMenuActive #u1173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u1205
{
	width: 94px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u1206
{
	width: 94px;
	padding-bottom: 17px;
	position: relative;
}

#u1206.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u1209-4
{
	width: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u1206.MuseMenuActive #u1209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u1226
{
	width: 159px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u1227
{
	width: 159px;
	padding-bottom: 17px;
	position: relative;
}

#u1227.MuseMenuActive
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u1229-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1227.MuseMenuActive #u1229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u4106
{
	width: 77px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u4109
{
	width: 77px;
	padding-bottom: 17px;
	position: relative;
}

#u4109.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u4112-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u4109.MuseMenuActive #u4112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1247
{
	width: 78px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u1250
{
	width: 78px;
	padding-bottom: 17px;
	position: relative;
}

#u1250.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1253-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1250.MuseMenuActive #u1253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1268
{
	width: 89px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u1271
{
	width: 89px;
	padding-bottom: 17px;
	position: relative;
}

#u1271.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u1274-4
{
	width: 72px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1271.MuseMenuActive #u1274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1157-bw
{
	z-index: 55;
	min-height: 55px;
}

#pu6385-4
{
	margin-top: 15px;
	width: 100%;
}

#u6385-4
{
	z-index: 147;
	min-height: 23px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 12.92%;
	left: 10.94%;
}

#u6387-4
{
	z-index: 151;
	min-height: 23px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 12.92%;
	left: 76.15%;
}

#u6388-4
{
	z-index: 155;
	min-height: 66px;
	background-color: transparent;
	line-height: 31px;
	margin-top: 60px;
	position: relative;
	width: 78.23%;
	margin-left: 10.94%;
}

#u6386-4
{
	z-index: 165;
	min-height: 26px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	position: relative;
	width: 21.78%;
	margin-left: 10.94%;
}

#u6389
{
	z-index: 169;
	height: 19px;
	border-style: solid;
	border-color: #002C73;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	width: 78.23%;
	margin-left: 10.94%;
	border-width: 1px 0px 0px;
}

#u6390-6
{
	z-index: 159;
	min-height: 129px;
	background-color: transparent;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
	width: 74.07%;
	margin-left: 12.92%;
}

#u6390-2
{
	font-style: italic;
}

#slideshowu6470
{
	z-index: 174;
	width: 0.01px;
	height: 839px;
	margin-top: 24px;
	position: relative;
	margin-left: 12.82%;
}

#u6474
{
	position: absolute;
	width: 712px;
	height: 552px;
	background-color: transparent;
}

#u6474popup
{
	z-index: 175;
}

#u6475
{
	z-index: 176;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6475_img
{
	margin: -9px -15px -1px -25px;
}

#u6527
{
	z-index: 178;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6527_img
{
	margin-left: -58px;
	margin-right: -58px;
}

#u6553
{
	z-index: 180;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6579
{
	z-index: 182;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6579_img
{
	margin-left: -225px;
	margin-right: -226px;
}

#u6605
{
	z-index: 184;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6605_img
{
	margin-left: -99px;
	margin-right: -72px;
}

#u6631
{
	z-index: 186;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6631_img
{
	margin-left: -19px;
	margin-right: -11px;
	margin-bottom: -5px;
}

#u6657
{
	z-index: 188;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6657_img
{
	margin-left: -19px;
	margin-top: -16px;
	margin-bottom: -58px;
}

#u6683
{
	z-index: 190;
	width: 712px;
	height: 552px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6553_img,#u6683_img
{
	margin-left: -58px;
	margin-right: -59px;
}

#u6478
{
	position: absolute;
	width: 711px;
	background-color: transparent;
	padding-bottom: 29px;
	top: 765px;
	left: 1px;
}

#u6478popup
{
	z-index: 192;
}

#u6479
{
	z-index: 193;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u6533
{
	z-index: 195;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u6533_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u6559
{
	z-index: 197;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#u6585
{
	z-index: 199;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u6611
{
	z-index: 201;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u6611_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u6637
{
	z-index: 203;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u6663
{
	z-index: 205;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u6663_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u6689
{
	z-index: 207;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u6479.SSSlideLinkSelected,#u6533.SSSlideLinkSelected,#u6559.SSSlideLinkSelected,#u6585.SSSlideLinkSelected,#u6611.SSSlideLinkSelected,#u6637.SSSlideLinkSelected,#u6663.SSSlideLinkSelected,#u6689.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6559_img,#u6689_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u6472
{
	position: absolute;
	width: 711px;
	background-color: transparent;
	top: 552px;
	left: 1px;
}

#u6472popup
{
	z-index: 209;
}

#u6473-11
{
	z-index: 210;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6539-11
{
	z-index: 221;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6565-11
{
	z-index: 232;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6591-11
{
	z-index: 243;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6617-11
{
	z-index: 254;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6643-11
{
	z-index: 265;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6669-11
{
	z-index: 276;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6695-10
{
	z-index: 287;
	width: 691px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u6473-3,#u6539-3,#u6565-3,#u6591-3,#u6617-3,#u6643-3,#u6669-3,#u6695-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6473,#u6539,#u6565,#u6591,#u6617,#u6643,#u6669,#u6695
{
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 15px;
}

#u6473-2,#u6539-2,#u6565-2,#u6591-2,#u6617-2,#u6643-2,#u6669-2,#u6695-2
{
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 15px;
}

#u6473-5,#u6539-5,#u6565-5,#u6591-5,#u6617-5,#u6643-5,#u6669-5,#u6695-4
{
	font-weight: 700;
}

#u6482-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 512px;
	left: 602px;
}

#u6482-4popup
{
	z-index: 297;
}

#u6483-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 512px;
	left: 560px;
}

#u6483-4popup
{
	z-index: 301;
}

#u6481-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 512px;
	left: 682px;
}

#u6481-4popup
{
	z-index: 305;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6467-4
{
	z-index: 170;
	width: 711px;
	min-height: 156px;
	background-color: transparent;
	line-height: 17px;
	margin-top: 24px;
	position: relative;
	margin-left: 12.92%;
}

#pu13045-4
{
	margin-top: 24px;
	width: 100%;
}

#u13045-4
{
	z-index: 103;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	width: 26.15%;
	left: 6.67%;
}

#u13046
{
	z-index: 107;
	height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 6.78%;
}

#u13047
{
	z-index: 108;
	height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 66.88%;
	left: 32.82%;
}

#pu13158-4
{
	margin-top: 23px;
	width: 100%;
}

#u13158-4
{
	z-index: 131;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 0.53%;
}

#u13161-4
{
	z-index: 135;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 25.84%;
}

#u13164-4
{
	z-index: 139;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 19.59%;
	left: 51.25%;
}

#u13167-4
{
	z-index: 143;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	width: 10.94%;
	left: 76.67%;
}

#pu13066
{
	margin-top: 13px;
	width: 100%;
}

#u13066
{
	z-index: 109;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.59%;
	left: 2.09%;
}

#u13066:hover
{
	min-height: 0px;
	width: 19.59%;
	margin: -1px -10000px -1px 0%;
}

#u13066.MuseLinkActive
{
	min-height: 0px;
	width: 19.59%;
	margin: -1px -10000px -1px 0%;
}

#u13066_img
{
	padding-right: 1px;
	width: 99.47%;
}

#u13074
{
	z-index: 111;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.48%;
	left: 27.3%;
}

#u13074:hover
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13082
{
	z-index: 113;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 19.48%;
	left: 52.71%;
}

#u13074.MuseLinkActive,#u13082:hover
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13082.MuseLinkActive
{
	min-height: 0px;
	width: 19.48%;
	margin: -1px -10000px -1px 0%;
}

#u13126-4
{
	z-index: 127;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 78.34%;
}

#u13126-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#pu13112-4
{
	margin-top: 11px;
	width: 100%;
}

#u13112-4
{
	z-index: 115;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 2.09%;
}

#u13126-4.MuseLinkActive,#u13112-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13120-4
{
	z-index: 119;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 27.3%;
}

#u13112-4.MuseLinkActive,#u13120-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13123-4
{
	z-index: 123;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 19.69%;
	left: 52.71%;
}

#u13120-4.MuseLinkActive,#u13123-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u13123-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 19.69%;
	margin: 0px -10000px 0px 0%;
}

#u1009
{
	z-index: 2;
	min-height: 215px;
	padding-bottom: 20px;
}

#u1157_align_to_page,#u1009_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#pu1010-4
{
	margin-right: -10000px;
	margin-top: 20px;
	width: 19.69%;
	margin-left: 2.09%;
}

#u1010-4
{
	z-index: 3;
	min-height: 26px;
	position: relative;
	width: 100%;
}

#menuu1011
{
	z-index: 7;
	position: relative;
	width: 95.24%;
}

#u1040
{
	position: relative;
	width: 100%;
}

#u1043
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1046-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1048
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1050-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1036
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1038-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1015
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1016-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u4086
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u4089-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1020
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1022-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1047,#u1033,#u1012,#u4085,#u1019,#u1026
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u1027
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1043.MuseMenuActive,#u1048.MuseMenuActive,#u1036.MuseMenuActive,#u1015.MuseMenuActive,#u4086.MuseMenuActive,#u1020.MuseMenuActive,#u1027.MuseMenuActive
{
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1029-4
{
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u1043.MuseMenuActive #u1046-4,#u1048.MuseMenuActive #u1050-4,#u1036.MuseMenuActive #u1038-4,#u1015.MuseMenuActive #u1016-4,#u4086.MuseMenuActive #u4089-4,#u1020.MuseMenuActive #u1022-4,#u1027.MuseMenuActive #u1029-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1056-4
{
	z-index: 51;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	width: 21.25%;
	left: 40.42%;
}

#pu1055
{
	margin-right: -10000px;
	margin-top: 135px;
	width: 11.36%;
	margin-left: 89.17%;
}

#u1055
{
	z-index: 50;
	width: 109px;
	min-height: 28px;
	position: relative;
}

#u12820
{
	z-index: 101;
	width: 87px;
	min-height: 24px;
	position: relative;
}

#u12825
{
	z-index: 102;
	width: 102px;
	min-height: 24px;
	margin-top: 4px;
	position: relative;
}

#u1009-bw
{
	z-index: 2;
	min-height: 215px;
	margin-top: 16px;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
	min-width: 320px;
}

#u8219_img,#u13074_img,#u13082_img
{
	width: 100%;
}

