.version.world_news /* version checker */
{
	color: #0000F1;
	background-color: #339CCA;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	padding-bottom: 0px;
	width: 100%;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-right: auto;
	background-image: none;
	margin-left: auto;
	z-index: 1;
}

#u176,#u176-bw
{
	height: 81px;
	z-index: 2;
}

#u32889,#u32889-bw
{
	height: 81px;
}

#u1492-3,#u1492-3-bw
{
	min-height: 33px;
	z-index: 3;
}

#u38412-4
{
	font-family: open-sans, sans-serif;
	background-color: transparent;
	text-align: right;
	line-height: 50px;
	min-height: 60px;
	font-weight: 800;
	color: #002C73;
	position: relative;
	font-size: 42px;
}

#u38391
{
	margin-right: -10000px;
	width: 100%;
	padding-top: 23px;
	background-color: #FFFFFF;
	position: relative;
}

#u38395
{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	position: relative;
	background-size: cover;
}

#u38395:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-position: center center;
	filter: alpha(opacity=70);
	min-height: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	opacity: 0.7;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

#u38393-4
{
	top: -1px;
	font-weight: 800;
	line-height: 50px;
	font-family: open-sans, sans-serif;
	margin-bottom: -1px;
	background-color: transparent;
	min-height: 60px;
	position: relative;
	font-size: 42px;
}

#u38393-4:hover
{
	margin-bottom: -1px;
	opacity: 0.5;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	min-height: 60px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#u38394-4
{
	min-height: 46px;
	font-family: open-sans, sans-serif;
	background-color: transparent;
	font-weight: 300;
	color: #323232;
	position: relative;
	font-size: 14px;
	text-align: justify;
}

#u39676-4
{
	min-height: 69px;
	width: 100%;
	font-family: open-sans, sans-serif;
	background-color: transparent;
	font-weight: 300;
	color: #323232;
	position: relative;
	font-size: 14px;
	text-align: justify;
}

#u40167-4
{
	background-color: transparent;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	min-height: 88px;
	font-weight: 800;
	width: 100%;
	position: relative;
	font-size: 30px;
}

#u40171-2
{
	font-style: italic;
}

#u39673,#u40169
{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	margin-right: -10000px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	height: 272px;
	margin-top: 24px;
	position: relative;
	background-size: cover;
}

#u39673:hover,#u40169:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-position: center center;
	filter: alpha(opacity=70);
	min-height: 0px;
	opacity: 0.7;
	height: 272px;
	background-repeat: no-repeat;
	margin: 24px -10000px 0px 0%;
	background-size: cover;
}

#pu39675-4,#pu38370-4
{
	margin-right: -10000px;
}

#u38370-4
{
	background-color: transparent;
	line-height: 34px;
	font-family: open-sans, sans-serif;
	min-height: 88px;
	font-weight: 800;
	width: 100%;
	position: relative;
	font-size: 28px;
}

#u38415,#u42245,#u39671,#u40166,#u38418,#u39578,#u39609
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u39672,#u40170,#u38366,#u39580,#u39610
{
	width: 100%;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#pu40167-4,#pu39582-4,#pu39612-4
{
	margin-top: 40px;
	margin-right: -10000px;
}

#u39675-4,#u39582-4,#u39612-4
{
	background-color: transparent;
	line-height: 50px;
	font-family: open-sans, sans-serif;
	min-height: 88px;
	font-weight: 800;
	width: 100%;
	position: relative;
	font-size: 42px;
}

#u39675-4:hover,#u40167-4:hover,#u38370-4:hover,#u39582-4:hover,#u39612-4:hover
{
	opacity: 0.5;
	padding-bottom: 0px;
	width: 100%;
	filter: alpha(opacity=50);
	min-height: 88px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	padding-top: 0px;
	margin: 0px 0px 0px 0%;
}

#u38393-4:hover p,#u39675-4:hover p,#u40167-4:hover p,#u38370-4:hover p,#u39582-4:hover p,#u39612-4:hover p
{
	visibility: inherit;
	color: #EDA900;
}

#u40171-6,#u38371-4,#u39579-4,#u39614-4
{
	min-height: 69px;
	width: 100%;
	font-family: open-sans, sans-serif;
	background-color: transparent;
	font-weight: 300;
	color: #323232;
	position: relative;
	text-align: justify;
}

#u38367,#u39583,#u39613
{
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
	margin-right: -10000px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	height: 272px;
	margin-top: 24px;
	position: relative;
	background-size: cover;
}

#u38367:hover,#u39583:hover,#u39613:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-position: left center;
	filter: alpha(opacity=70);
	min-height: 0px;
	opacity: 0.7;
	height: 272px;
	background-repeat: no-repeat;
	margin: 24px -10000px 0px 0%;
	background-size: cover;
}

#u52890
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40197,#u39821,#u52891,#u52892
{
	width: 100%;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39823,#u52893
{
	width: 100%;
	background-color: #DBDBDB;
	margin-right: -10000px;
	position: relative;
}

#u42241-4,#u52897-4
{
	background-color: transparent;
	margin-right: -10000px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	min-height: 36px;
	font-weight: 300;
	position: relative;
	font-size: 18px;
}

#u42241,#u52897
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u40126-4,#u40143-4,#u40160-4,#u52896-4,#u63088-4
{
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	background-color: transparent;
	margin-right: -10000px;
	line-height: 22px;
	font-weight: 700;
	position: relative;
	font-size: 18px;
}

#u40126-4:hover,#u40143-4:hover,#u40160-4:hover,#u52896-4:hover,#u63088-4:hover
{
	margin-bottom: 0px;
	opacity: 0.5;
	margin-right: -10000px;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	padding-bottom: 0px;
	margin-left: 0%;
	padding-top: 0px;
}

#u40126-4:hover p,#u40143-4:hover p,#u40160-4:hover p,#u52896-4:hover p,#u63088-4:hover p
{
	visibility: inherit;
	color: #002C73;
}

#u814,#u814-bw
{
	height: 215px;
}

#u815-4
{
	min-height: 26px;
}

#u815-4-bw
{
	min-height: 26px;
	margin-top: 6px;
}

#menuu816
{
	min-height: 131px;
}

#u43587,#u853,#u841,#u820,#u4067,#u825,#u832
{
	min-height: 14px;
	padding-bottom: 3px;
	position: relative;
}

#u43587.MuseMenuActive,#u853.MuseMenuActive,#u841.MuseMenuActive,#u820.MuseMenuActive,#u4067.MuseMenuActive,#u825.MuseMenuActive,#u832.MuseMenuActive
{
	min-height: 14px;
	margin: 0px 0px 0px 0%;
}

#u43589-4,#u855-4,#u843-4,#u821-4,#u4070-4,#u827-4,#u834-4
{
	min-height: 14px;
	top: 1px;
	position: relative;
}

#u43587.MuseMenuActive #u43589-4,#u853.MuseMenuActive #u855-4,#u841.MuseMenuActive #u843-4,#u820.MuseMenuActive #u821-4,#u4067.MuseMenuActive #u4070-4,#u825.MuseMenuActive #u827-4,#u832.MuseMenuActive #u834-4
{
	padding-bottom: 0px;
	min-height: 14px;
	padding-top: 0px;
	margin: 0px 0px 0px 0%;
}

#u852,#u838,#u817,#u4064,#u824,#u831
{
	margin-top: 2px;
}

#menuu816-bw
{
	min-height: 131px;
	margin-top: 32px;
}

#u1693-4
{
	min-height: 21px;
}

#u1693-4-bw
{
	min-height: 21px;
	margin-top: 174px;
}

#u29983
{
	margin-top: 146px;
	margin-right: -10000px;
	position: relative;
}

#u29981,#u29985
{
	margin-top: 145px;
	margin-right: -10000px;
	position: relative;
}

#pu176,#pu1492-3,#pu52890,#pu814,#u29982,#u29984,#u29986
{
	width: 100%;
}

.html
{
	background-color: #F5F5F5;
}

#u40558,body
{
	position: relative;
}

@media (min-width: 1121px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.75px;
		max-width: 1200px;
	}

	#u32889,#u32889-bw
	{
		z-index: 107;
	}

	#menuu676
	{
		z-index: 6;
		width: 658px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		left: 31%;
	}

	#u43521
	{
		width: 56px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u43522
	{
		width: 56px;
		padding-bottom: 17px;
		position: relative;
	}

	#u43522:hover
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43522.MuseMenuActive
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43525-4
	{
		width: 42px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u43522:hover #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u43522.MuseMenuActive #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u684
	{
		width: 96px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 58px;
	}

	#u685
	{
		width: 96px;
		padding-bottom: 17px;
		position: relative;
	}

	#u685:hover
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u685.MuseMenuActive
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u687-4
	{
		width: 82px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u685:hover #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u685.MuseMenuActive #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u698
	{
		width: 93px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 156px;
	}

	#u699
	{
		width: 93px;
		padding-bottom: 17px;
		position: relative;
	}

	#u699:hover
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u699.MuseMenuActive
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u700-4
	{
		width: 79px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u699:hover #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u699.MuseMenuActive #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u712
	{
		width: 161px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 251px;
	}

	#u713
	{
		width: 161px;
		padding-bottom: 17px;
		position: relative;
	}

	#u713:hover
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u713.MuseMenuActive
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u715-4
	{
		width: 147px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u713:hover #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u713.MuseMenuActive #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u4043
	{
		width: 76px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 414px;
	}

	#u4044
	{
		width: 76px;
		padding-bottom: 17px;
		position: relative;
	}

	#u4044:hover
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4044.MuseMenuActive
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4047-4
	{
		width: 62px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u4044:hover #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u4044.MuseMenuActive #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u691
	{
		width: 77px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 492px;
	}

	#u694
	{
		width: 77px;
		padding-bottom: 17px;
		position: relative;
	}

	#u694:hover
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u694.MuseMenuActive
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u695-4
	{
		width: 63px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u694:hover #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u694.MuseMenuActive #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u677
	{
		width: 87px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 571px;
	}

	#u680
	{
		width: 87px;
		padding-bottom: 17px;
		position: relative;
	}

	#u680:hover
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u680.MuseMenuActive
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u683-4
	{
		width: 74px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 6px;
	}

	#u680:hover #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u680.MuseMenuActive #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#slideshowu24475
	{
		z-index: 108;
		width: 0.01px;
		height: 402px;
		position: relative;
	}

	#u24493
	{
		position: absolute;
		width: 349px;
		height: 399px;
	}

	#u24493popup
	{
		z-index: 109;
	}

	#u24498
	{
		z-index: 110;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24506
	{
		z-index: 112;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24496
	{
		z-index: 114;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24504
	{
		z-index: 116;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24494
	{
		z-index: 118;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24500
	{
		z-index: 120;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24502
	{
		z-index: 122;
		width: 349px;
		height: 399px;
		margin-right: -10000px;
		position: relative;
	}

	#u24498_img,#u24506_img,#u24496_img,#u24504_img,#u24494_img,#u24500_img,#u24502_img
	{
		padding-left: 106px;
	}

	#u24509
	{
		position: absolute;
		width: 221px;
	}

	#u24509popup
	{
		z-index: 124;
	}

	#u24510-22
	{
		z-index: 125;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24515-38
	{
		z-index: 147;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24512-23
	{
		z-index: 185;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24516-39
	{
		z-index: 208;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24511-22
	{
		z-index: 247;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24513-38
	{
		z-index: 269;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24514-22
	{
		z-index: 307;
		width: 201px;
		min-height: 381px;
		padding: 10px;
		margin-right: -10000px;
		position: relative;
	}

	#u24517-4
	{
		position: absolute;
		width: 48px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 251px;
	}

	#u24517-4popup
	{
		z-index: 329;
	}

	#u24476-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 360px;
		left: 221px;
	}

	#u24476-4popup
	{
		z-index: 333;
	}

	#u24518-4
	{
		position: absolute;
		width: 10px;
		min-height: 22px;
		padding: 10px;
		top: 359px;
		left: 319px;
	}

	#u24518-4popup
	{
		z-index: 337;
	}

	#u38412-4
	{
		z-index: 367;
		top: -396px;
		margin-bottom: -60px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#pu40558
	{
		margin-top: -332px;
		width: 100%;
	}

	#u40558
	{
		z-index: 341;
		margin-right: -10000px;
		margin-top: 358px;
		width: 29.09%;
	}

	#u24113
	{
		z-index: 342;
		padding-bottom: 0px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u24113_position_content
	{
		margin-bottom: -18px;
		padding-top: 15px;
		width: 100%;
	}

	#u24119-4
	{
		z-index: 343;
		min-height: 28px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24131
	{
		z-index: 351;
		margin-top: 16px;
		position: relative;
		width: 74.5%;
		margin-left: 12.61%;
	}

	#u24131:hover
	{
		min-height: 0px;
		width: 74.5%;
		margin: 16px 0px 0px 12.607449856733524%;
	}

	#u24141-4
	{
		z-index: 347;
		min-height: 28px;
		margin-top: 15px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24141-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 89.98%;
		margin: 15px 0px 0px 3.7249283667621778%;
	}

	#u24144-10
	{
		z-index: 353;
		min-height: 254px;
		margin-top: 17px;
		position: relative;
		width: 89.98%;
		margin-left: 3.73%;
	}

	#u24147-4
	{
		z-index: 363;
		min-height: 49px;
		margin-top: 21px;
		position: relative;
		width: 57.03%;
		margin-left: 36.68%;
	}

	#u24147-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 49px;
		width: 57.03%;
		margin: 21px 0px 0px 36.67621776504298%;
	}

	#pu38415
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u38415
	{
		z-index: 428;
		width: 100%;
	}

	#u38391
	{
		z-index: 429;
		padding-bottom: 24.000000000000455px;
	}

	#u38395
	{
		z-index: 438;
		height: 405px;
		background-image: url("../images/160416-attawapiskat-first-nation-ef-1713_9955daabec34cb7f4f9bb48872b29afdnbcnews-fp-1200-800-u38395-fr.jpg");
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u38395:hover
	{
		height: 405px;
		width: 95.79%;
		margin-left: 2.36%;
	}

	#u38393-4
	{
		z-index: 430;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u38393-4:hover
	{
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u38394-4
	{
		z-index: 434;
		width: 95.91%;
		margin-left: 2.36%;
	}

	#u42245
	{
		z-index: 439;
		width: 100%;
	}

	#u40197
	{
		z-index: 440;
	}

	#u39821
	{
		z-index: 441;
	}

	#u39823
	{
		z-index: 442;
		height: 209px;
	}

	#u40126-4
	{
		z-index: 443;
		min-height: 37px;
		margin-top: 60px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40126-4:hover
	{
		margin-top: 60px;
		min-height: 37px;
		width: 81.39%;
	}

	#u40143-4
	{
		z-index: 447;
		min-height: 37px;
		margin-top: 112px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40143-4:hover
	{
		margin-top: 112px;
		min-height: 37px;
		width: 81.39%;
	}

	#u40160-4
	{
		z-index: 451;
		min-height: 37px;
		margin-top: 164px;
		width: 81.39%;
		left: 2.36%;
	}

	#u40160-4:hover
	{
		margin-top: 164px;
		min-height: 37px;
		width: 81.39%;
	}

	#u42241-4
	{
		z-index: 455;
		margin-top: 9px;
		width: 81.39%;
		left: 2.36%;
	}

	#u39671
	{
		z-index: 404;
		width: 100%;
	}

	#u39672
	{
		z-index: 405;
		padding-bottom: 21px;
	}

	#pu39675-4
	{
		padding-bottom: 0px;
		margin-top: 40px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u39675-4
	{
		z-index: 407;
	}

	#u39676-4
	{
		z-index: 411;
		margin-top: 19px;
	}

	#u39673
	{
		z-index: 406;
		background-image: url("../images/2014-07-15-10-39-33-pride-flag-u39673-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u40166
	{
		z-index: 415;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u40170
	{
		z-index: 416;
		padding-bottom: 21px;
	}

	#pu40167-4
	{
		padding-bottom: 0px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u40167-4
	{
		z-index: 418;
	}

	#u40171-6
	{
		z-index: 422;
		margin-top: 21px;
	}

	#u40169
	{
		z-index: 417;
		background-image: url("../images/cassidy-panama-papers-american-names-1200-u40169-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u38418
	{
		z-index: 371;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u38366
	{
		z-index: 372;
		padding-bottom: 25px;
	}

	#pu38370-4
	{
		margin-top: 40px;
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u38370-4
	{
		z-index: 374;
	}

	#u38371-4
	{
		z-index: 378;
		margin-top: 4px;
	}

	#u38367
	{
		z-index: 373;
		background-image: url("../images/79692_radovan-poster_iff-u38367-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u39578
	{
		z-index: 382;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u39580
	{
		z-index: 383;
		padding-bottom: 21px;
	}

	#u39582-4
	{
		z-index: 385;
	}

	#u39579-4
	{
		z-index: 389;
		margin-top: 38px;
	}

	#u39583
	{
		z-index: 384;
		background-image: url("../images/750x-1-u39583-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u39609
	{
		z-index: 393;
		width: 67.17%;
		margin-left: 31.17%;
	}

	#u39610
	{
		z-index: 394;
		padding-bottom: 21px;
	}

	#pu39582-4,#pu39612-4
	{
		width: 44.92%;
		margin-left: 1.37%;
	}

	#u39612-4
	{
		z-index: 396;
	}

	#u39614-4
	{
		z-index: 400;
		margin-top: 38px;
	}

	#u39613
	{
		z-index: 395;
		background-image: url("../images/download%20_op_3_cp__1458141894329_973815_ver10-u39613-fr.jpg");
		width: 49.51%;
		left: 48.76%;
	}

	#u39673:hover,#u40169:hover,#u38367:hover,#u39583:hover,#u39613:hover
	{
		width: 49.51%;
	}

	#u52890
	{
		z-index: 459;
		width: 67.17%;
		left: 31.17%;
	}

	#u52891
	{
		z-index: 460;
	}

	#u52892
	{
		z-index: 461;
	}

	#u52893
	{
		z-index: 462;
		height: 176px;
	}

	#u52896-4
	{
		z-index: 463;
		min-height: 37px;
		margin-top: 123px;
		width: 81.39%;
		left: 2.36%;
	}

	#u52896-4:hover
	{
		margin-top: 123px;
		min-height: 37px;
		width: 81.39%;
	}

	#u52897-4
	{
		z-index: 467;
		margin-top: 9px;
		width: 81.39%;
		left: 2.36%;
	}

	#u63088-4
	{
		z-index: 471;
		min-height: 37px;
		margin-top: 70px;
		width: 54.67%;
		left: 32.67%;
	}

	#u63088-4:hover
	{
		margin-top: 70px;
		min-height: 37px;
		width: 54.67%;
	}

	#u814,#u814-bw
	{
		z-index: 49;
	}

	#u815-4,#u815-4-bw
	{
		z-index: 50;
	}

	#menuu816,#menuu816-bw
	{
		z-index: 54;
	}

	#u1693-4,#u1693-4-bw
	{
		z-index: 97;
	}

	#u29981
	{
		z-index: 101;
		width: 5.17%;
		left: 80.17%;
	}

	#u29982
	{
		z-index: 102;
	}

	#u29983
	{
		z-index: 103;
		width: 5.09%;
		left: 86.5%;
	}

	#u29984
	{
		z-index: 104;
	}

	#u29985
	{
		z-index: 105;
		width: 5.17%;
		left: 92.75%;
	}

	#u29986
	{
		z-index: 106;
	}

	#u24131_img
	{
		width: 100%;
	}

}

@media (min-width: 901px) and (max-width: 1120px)
{
	#muse_css_mq
	{
		background-color: #000460;
	}

	#bp_1120.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.8499999999999px;
		max-width: 1120px;
	}

	#u40558
	{
		z-index: 108;
		height: 0px;
		margin-top: 116px;
		width: 0%;
	}

	.ie #u40558
	{
		background-color: #FFFFFF;
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
	}

	#pu176
	{
		margin-top: -116px;
	}

	#u32889,#u32889-bw
	{
		z-index: 107;
	}

	#pu1492-3
	{
		margin-top: -35px;
	}

	#menuu676
	{
		z-index: 6;
		width: 658px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		left: 30.99%;
	}

	#u43521
	{
		width: 56px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u43522
	{
		width: 56px;
		padding-bottom: 17px;
		position: relative;
	}

	#u43522:hover
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43522.MuseMenuActive
	{
		width: 56px;
		min-height: 0px;
		margin: 0px;
	}

	#u43525-4
	{
		width: 42px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u43522:hover #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u43522.MuseMenuActive #u43525-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 42px;
		margin: 0px -10000px 0px 0px;
	}

	#u684
	{
		width: 96px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 58px;
	}

	#u685
	{
		width: 96px;
		padding-bottom: 17px;
		position: relative;
	}

	#u685:hover
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u685.MuseMenuActive
	{
		width: 96px;
		min-height: 0px;
		margin: 0px;
	}

	#u687-4
	{
		width: 82px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u685:hover #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u685.MuseMenuActive #u687-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u698
	{
		width: 93px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 156px;
	}

	#u699
	{
		width: 93px;
		padding-bottom: 17px;
		position: relative;
	}

	#u699:hover
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u699.MuseMenuActive
	{
		width: 93px;
		min-height: 0px;
		margin: 0px;
	}

	#u700-4
	{
		width: 79px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u699:hover #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u699.MuseMenuActive #u700-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 79px;
		margin: 0px -10000px 0px 0px;
	}

	#u712
	{
		width: 161px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 251px;
	}

	#u713
	{
		width: 161px;
		padding-bottom: 17px;
		position: relative;
	}

	#u713:hover
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u713.MuseMenuActive
	{
		width: 161px;
		min-height: 0px;
		margin: 0px;
	}

	#u715-4
	{
		width: 147px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u713:hover #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u713.MuseMenuActive #u715-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 147px;
		margin: 0px -10000px 0px 0px;
	}

	#u4043
	{
		width: 76px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 414px;
	}

	#u4044
	{
		width: 76px;
		padding-bottom: 17px;
		position: relative;
	}

	#u4044:hover
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4044.MuseMenuActive
	{
		width: 76px;
		min-height: 0px;
		margin: 0px;
	}

	#u4047-4
	{
		width: 62px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u4044:hover #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u4044.MuseMenuActive #u4047-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 62px;
		margin: 0px -10000px 0px 0px;
	}

	#u691
	{
		width: 77px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 492px;
	}

	#u694
	{
		width: 77px;
		padding-bottom: 17px;
		position: relative;
	}

	#u694:hover
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u694.MuseMenuActive
	{
		width: 77px;
		min-height: 0px;
		margin: 0px;
	}

	#u695-4
	{
		width: 63px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 7px;
	}

	#u694:hover #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u694.MuseMenuActive #u695-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u677
	{
		width: 87px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 571px;
	}

	#u680
	{
		width: 87px;
		padding-bottom: 17px;
		position: relative;
	}

	#u680:hover
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u680.MuseMenuActive
	{
		width: 87px;
		min-height: 0px;
		margin: 0px;
	}

	#u683-4
	{
		width: 74px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 6px;
	}

	#u680:hover #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u680.MuseMenuActive #u683-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u38412-4
	{
		z-index: 109;
		margin-top: 6px;
		width: 67.15%;
		margin-left: 31.17%;
	}

	#u38415
	{
		z-index: 170;
		margin-top: 4px;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u38391
	{
		z-index: 171;
		padding-bottom: 16px;
	}

	#u38395
	{
		z-index: 180;
		height: 418px;
		background-image: url("../images/160416-attawapiskat-first-nation-ef-1713_9955daabec34cb7f4f9bb48872b29afdnbcnews-fp-1200-800.jpg");
		width: 95.84%;
		margin-left: 2.32%;
	}

	#u38395:hover
	{
		height: 418px;
		width: 95.84%;
		margin-left: 2.32%;
	}

	#u38393-4
	{
		z-index: 172;
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u38393-4:hover
	{
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u38394-4
	{
		z-index: 176;
		width: 95.93%;
		margin-left: 2.32%;
	}

	#u42245
	{
		z-index: 181;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u40197
	{
		z-index: 182;
	}

	#u39821
	{
		z-index: 183;
	}

	#u39823
	{
		z-index: 184;
		height: 276px;
	}

	#u40126-4
	{
		z-index: 185;
		min-height: 35px;
		margin-top: 84px;
		width: 96.03%;
		left: 1.39%;
	}

	#u40126-4:hover
	{
		margin-top: 84px;
		min-height: 35px;
		width: 96.03%;
	}

	#u40143-4
	{
		z-index: 189;
		min-height: 34px;
		margin-top: 150px;
		width: 96.03%;
		left: 1.39%;
	}

	#u40143-4:hover
	{
		margin-top: 150px;
		min-height: 34px;
		width: 96.03%;
	}

	#u40160-4
	{
		z-index: 193;
		min-height: 42px;
		margin-top: 216px;
		width: 96.03%;
		left: 1.39%;
	}

	#u40160-4:hover
	{
		margin-top: 216px;
		min-height: 42px;
		width: 96.03%;
	}

	#u42241-4
	{
		z-index: 197;
		margin-top: 19px;
		width: 95.84%;
		left: 1.3%;
	}

	#u39671
	{
		z-index: 146;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u39672
	{
		z-index: 147;
		padding-bottom: 24px;
	}

	#pu39675-4
	{
		margin-top: 40px;
		width: 44.96%;
		margin-left: 1.39%;
	}

	#u39675-4
	{
		z-index: 149;
	}

	#u39676-4
	{
		z-index: 153;
		margin-top: 48px;
	}

	#u39673
	{
		z-index: 148;
		background-image: url("../images/2014-07-15-10-39-33-pride-flag-u39673-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u40166
	{
		z-index: 157;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u40170
	{
		z-index: 158;
		padding-bottom: 41px;
	}

	#u40167-4
	{
		z-index: 160;
	}

	#u40171-6
	{
		z-index: 164;
		margin-top: 48px;
	}

	#u40169
	{
		z-index: 159;
		background-image: url("../images/cassidy-panama-papers-american-names-1200-u40169-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u38418
	{
		z-index: 113;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u38366
	{
		z-index: 114;
		padding-bottom: 28px;
	}

	#pu38370-4
	{
		padding-bottom: 0px;
		margin-top: 40px;
		width: 44.96%;
		margin-left: 1.39%;
	}

	#u38370-4
	{
		z-index: 116;
	}

	#u38371-4
	{
		z-index: 120;
		margin-top: 19px;
	}

	#u38367
	{
		z-index: 115;
		background-image: url("../images/79692_radovan-poster_iff.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u39578
	{
		z-index: 124;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u39580
	{
		z-index: 125;
		padding-bottom: 24px;
	}

	#u39582-4
	{
		z-index: 127;
	}

	#u39579-4
	{
		z-index: 131;
		margin-top: 36px;
	}

	#u39583
	{
		z-index: 126;
		background-image: url("../images/750x-1-u39583-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u39609
	{
		z-index: 135;
		width: 96.52%;
		margin-left: 1.79%;
	}

	#u39610
	{
		z-index: 136;
		padding-bottom: 24px;
	}

	#pu40167-4,#pu39582-4,#pu39612-4
	{
		width: 44.96%;
		margin-left: 1.39%;
	}

	#u39612-4
	{
		z-index: 138;
	}

	#u39614-4
	{
		z-index: 142;
		margin-top: 36px;
	}

	#u39613
	{
		z-index: 137;
		background-image: url("../images/download%20_op_3_cp__1458141894329_973815_ver10-u39613-fr2.jpg");
		width: 49.59%;
		left: 48.85%;
	}

	#u39673:hover,#u40169:hover,#u38367:hover,#u39583:hover,#u39613:hover
	{
		width: 49.59%;
	}

	#u52890
	{
		z-index: 201;
		width: 96.52%;
		left: 1.79%;
	}

	#u52891
	{
		z-index: 202;
	}

	#u52892
	{
		z-index: 203;
	}

	#u52893
	{
		z-index: 204;
		height: 198px;
	}

	#u52896-4
	{
		z-index: 205;
		min-height: 31px;
		margin-top: 130px;
		width: 96.03%;
		left: 1.39%;
	}

	#u52896-4:hover
	{
		margin-top: 130px;
		min-height: 31px;
		width: 96.03%;
	}

	#u52897-4
	{
		z-index: 209;
		margin-top: 19px;
		width: 95.84%;
		left: 1.3%;
	}

	#u63088-4
	{
		z-index: 213;
		min-height: 42px;
		margin-top: 78px;
		width: 92.68%;
		left: 3.04%;
	}

	#u63088-4:hover
	{
		margin-top: 78px;
		min-height: 42px;
		width: 92.68%;
	}

	#u814,#u814-bw
	{
		z-index: 49;
	}

	#u815-4,#u815-4-bw
	{
		z-index: 50;
	}

	#menuu816,#menuu816-bw
	{
		z-index: 54;
	}

	#u1693-4,#u1693-4-bw
	{
		z-index: 97;
	}

	#u29981
	{
		z-index: 101;
		width: 5.18%;
		left: 80.18%;
	}

	#u29982
	{
		z-index: 102;
	}

	#u29983
	{
		z-index: 103;
		width: 5.09%;
		left: 86.52%;
	}

	#u29984
	{
		z-index: 104;
	}

	#u29985
	{
		z-index: 105;
		width: 5.18%;
		left: 92.68%;
	}

	#u29986
	{
		z-index: 106;
	}

}

@media (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.8499999999995px;
		max-width: 900px;
	}

	#u40558
	{
		z-index: 115;
		height: 0px;
		margin-top: 116px;
		width: 0%;
	}

	.ie #u40558
	{
		background-color: #FFFFFF;
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
	}

	#pu176
	{
		margin-top: -116px;
	}

	#u32889,#u32889-bw
	{
		z-index: 64;
	}

	#pu1492-3
	{
		margin-top: -35px;
	}

	#u1492-3-bw
	{
		margin-bottom: -1px;
	}

	#u51803
	{
		z-index: 66;
	}

	#u51804-4
	{
		z-index: 67;
		min-height: 14px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u51804-4:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 14px;
		margin: 0px 0px 0px 0%;
	}

	#u51804-4.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 14px;
		margin: 0px 0px 0px 0%;
	}

	#u51804-3
	{
		margin-left: 10px;
	}

	#u51805
	{
		z-index: 71;
		padding-bottom: 9px;
	}

	#u51822
	{
		min-height: 17px;
		padding-bottom: 6px;
		position: relative;
	}

	#u51822:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51822:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51824-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51822:hover #u51824-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51822:active #u51824-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51829
	{
		min-height: 17px;
		padding-bottom: 6px;
		position: relative;
	}

	#u51822.MuseMenuActive,#u51829:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51829:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51830-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51822.MuseMenuActive #u51824-4,#u51829:hover #u51830-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51829:active #u51830-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51838
	{
		min-height: 17px;
		padding-bottom: 7px;
		position: relative;
	}

	#u51829.MuseMenuActive,#u51838:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51838:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51839-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51829.MuseMenuActive #u51830-4,#u51838:hover #u51839-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51838:active #u51839-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51815
	{
		min-height: 17px;
		padding-bottom: 7px;
		position: relative;
	}

	#u51838.MuseMenuActive,#u51815:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51815:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51817-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51838.MuseMenuActive #u51839-4,#u51815:hover #u51817-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51815:active #u51817-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51810
	{
		min-height: 17px;
		padding-bottom: 7px;
		position: relative;
	}

	#u51815.MuseMenuActive,#u51810:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51810:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51811-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51815.MuseMenuActive #u51817-4,#u51810:hover #u51811-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51810:active #u51811-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51850
	{
		min-height: 17px;
		padding-bottom: 7px;
		position: relative;
	}

	#u51810.MuseMenuActive,#u51850:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51850:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51852-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51810.MuseMenuActive #u51811-4,#u51850:hover #u51852-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51850:active #u51852-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51845
	{
		min-height: 17px;
		padding-bottom: 7px;
		position: relative;
	}

	#u51850.MuseMenuActive,#u51845:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51845:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51845.MuseMenuActive
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51847-4
	{
		min-height: 17px;
		position: relative;
		top: 3px;
	}

	#u51850.MuseMenuActive #u51852-4,#u51845:hover #u51847-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51845:active #u51847-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51845.MuseMenuActive #u51847-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u51828,#u51835,#u51814,#u51807,#u51849,#u51842
	{
		margin-top: 2px;
	}

	#menuu51806,#menuu51806-bw
	{
		z-index: 72;
		min-height: 178px;
	}

	#accordionu51802,#accordionu51802-bw
	{
		z-index: 65;
	}

	#u38412-4
	{
		z-index: 116;
		margin-top: 6px;
		width: 67.23%;
		margin-left: 31.23%;
	}

	#u38415
	{
		z-index: 177;
		margin-top: 4px;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u38391
	{
		z-index: 178;
		padding-bottom: 11px;
	}

	#u38395
	{
		z-index: 187;
		height: 418px;
		background-image: url("../images/160416-attawapiskat-first-nation-ef-1713_9955daabec34cb7f4f9bb48872b29afdnbcnews-fp-1200-800-u38395-fr2.jpg");
		width: 95.75%;
		margin-left: 2.31%;
	}

	#u38395:hover
	{
		height: 418px;
		width: 95.75%;
		margin-left: 2.31%;
	}

	#u38393-4
	{
		z-index: 179;
		width: 95.86%;
		margin-left: 2.31%;
	}

	#u38393-4:hover
	{
		width: 95.86%;
		margin-left: 2.31%;
	}

	#u38394-4
	{
		z-index: 183;
		width: 95.86%;
		margin-left: 2.31%;
	}

	#u42245
	{
		z-index: 188;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u40197
	{
		z-index: 189;
	}

	#u39821
	{
		z-index: 190;
	}

	#u39823
	{
		z-index: 191;
		height: 276px;
	}

	#u40126-4
	{
		z-index: 192;
		min-height: 35px;
		margin-top: 84px;
		width: 95.98%;
		left: 1.39%;
	}

	#u40126-4:hover
	{
		margin-top: 84px;
		min-height: 35px;
		width: 95.98%;
	}

	#u40143-4
	{
		z-index: 196;
		min-height: 34px;
		margin-top: 150px;
		width: 95.98%;
		left: 1.39%;
	}

	#u40143-4:hover
	{
		margin-top: 150px;
		min-height: 34px;
		width: 95.98%;
	}

	#u40160-4
	{
		z-index: 200;
		min-height: 42px;
		margin-top: 216px;
		width: 95.98%;
		left: 1.39%;
	}

	#u40160-4:hover
	{
		margin-top: 216px;
		min-height: 42px;
		width: 95.98%;
	}

	#u42241-4
	{
		z-index: 204;
		margin-top: 19px;
		width: 95.86%;
		left: 1.27%;
	}

	#u39671
	{
		z-index: 153;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u39672
	{
		z-index: 154;
		padding-bottom: 24px;
	}

	#pu39675-4
	{
		margin-top: 24px;
		width: 44.88%;
		margin-left: 1.39%;
	}

	#u39675-4
	{
		z-index: 156;
	}

	#u39676-4
	{
		z-index: 160;
		margin-top: 93px;
	}

	#u39673
	{
		z-index: 155;
		background-image: url("../images/2014-07-15-10-39-33-pride-flag-u39673-fr.jpg");
		width: 49.49%;
		left: 48.8%;
	}

	#u40166
	{
		z-index: 164;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u40170
	{
		z-index: 165;
		padding-bottom: 41px;
	}

	#u40167-4
	{
		z-index: 167;
	}

	#u40171-6
	{
		z-index: 171;
		margin-top: 48px;
	}

	#u40169
	{
		z-index: 166;
		background-image: url("../images/cassidy-panama-papers-american-names-1200-u40169-fr.jpg");
		width: 49.49%;
		left: 48.8%;
	}

	#u38418
	{
		z-index: 120;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u38366
	{
		z-index: 121;
		padding-bottom: 12px;
	}

	#pu38370-4
	{
		padding-bottom: 0px;
		margin-top: 24px;
		width: 44.88%;
		margin-left: 1.39%;
	}

	#u38370-4
	{
		z-index: 123;
	}

	#u38371-4
	{
		z-index: 127;
		margin-top: 35px;
	}

	#u38367
	{
		z-index: 122;
		background-image: url("../images/79692_radovan-poster_iff-u38367-fr2.jpg");
		width: 49.49%;
		left: 48.8%;
	}

	#u39578
	{
		z-index: 131;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u39580
	{
		z-index: 132;
		padding-bottom: 24px;
	}

	#u39582-4
	{
		z-index: 134;
	}

	#u39579-4
	{
		z-index: 138;
		margin-top: 36px;
	}

	#u39583
	{
		z-index: 133;
		background-image: url("../images/750x-1-u39583-fr.jpg");
		width: 49.49%;
		left: 48.8%;
	}

	#u39609
	{
		z-index: 142;
		width: 96.56%;
		margin-left: 1.78%;
	}

	#u39610
	{
		z-index: 143;
		padding-bottom: 24px;
	}

	#pu40167-4,#pu39582-4,#pu39612-4
	{
		width: 44.88%;
		margin-left: 1.39%;
	}

	#u39612-4
	{
		z-index: 145;
	}

	#u39614-4
	{
		z-index: 149;
		margin-top: 36px;
	}

	#u39613
	{
		z-index: 144;
		background-image: url("../images/download%20_op_3_cp__1458141894329_973815_ver10-u39613-fr.jpg");
		width: 49.49%;
		left: 48.8%;
	}

	#u39673:hover,#u40169:hover,#u38367:hover,#u39583:hover,#u39613:hover
	{
		width: 49.49%;
	}

	#u52890
	{
		z-index: 208;
		width: 96.56%;
		left: 1.78%;
	}

	#u52891
	{
		z-index: 209;
	}

	#u52892
	{
		z-index: 210;
	}

	#u52893
	{
		z-index: 211;
		height: 214px;
	}

	#u52896-4
	{
		z-index: 212;
		min-height: 36px;
		margin-top: 144px;
		width: 95.98%;
		left: 1.39%;
	}

	#u52896-4:hover
	{
		margin-top: 144px;
		min-height: 36px;
		width: 95.98%;
	}

	#u52897-4
	{
		z-index: 216;
		margin-top: 19px;
		width: 95.86%;
		left: 1.27%;
	}

	#u63088-4
	{
		z-index: 220;
		min-height: 42px;
		margin-top: 82px;
		width: 92.67%;
		left: 3%;
	}

	#u63088-4:hover
	{
		margin-top: 82px;
		min-height: 42px;
		width: 92.67%;
	}

	#u814,#u814-bw
	{
		z-index: 6;
	}

	#u815-4,#u815-4-bw
	{
		z-index: 7;
	}

	#menuu816,#menuu816-bw
	{
		z-index: 11;
	}

	#u1693-4,#u1693-4-bw
	{
		z-index: 54;
	}

	#u29981
	{
		z-index: 58;
		width: 5.23%;
		left: 80.12%;
	}

	#u29982
	{
		z-index: 59;
	}

	#u29983
	{
		z-index: 60;
		width: 5.12%;
		left: 86.56%;
	}

	#u29984
	{
		z-index: 61;
	}

	#u29985
	{
		z-index: 62;
		width: 5.23%;
		left: 92.67%;
	}

	#u29986
	{
		z-index: 63;
	}

	body
	{
		min-width: 320px;
	}

}

